﻿<h1>WNDR4500v2 Firmware Version 1.0.0.42</h1>
<p><strong>Note: <span style="FONT-FAMILY: 'Arial','sans-serif'; FONT-SIZE: 10pt; mso-fareast-font-family: PMingLiU; mso-font-kerning: 1.0pt; mso-ansi-language: EN-US; mso-fareast-language: ZH-TW; mso-bidi-language: AR-SA">Please remember to do factory default after firmware upgrade. Enter "Backup Settings" in the web GUI and click "Erase" button of "Revert to factory default settings".</span></strong>&#160;</p>
<p><strong>New Features & Bug fixes:</strong></p>
<ul>
<li>Supports SpeedTest link for QoS upstream bandwidth measurement</li>
<li>Resolves Genie login failure when operating in AP Bridge mode</li>
<li>Netgear DDNS support</li>
<li>Access Control support</li>
<li> Resolves ISE CVE-2013-3069~3074.</li>
</ul>
<p><strong>To Install</strong></p>
<blockquote>
<p><b>Note: Do not upgrade the firmware using a wireless connection. Please perform firmware upgrade with “wired” or Ethernet connection only.</b></p>
</blockquote>
<ol>
<li>Write down all the settings which you changed from the default values, since you may need to re-enter them manually.</li>
<li>Download and extract the new firmware</li>
<li>Log in to the router using a Web browser. The URL is <b>http://www.routerlogin.net</b>.</li>
<li>Click <span style="FONT-WEIGHT: bold">ADVANCED tab &gt; Administration &gt; Firmware Upgrade.</span>&#160;</li>
<li>Click <b>Browse</b> and find the file you just downloaded.</li>
<li>Click <b>Upload</b>. Do not interrupt the upgrade while the router does this step.<br /></li>
</ol>
<p><strong><font color="#FF0000">Important Note:</font></strong></p>
<p><strong><font color="#FF0000">1.&#160;</font></strong> <strong><font color="#FF0000">The upgrade process is completed when the on screen progress bar completes. If power LED light turns amber and blinking, power cycle the router to complete the upgrade.</font></strong></p>
<p><strong><font color="#FF0000">2.&#160; If the upgrade progress bar on web GUI doesn’t&#160;display correctly during firmware upgrade, you can still check the status using Power LED. The Power LED should be&#160;blinking (amber) during firmware upgrade.&#160; After firmware upgrade is done and boots up the system, it changes to&#160;steady amber color.<br />
Please DO NOT power off or reboot the device during firmware upgrade, otherwise, it&#160; may result to a corrupt firmware and&#160;cause the device not to work.<br /></font></strong>&#160;</p>
<p>&#160;</p>
<p align="left"><font size="1">Maximum wireless signal rate derived from IEEE Standard 802.11 specifications. Actual data throughput will vary. Network conditions and environmental factors, including volume of network traffic, building materials and construction, and network overhead, lower actual data throughput rate.</font></p>
<p align="left"><font size="1">This product includes software code developed by third parties, including software code subject to the GNU General Public License ("GPL") or GNU Lesser General Public License ("LGPL"). As applicable, the terms of the GPL and LGPL, and information on obtaining access to the GPL Code and LGPL Code used in this product, are available to you at <a href="http://kbserver.netgear.com/kb_web_files/open_src.asp"><font color="#2462AF">NETGEAR's Open Source Code Web page</font></a>. The GPL Code and LGPL Code used in this product is distributed WITHOUT ANY WARRANTY and is subject to the copyrights of one or more authors. For details, see the GPL Code and LGPL Code for this product and the terms of the GPL and LGPL.</font></p>
<p align="right"></p>
<p align="right"></p>
<p align="right"></p>
