<!DOCTYPE HTML>

<html>

<head>

<%11%>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<!--
<meta http-equiv="refresh" content="3">
-->
<title>NETGEAR Router WNDR3400</title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>

<script src="script/jquery.mousewheel.js"></script>
<script src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<script language="javascript" type="text/javascript" src="func.js"></script>
<script language="javascript" type="text/javascript" src="msg.js"></script>
<script language="javascript" type="text/javascript" src="utility.js"></script>
<script language="javascript" type="text/javascript" src="browser.js"></script>

<script language="javascript" type="text/javascript" src="md5.js"></script>
<script language="javascript" type="text/javascript" src="wep.js"></script>
<script language="javascript" type="text/javascript">
<!--
var DisableFixedDNS = false;
var DisableFixedMAC = false;
var MacAddress;
var DodDisable = false;
var DodIndex = 1;

    $(document).ready(function()
    {	
        var form=document.forms[1];
        var gui_region = form.curlang.value;
    
        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
 
        $('#INT_setup').click(function(ev){ 
            parent.loadPage2("BAS_basic.htm");
        }); 

        $('#wireless_setup').click(function(ev){ 
            parent.loadPage2("WLG_wireless_dual_band.htm");
        }); 
        
        $('#wireless_setup_5G').click(function(ev){ 
            parent.loadPage2("WLG_wireless_dual_band.htm");
        });         
        
        $('#guest_setup').click(function(ev){ 
            parent.loadPage2("WLG_wireless_dual_band_2.htm");
        });         
  
        $('#guest_setup_5G').click(function(ev){ 
            parent.loadPage2("WLG_wireless_dual_band_2.htm");
        });   
  
        $('#LAN_setup').click(function(ev){ 
            parent.loadPage2("WLG_adv_dual_band.htm");
        });          
        
        $('.basic-text-menu').each(function(){
             if(gui_region=="Chinese"){
                 $(this).addClass("basic-text-menu-pr"); 
             }else{
                 $(this).removeClass("basic-text-menu-pr"); 
             }
        });
        $('.basic-text-subTitle').each(function(){
             if(gui_region=="Chinese"){
                 $(this).addClass("basic-text-subTitle-pr"); 
             }else{
                 $(this).removeClass("basic-text-subTitle-pr"); 
             }
        });
        $('.basic-text-content').each(function(){
             if(gui_region=="Chinese"){
                 $(this).addClass("basic-text-content-pr"); 
             }else{
                 $(this).removeClass("basic-text-content-pr"); 
             }
        });
        $('.box-header-text').each(function(){
             if(gui_region=="Chinese"){
                 $(this).addClass("box-header-text-pr"); 
             }else{
                 $(this).removeClass("box-header-text-pr"); 
             }
        });       
        /* checking long string */
        if($('.header-text1').text().length>=36 | $('.header-text2').text().length>=36){
               $('#box-header-table1').addClass("box-header-table-large");
               $('#box-header-table2').addClass("box-header-table-large");
               $('#box-header-table1').removeClass("box-header-table");
               $('#box-header-table2').removeClass("box-header-table");                    
        }

        if($('.header-text3').text().length>=36 | $('.header-text4').text().length>=36){
               $('#box-header-table3').addClass("box-header-table-large");
               $('#box-header-table4').addClass("box-header-table-large");
               $('#box-header-table3').removeClass("box-header-table");
               $('#box-header-table4').removeClass("box-header-table");  
        }    
        if($('.header-text5').text().length>=36 | $('.header-text6').text().length>=36){
               $('#box-header-table5').addClass("box-header-table-large");
               $('#box-header-table6').addClass("box-header-table-large");
               $('#box-header-table5').removeClass("box-header-table");
               $('#box-header-table6').removeClass("box-header-table");  
        }   		
		
		       
    });

    function setHelpIframeVisible(){
        $('.bas-help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("down")>=0)
        {
            $(".bas-help-frame-div").show();
            imgSrc.src="img/helparrowup-icon.gif";
        }
        else
        {
            $(".bas-help-frame-div").hide();
            imgSrc.src="img/helparrowdown-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
    }
   
    function loadhelp(fname,anchname)
    {
        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
            $('#page').attr("src",fname+"_h.htm");
        else
            $('#page').attr("src",fname+"_h.htm#"  + anchname);
    }   
    
   

function adjustPageLayout()
{
    adjustButtonSize();
        var table_height1 = $('#page-table1')[0].clientHeight+"px";
        var table_height2 = $('#page-table2')[0].clientHeight+"px";
        var table_height3 = $('#page-table3')[0].clientHeight+"px";
        var table_height4 = $('#page-table4')[0].clientHeight+"px";
        var table_height5 = $('#page-table5')[0].clientHeight+"px";
        var table_height6 = $('#page-table6')[0].clientHeight+"px";		
    
        if($('#page-table1')[0].clientHeight >=  $('#page-table2')[0].clientHeight)
            $('#page-table2').css("height",table_height1);
        else
            $('#page-table1').css("height",table_height2);
            
        if($('#page-table3')[0].clientHeight >=  $('#page-table4')[0].clientHeight)
            $('#page-table4').css("height",table_height3);
        else
            $('#page-table3').css("height",table_height4);    
        if($('#page-table5')[0].clientHeight >=  $('#page-table6')[0].clientHeight)
            $('#page-table6').css("height",table_height5);
        else
            $('#page-table5').css("height",table_height6);
}

function adjustButtonSize()
{
    if($($('#reboot')[0].parentNode)[0].scrollHeight > 25 ||
        $($('#statistics')[0].parentNode)[0].scrollHeight > 25 ||
        $($('#status')[0].parentNode)[0].scrollHeight > 25) 
    {
        $($('#reboot')[0].parentNode).addClass('page-table-button-large-left');
        $($('#reboot')[0].parentNode).removeClass('page-table-button-left');
        $($('#statistics')[0].parentNode).addClass('page-table-button-large-right');
        $($('#statistics')[0].parentNode).removeClass('page-table-button-right');
        $($('#status')[0].parentNode).addClass('page-table-button-large-right');
        $($('#status')[0].parentNode).removeClass('page-table-button-right');
    }
}

function advButtonClick(index){

    if(index==0) // Show Statistics
        openStatisticsWindow();
    else if(index==1)
    {    
          openStatusWindow();
	// document.forms[0].buttonSelect.value="1";
    }
    else if(index==2)
    {
        if(confirm("<%2406%>"))
        {
            document.forms[0].buttonSelect.value="2";
            document.forms[0].submit(document.forms[0]);
        }
    }
}

function openStatWindow() {
	window.open(this.form.stat_page.value, '','height=350,status=yes');
	return ture;
}


function openStatusWindow()
{
    var conn = document.forms[0].wantype.value;
    var winoptions;
    if (conn == "dhcp")
    //if (conn == "dhcp" || conn == "pppoe")
            winoptions = "width=400,height=460,status=yes,resizable=yes";
    else if (conn == "pppoe")
    {
		<%233%>
        if ("<%2407%><%2408%>" == "1")
                winoptions = "width=400,height=600,status=yes,resizable=yes";
        else
		<%234%>
                    winoptions = "width=400,height=360,status=yes,resizable=yes";
    }
    else
            winoptions = "width=400,height=260,status=yes,resizable=yes";
    openDataSubWin('RST_wanstat.htm',winoptions);
}

function openStatisticsWindow()
{
    var conn = document.forms[0].wantype.value;
    var form=document.forms[1];
    var gui_region = form.curlang.value;
    var winoptions;
    if(gui_region=="German"){
       winoptions = "width=1024,height=360,status=yes,resizable=yes";
       openDataSubWin('RST_statistics.htm',winoptions);
    }else{
       winoptions = "width=780,height=360,status=yes,resizable=yes";
       openDataSubWin('RST_statistics.htm',winoptions);
    }
}

function loadSettings()
{
    var cf=document.forms[0];
    
    adjustPageLayout();
 	parent.$('#page2').css("visibility","visible");
    parent.$('#page_contain2').removeClass('main-page-contain-loading'); 
/* 
	if (cf.enable_apmode.value == 1)
    {

        var statusButton;
        cf.Status.disabled = 'true';
        statusButton=document.getElementsByName("Status");
        //statusButton.outerHTML='<button type="submit" disabled value="<%1881%>" name="Remove" class="button-grey" onClick="buttonClick(this,\'<%1881%>\');return remove_disk();"><span class="roundleft_grey">&nbsp;&nbsp; <%1881%></span><span class="roundright_grey">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
        statusButton.outerHTML='<button type="button" disabled class="button-grey" style="float:left" onClick="advButtonClick(1);" onMouseOver="changeCursorPointer();" onMouseOut="changeCursorDefault();" name="Status"><%486%></button>';
        //removeButton[0].style.cursor='default';
    }
*/
}

//-->
</script>


</head>

<body onload="change_size_ADVPage();loadSettings();" bgcolor="#E5E5E5" style="width:640px;margin:0px;padding:0px" onResize="change_size_ADVPage();">
	<form action="newgui_adv_home.cgi" method="post">
	<div id="scroll-pane" class="scroll-pane" style="height:420px;width:670px;overflow:auto;scrolling:auto">
		<table>
			<tr>
				<td>
					<div style="float:left;width:635px;positive:relative;border:0px;padding-left:3px;margin:0px">
						<div style="float:left;width:310px;positive:relative;border:0px;margin-top;0px">
                                                        <div id="box-header-table1" class="box-header-table">
							<table>
							  <tr class="box-header">
								<td style="width:17px">
								  <img src="img/good-icon.gif" style="padding-left:10px;padding-top:3px"/>
								</td>
								<td class="box-header-text header-text1"><%2409%></td>
							  </tr>
							</table>
                                                        </div>
							<table style="width:305px;background-color:#FFFFFF;margin-left:5px;border-collapse:collapse;border-right:3px solid #D0D0D0">
								<tr align="left" valign="bottom"><td>
									<table id="page-table1" class="page-table" style="width:300px;background-color:#FFFFFF;height:150px">
										<tr style="height:6px;background-color:#FFFFFF">
											<td colspan="2" class="basic-table-seperate-border"></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" width="25%" ><%1588%></td>
											<td class="basic-text-content" width="75%"> <%2034%> </td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border" ><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2410%></td>
											<td class="basic-text-content" > <%2035%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2036%></td>
											<td class="basic-text-content" > <%2037%></td>
										</tr>
                                        <%933%>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-subTitle" ><%2411%></td>
											<td class="basic-text-content" > </td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%403%> </td>
											<td class="basic-text-content" > <%2043%> </td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%207%> </td>
											<td class="basic-text-content" ><%17%> </td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2192%> </td>
											<td class="basic-text-content" ><%2412%> </td>
										</tr>
                                        <%940%>
										<!--
										<tr class="basic-text">
											<td class="basic-text-menu" >Last Checked for Upgrade</td>
											<td class="basic-text-content" >3/31/2010 14:55</td>
										</tr>
										-->  
                                        <%941%>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2413%></td>
											<td class="basic-text-content" ><%2414%></td>
										</tr>
                                        <%944%>
                                        <tr >
											<td class="basic-text-menu-bottom">&nbsp;</td>
											<td class="basic-text-content-bottom"></td>
										</tr>	                                        
										<tr class="basic-text" style="align:center">
											<td colspan="2" class="basic-table-seperate-border" style="background-color:#FFFFFF;">
											<table >
											<tr>
											<td width="25%"></td>
											<td  width="50%" class="page-table-button-left" align="center" onClick="advButtonClick(2);" onMouseOver="changeCursorPointer();" onMouseOut="changeCursorDefault();">
													 <span id="reboot"><%2415%></span>	
											</td>
											<td width="25%"></td>
											</tr>
											</table>
											</td>
										</tr>		                                        
									</table>
								</td></tr>
							</table>

							<div class="page-table-bottom-2" > </div>

						</div>

						<div style="float:left;width:310px;posision:relative;">

                                                        <div id="box-header-table2" class="box-header-table">
							<table>

								<tr class="box-header">
									<td style="width:20px">
										<%2416%>
									</td>
                                    <%933%>
									<td class="box-header-text header-text2" style="cursor:pointer;" id="INT_setup"><%2417%></td>
                                    <%940%>
                                    <%941%>
                                    <td class="box-header-text header-text2" style="cursor:pointer;" id="LAN_setup"><%2411%></td>
                                    <%944%>
								</tr>
							</table>
                                                        </div>

							<table style="width:305px;background-color:#FFFFFF;margin-left:5px;border-collapse:collapse;border-right:3px solid #D0D0D0">
								<tr align="left" valign="bottom"><td>
									<table id="page-table2" class="page-table" style="width:300px;background-color:#FFFFFF;" >
										<tr style="height:6px;background-color:#FFFFFF">
											<td colspan="2" class="basic-table-seperate-border"></td>
										</tr>


										<tr class="basic-text">
											<td class="basic-text-menu" width="25%" ><%403%> </td>
                                            <%933%>
											<td class="basic-text-content" width="75%"><%227%></td>
                                            <%940%>
                                            <%941%>
											<td class="basic-text-content" width="75%"><%2043%></td>
                                            <%944%>
										</tr>
                                        <%941%>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2192%> </td>
											<td class="basic-text-content" ><%2412%> </td>
										</tr>    
                                        <%944%>            
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%207%> </td>
                                            <%933%>
											<td class="basic-text-content" ><%633%></td>
                                            <%940%>
                                            <%941%>       
                                            <td class="basic-text-content" ><%945%></td>
                                            <%944%>
										</tr>
                                        <%933%>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2418%> </td>
											<td class="basic-text-content" ><%2419%></td>
										</tr>
                                        <%940%>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%208%> </td>
                                            <%933%>
											<td class="basic-text-content" ><%2420%></td>
                                            <%940%>
                                            <%941%>  
                                            <td class="basic-text-content" ><%946%></td>
                                            <%944%>
										</tr>
                                        <%941%>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%296%> </td>
											<td class="basic-text-content" ><%948%> </td>
										</tr>    
                                        <%944%>                                           
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1872%> </td>
                                            <%933%>
											<td class="basic-text-content" ><%952%></td>
                                            <%940%>
                                            <%941%>                                              
											<td class="basic-text-content" ><%953%><br><%954%></td>
                                            <%944%>
										</tr>		
			

                                        <tr >
											<td class="basic-text-menu-bottom">&nbsp;</td>
											<td class="basic-text-content-bottom"></td>
										</tr>	
										<tr class="basic-text" style="align:center;">
											<td colspan="2" class="basic-table-seperate-border" style="background-color:#FFFFFF;">
											<table ><tr>
											 <td colspan="1" class="page-table-button-right" align="center"   onClick="advButtonClick(0);" onMouseOver="changeCursorPointer();" onMouseOut="changeCursorDefault();">
												 <span id="statistics"><%870%></span>									 
											</td>
											 <td colspan="1" class="page-table-button-right" align="center"  onClick="advButtonClick(1);" onMouseOver="changeCursorPointer();" onMouseOut="changeCursorDefault();">
												 <span id="status" name="Status"><%486%></span>									 
											</td>
											</tr>
											</table></td>
										</tr>										
									</table>
									<input type="hidden" style="float:left;height:0px"></input>	
								</td></tr>
							</table>
							<div class="page-table-bottom-2"> </div>
						</div>

					</div> 
				</td>
			</tr>
			<tr>
				<td style="height:2px;"></td>
			</tr>
			<tr>
				<td><div class="adv-home-table-seperate"></div><div class="adv-home-table-seperate-2"></div></td>
			</tr>
			<tr>
				<td style="height:2px"></td>
			</tr>
			<tr>
				<td>
					<div style="float:left;width:635px;positive:relative;top:0px;padding-left:3px;">

						<div style="float:left;width:310px;positive:relative;top:0px">

                                                        <div id="box-header-table3" class="box-header-table">
							<table>

								<tr class="box-header">
									<td style="width:17px">
										<%2421%>
									</td>
									<td class="box-header-text header-text3" style="cursor:pointer;" id="wireless_setup"><%98%> (2.4GHz)</td>
								</tr>
							</table>
                                                        </div>

							<table style="width:305px;background-color:#FFFFFF;margin-left:5px;border-collapse:collapse;border-right:3px solid #D0D0D0">
								<tr align="left" valign="bottom"><td>
									<table id="page-table3" class="page-table" style="background-color:#FFFFFF;width:300px;height:150px">
										<tr style="height:6px;background-color:#FFFFFF">
											<td colspan="2" class="basic-table-seperate-border"></td>
										</tr>

										<tr class="basic-text">
											<td class="basic-text-menu" ><%1156%></td>
											<td class="basic-text-content" > <%2038%>  </td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1157%></td>
											<td class="basic-text-content" > <%2422%> </td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1186%></td>
											<td class="basic-text-content" > <%2423%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1187%></td>
											<td class="basic-text-content" > <%2424%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>										
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2425%></td>
											<td class="basic-text-content" ><%2426%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2427%></td>
											<td class="basic-text-content" ><%2428%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2429%></td>
											<td class="basic-text-content" ><%2430%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2431%></td>
											<td class="basic-text-content" ><%2432%></td>
										</tr>		
                                        <tr >
											<td class="basic-text-menu-bottom">&nbsp;</td>
											<td class="basic-text-content-bottom"></td>
										</tr>	                                        
									</table>
								</td></tr>
							</table>

							<div class="page-table-bottom-2" > </div>

						</div> 

						<div style="float:left;width:310px;positive:relative;">


                                                        <div id="box-header-table4" class="box-header-table">
							<table>

								<tr class="box-header">
									<td style="width:17px">
										<%2433%>
									</td>
									<td class="box-header-text  header-text4" style="cursor:pointer;" id="wireless_setup_5G"><%98%> (5GHz)</td>
								</tr>
							</table>
                                                        </div>

							<table style="width:305px;background-color:#FFFFFF;margin-left:5px;border-collapse:collapse;border-right:3px solid #D0D0D0">
								<tr align="left" valign="bottom"><td>
									<table id="page-table4" class="page-table" style="background-color:#FFFFFF;width:300px;height:150px">
										<tr style="height:6px;background-color:#FFFFFF">
											<td colspan="2" class="basic-table-seperate-border"></td>
										</tr>

										<tr class="basic-text">
											<td class="basic-text-menu" ><%1156%></td>
											<td class="basic-text-content" ><%2042%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1157%></td>
											<td class="basic-text-content" ><%2434%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1186%></td>
											<td class="basic-text-content" ><%2435%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1187%></td>
											<td class="basic-text-content" ><%2436%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>										
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2425%></td>
											<td class="basic-text-content" ><%2437%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2427%></td>
											<td class="basic-text-content" ><%2438%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2429%></td>
											<td class="basic-text-content" ><%2439%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2431%></td>
											<td class="basic-text-content" ><%2440%></td>
										</tr>
                                        <tr >
											<td class="basic-text-menu-bottom">&nbsp;</td>
											<td class="basic-text-content-bottom"></td>
										</tr>	                                        
									</table>
								</td></tr>
							</table>
							<div class="page-table-bottom-2" > </div>
						</div> 

					</div>
				</td>
			</tr>
			<tr>
				<td style="height:2px;"></td>
			</tr>
			<tr>
				<td><div class="adv-home-table-seperate"></div><div class="adv-home-table-seperate-2"></div></td>
			</tr>
			<tr>
				<td style="height:2px"></td>
			</tr>
			<tr>
				<td>
					<div style="float:left;width:635px;positive:relative;top:0px;padding-left:3px;">

						<div style="float:left;width:310px;positive:relative;top:0px">

                                                        <div id="box-header-table5" class="box-header-table">
							<table>

								<tr class="box-header">
									<td style="width:17px">
										<%2441%>
									</td>
									<td class="box-header-text  header-text5" style="cursor:pointer;" id="guest_setup"><%56%> (2.4 GHz)</td>
								</tr>
							</table>
                                                        </div>

							<table style="width:305px;background-color:#FFFFFF;margin-left:5px;border-collapse:collapse;border-right:3px solid #D0D0D0">
								<tr align="left" valign="bottom"><td>
									<table id="page-table5" class="page-table" style="background-color:#FFFFFF;width:300px;height:150px">
										<tr style="height:6px;background-color:#FFFFFF">
											<td colspan="2" class="basic-table-seperate-border"></td>
										</tr>

										<tr class="basic-text">
											<td class="basic-text-menu" ><%1156%></td>
											<td class="basic-text-content" ><%2442%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2425%></td>
											<td class="basic-text-content" ><%2443%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2427%></td>
											<td class="basic-text-content" ><%2444%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2429%></td>
											<td class="basic-text-content" ><%2445%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1408%></td>
											<td class="basic-text-content" ><%2446%></td>
										</tr>	
                                        <tr >
											<td class="basic-text-menu-bottom">&nbsp;</td>
											<td class="basic-text-content-bottom"></td>
										</tr>	                                      
									</table>
								</td></tr>
							</table>

							<div class="page-table-bottom-2" > </div>

						</div> 

						<div style="float:left;width:310px;positive:relative;">

                                                        <div id="box-header-table6" class="box-header-table">
							<table>

								<tr class="box-header">
									<td style="width:17px">
										<%2447%>
									</td>
									<td class="box-header-text  header-text6" style="cursor:pointer;" id="guest_setup_5G"><%56%> (5 GHz)</td>
								</tr>
							</table>
                                                        </div>

							<table style="width:305px;background-color:#FFFFFF;margin-left:5px;border-collapse:collapse;border-right:3px solid #D0D0D0">
								<tr align="left" valign="bottom"><td>
									<table id="page-table6" class="page-table" style="background-color:#FFFFFF;width:300px;height:150px">
										<tr style="height:6px;background-color:#FFFFFF">
											<td colspan="2" class="basic-table-seperate-border"></td>
										</tr>

										<tr class="basic-text">
											<td class="basic-text-menu" ><%1156%></td>
											<td class="basic-text-content" ><%2448%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2425%></td>
											<td class="basic-text-content" ><%2449%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2427%></td>
											<td class="basic-text-content" ><%2450%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%2429%></td>
											<td class="basic-text-content" ><%2451%></td>
										</tr>
										<tr>
											<td colspan="2" class="basic-table-seperate-border"><div class="basic-table-seperate"></div></td>
										</tr>
										<tr class="basic-text">
											<td class="basic-text-menu" ><%1408%></td>
											<td class="basic-text-content" ><%2452%></td>
										</tr>	
										<tr>
											<td class="basic-text-menu" >&nbsp;</td>
											<td class="basic-text-content" ></td>
										</tr>	
									
									</table>
								</td></tr>
							</table>
							<div class="page-table-bottom-2" > </div>
						</div> 

					</div>
				</td>
			</tr>
			<tr>
				<td style="height:2px;"></td>
			</tr>
			<tr>
				<td><div class="adv-home-table-seperate"></div><div class="adv-home-table-seperate-2"></div></td>
			</tr>
			<tr>
				<td style="height:2px"></td>
			</tr>

		</table>
		</div>
		<input type="hidden" value="1" name="buttonSelect"/>
		<input type="hidden" name="wantype" value="<%168%>">
		<input type="hidden" name="enable_apmode" value="<%142%>">
	</form>  
    <form>
        <input type="hidden" name="curlang" value="<%9%>">  
    </form>    
</body>
</html>



