<!DOCTYPE HTML>
<html>
<head><link rel="stylesheet" type="text/css" media="all" href="css/jScrollPane.css" />
<link rel="stylesheet" href="css/help.css">
<link rel="stylesheet" href="css/scrollbar.css">
<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jScrollPane.js"></script>

<script src="script/script.js"></script>

<%11%>
<title>NETGEAR Router <%12%></title>
<script type="text/javascript" id="sourcecode">
<!--
 $(document).ready(function() {
        $('#content').jScrollPane('scrollbarMargin:5px');

		// Workaround for known Opera issue which breaks demo (see
	// http://jscrollpane.kelvinluck.com/known_issues.html#opera-scrollbar )
		// IE calculates the width incorrectly first time round (it
		// doesn't count the space used by the native scrollbar) so
		// we re-trigger if necessary.
	});
//-->
</script>

</head>
<%289%>

</html>

