<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
 <head>
<%11%>
 <title>NETGEAR Router <%12%></title>

<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
function checkType(wan_proto) // called from basictop.htm
{
	if (basictop.document.forms[0])
	{
		if (wan_proto == "0")
		    basicbuttom.location.href = "BAS_pppoe.htm";
		else if (wan_proto == "1")
		    basicbuttom.location.href = "BAS_pppoe_flet.htm";
		else if (wan_proto == "2")
		    basicbuttom.location.href = "BAS_pppoe_flet2.htm";
		else if (wan_proto == "3")
		    basicbuttom.location.href = "BAS_pppoe_other.htm";
		else
		    basicbuttom.location.href = "BAS_pppoe.htm";
	}
	else 
	    setTimeout('checkType()',300);
}

//-->
</script>

 </head>
<FRAMESET rows="160,*" border="0" framespacing="0" frameborder="no">
  <FRAME src="BAS_pppoe_basictop.htm" name="basictop" scrolling="no" noresize>
  <FRAME src="MNU_blank.htm" name="basicbuttom" scrolling="yes">
  <noframes>
 <body>
    <%1822%>
 </body>
 </noframes>
 </FRAMESET>
</html>
