<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="CDL.css">	
	<title>NETGEAR Genie</title>
	
	
</head>
<script >

function submit()
{
    document.forms["target"].submit();
}

function clickHere()
{
    var mode = <%993%>;
    if(mode == "1"){
        window.open ('start.htm','_blank','fullscreen=yes,toolbar=yes,locaiton=yes');
    }else{
        if(parent.$("#BasicTab").hasClass('current')){
            parent.loadPage("WLG_wireless_dual_band.htm");
        }else{
            parent.loadPage2("WLG_wireless_dual_band.htm");
        }        	
    }

}
</script>
<body style="background-color:#ffffff">
<form id="target"  name="formname" method="POST" action="congratulations.cgi" target="_parent">
	<table border="0" cellpadding="0" cellspacing="3"  width="99%">
	<tr style="height:10px">
		<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td><td class="centerTd"><h2>Congratulations!</h2></td><td>&nbsp;</td>
        <tr>
	<tr>
		<td>&nbsp;</td><td class="textRow centerTd">You are successfully connected to the Internet.</td><td>&nbsp;</td>
        </tr>
	<tr style="height:10px">
		<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
	</tr>
        <tr>
		<td>&nbsp;</td>
                <td class="textRow centerTd" style="<%994%>"><span>Wireless security is not enabled on this router. NETGEAR highly recommends that you </span><span style="text-decoration:underline;font-weight:bold;cursor:pointer;" onClick="window.open ('genie_redirect_successpage2.htm','_blank','');return false;">Click here</span><span> to enable wireless security and protect your network.</span></td>
                <td>&nbsp;</td>
        <tr>
        <tr>
		<td>&nbsp;</td><td class="textRow centerTd" style="<%995%>">This router is preset with the following unique wireless network name (SSID) and <span title="Your router is preset with WPA2-PSK wireless security to protect your network from unwanted access. To join the wireless network, you must enter the network key (password). These preset settings are unique to this device, like a serial number.  If you want to change them, you can do so later in the Wireless Settings screen on the router web GUI." style="text-decoration:underline;">network key (password)</span>.</td><td>&nbsp;</td>
        <tr>
	<tr>
		<td>&nbsp;</td><td></td><td>&nbsp;</td>
        </tr>
	<tr>
        	<td>&nbsp;</td><td class="textRow centerTd" style="<%995%>"><span style="display:-moz-inline-box;display:inline-block;width:300px;">2.4GHz Wireless Network Name (SSID)</span><span ><b><%996%></span></b></td><td>&nbsp;</td>
	</tr>	
	<%911%>
	<tr>
        	<td>&nbsp;</td>
		<td class="textRow centerTd" style="<%997%>"><span style="display:-moz-inline-box;display:inline-block;width:300px;">5GHz Wireless Network Name (SSID)</span><span><b><%998%></b></span>
		</td><td>&nbsp;</td>
	</tr>
        <%928%>	
	<tr>	
		<td>&nbsp;</td>	
		<td class="textRow centerTd" style="<%995%>"><span style="display:-moz-inline-box;display:inline-block;width:300px;">Wireless <span title="<%999%>" style="text-decoration:underline;"> 2.4G  Network Key (Password)</span></span><span><b><%1000%></span></b></td>
		<td>&nbsp;</td>
	</tr>
	<%911%>
	<tr>
                <td>&nbsp;</td>
                <td class="textRow centerTd" style="<%995%>"><span style="display:-moz-inline-box;display:inline-block;width:300px;">Wireless <span title="<%999%>" style="text-decoration:underline;"> 5G  Network Key (Password)</span></span><span><b><%1001%></span></b></td>
                 <td>&nbsp;</td>
	</tr>
	<%928%> 
	<tr>
		<td>&nbsp;</td><td class="textRow centerTd" style="visibility:hidden">&nbsp;</td><td>&nbsp;</td>
	</tr>
        <tr>
		<td>&nbsp;</td>
        	<td class="textRow centerTd">		
			<button class = "purpleBtn"  onclick="window.print();return false;"><span>Print this</span></button>
			<span style="display:-moz-inline-box;display:inline-block;width:20px;"></span>			
			<button class = "greenBtn" onClick="window.open ('genie_redirect_successpage.htm','_blank','');return false;"><span>Take me to the Internet</span></button>
		</td>
		<td>&nbsp;</td>
	</tr>
</form>
</body>
</html>
