<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<script type="text/javascript">
<!--
var pchar = "||"; // progress char
var maxchars = 33; 
var delay_time = 500; // msecs
var charcount = 0; 

function makeStr(strSize, fillChar)
{
	var temp = "";
	for (i=0; i < strSize ; i ++)
		temp = temp + fillChar;
	return temp;
}
function updateProgress()
{
	var cf = document.forms[0];
	var nextF = cf.next_file.value;
	if (charcount < maxchars)
	{
		charcount ++;
		cf.progress.value = makeStr(charcount,pchar);
		setTimeout("updateProgress()",delay_time);
	}
	else
	{ 
		window.location.replace(nextF);
	}
}
//-->
</script>
<style type="text/css">

TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif
}
.prgbar { font-family:Arial; padding:0px; height: 20px; width: 200px; font-weight: bolder; font-size: 10pt; color: #0000FF}
</style>
</head>
<!--
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="updateProgress()" style="margin:0px;background-color:#e5e5e5">
-->
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"  style="margin:0px;background-color:#e5e5e5">
<form name="update" action="update.cgi" method="post" onSubmit="return false">
<input type="hidden" name="next_file" value="<%510%>">

<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
</tr>
<tr>
	<td align="left">
	 <h1><%2171%></h1>
 </td>
 <td nowrap align="left"> &nbsp; </td>
 <td nowrap><input type="text" name="progress" class="prgbar" value=""></td>
 <td nowrap align="left"> &nbsp; </td>
</tr>
                                <script language="javascript" type="text/javascript">
                                <!--
                                updateProgress(); 
                                //-->
                                </script>

<tr> <!-- RULE -->
 <!--<td colspan="4" background="liteblue.gif" height="12"> &nbsp;</td>-->
 <td colspan="4" height="12"><hr color="#0099CC"></td>
</tr>
</table>
</form>
</BODY>
</html>
