<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title> 
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
function delayedLoad(w)
{
	var nextF=document.forms[0].next_file.value;
	setTimeout("location.replace('" + nextF + "')",w);
}
//-->
</script>
</head>
<!--
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="delayedLoad(40000);delayedLoad(45000);">
-->

<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="delayedLoad(60000);delayedLoad(65000);">

<form name="msg_load" action="msg_load.cgi" method="post" onSubmit="return false">
<table WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="4">
<tr>
	<td align="left"><h1><%509%></h1></td>
</tr>
</table>
<input type="hidden" name="next_file" value="<%510%>">
</form>
</BODY>
</HTML>
