<html>
<head>
<%11%>
<meta http-equiv=refresh content=10;url=DNS_ddns_st.htm>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="form.css">
</head>
<body bgcolor="#ffffff"><%508%></body>
</html>
