<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title> 
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%145%>
<script language="javascript" type="text/javascript">
<!--
  
    $(document).ready(function()
    {
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });
		
		$("#target").bind("keypress", function(e) {
              if (e.keyCode == 13) {
                 return false;
              }
           });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,100);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
        var pane = window.frames["helpframe"].$('#content');
        var imgSrc=document.getElementById('help-button');
        if(imgSrc.src.search("up")<0)
        {

            $(".help-frame-div").show();
            pane.jScrollPane({showArrows:true});

            if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
            {
                window.frames["helpframe"].location.href=fname+"_h.htm";
                $(".help-frame-div").show();
            }
            else
            {
                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                $(".help-frame-div").show();
            }

            $(".help-frame-div").show();
            pane.jScrollPane({showArrows:true});
        }
    }

function ShowResult() {
    openDataSubWin('DNS_ddns_st.htm','alwaysRaised,dependent,resizable,scrollbars,width=450,height=150,left=200,top=200');
}

function ddns_active()
{
	var cf =document.forms[0];
	var currentProvider = cf.sysDNSProviderlist.value;
	
	if(currentProvider == 4)
	{
		if(cf.sysDNSActive.checked)
		{
			ungrayout_button("NReset");
		    if(cf.account[1].checked)
			{
				cf.sysDNSHost_Netgear.disabled = false;
				cf.sysDNSEmail_Netgear.disabled = false;
				cf.sysDNSPassword_Netgear.disabled = false;
				//ungrayout_button("NRegister");
			
			
				
			}else
			{
				cf.sysDNSHost_Netgear_account.disabled = false;
				cf.sysDNSEmail_Netgear_account.disabled = false;
				cf.sysDNSPassword_Netgear_account.disabled = false;
				//ungrayout_button("NButton");
				//ungrayout_button("NCancel");
				//ungrayout_button_apply("NApply");
			}
			cf.account[0].disabled = false;
			cf.account[1].disabled = false;
			cf.sysDNSProviderlist.disabled = false;

		}else
		{	
			grayout_button("NReset");
			if(cf.account[1].checked)
			{
				
				cf.sysDNSHost_Netgear.disabled = true;
				cf.sysDNSEmail_Netgear.disabled = true;
				cf.sysDNSPassword_Netgear.disabled = true;
				cf.sysDNSHost_Netgear.value = "";
				cf.sysDNSEmail_Netgear.value = "";
				cf.sysDNSPassword_Netgear.value = "";
				grayout_button("NRegister");
				document.getElementById("text_host_result_id").style.display="none";
				document.getElementById("text_email_result_id").style.display="none";
				document.getElementById("text_pass_result_register_id").style.display="none";
				document.getElementById("register_error").style.display="none";
				document.getElementById("Netgear_img").style.display="none";
				document.getElementById("Netgear_img_no").style.display="none";
				document.getElementById("Netgear_register_email_no").style.display="none";
				document.getElementById("Netgear_img_register_no").style.display="none";
				cf.email_graycheck.value="-1";
				cf.password_graycheck.value="-1";
				cf.host_graycheck.value="-1";
			}else
			{
				cf.sysDNSHost_Netgear_account.disabled = true;
				cf.sysDNSEmail_Netgear_account.disabled = true;
				cf.sysDNSPassword_Netgear_account.disabled = true;
				document.getElementById("text_host_result_account_id").style.display="none";
				document.getElementById("text_email_result_account_id").style.display="none";
				document.getElementById("text_pass_result_account_id").style.display="none";
				document.getElementById("Netgear_img_account_host_no").style.display="none";
				document.getElementById("account_error").style.display="none";
				document.getElementById("Netgear_account_email_no").style.display="none";
				document.getElementById("Netgear_account_confirm_no").style.display="none";
				//grayout_button("NCancel");
				//grayout_button_apply("NApply");
				//grayout_button("NButton");
			}
			cf.account[0].disabled = true;
			cf.account[1].disabled = true;
			cf.sysDNSProviderlist.disabled = true;
				
		}
	}else
	{
		if(cf.sysDNSActive.checked)
		{
				cf.sysDNSHost.disabled = false;
				cf.sysDNSUser.disabled = false;
				cf.sysDNSPassword.disabled = false;
				cf.sysDNSProviderlist.disabled = false;
		}else
		{
				cf.sysDNSHost.disabled = true;
				cf.sysDNSUser.disabled = true;
				cf.sysDNSPassword.disabled = true;
				cf.sysDNSProviderlist.disabled = true;
		}
	}
}


var IsOraySpecific = false;
var Is3322Specific = false;

function chgDns()
{
    var cf =document.forms[0];
    var currentProvider = cf.sysDNSProviderlist.value;
    var netgear_haveaccount = "<%453%>";
	var imgSrc=document.getElementById('help-button');
  
  	
  
    if (currentProvider == 2)//www.ORAY.cn
    {
        var diableButton;
        var hostname = document.getElementsByName("sysDNSHost");
        var inputusername = document.getElementsByName("sysDNSUser");
        var inputpassword = document.getElementsByName("sysDNSPassword");	
        if(!IsOraySpecific)
        {
            inputusername[0].value = "";
            inputpassword[0].value = "";
        }
        hostname[0].value = "";
        inputusername[0].maxLength = 16;
        inputpassword[0].maxLength = 16;
        cf.sysDNSHost.disabled = true;
        document.getElementById("3322_specific").style.display="none";
        document.getElementById("oray_specific").style.display="block";
		document.getElementById("common_specific").style.display="block";
		document.getElementById("common_button").style.display="block";
		
		document.getElementById("Netgear_account_status").style.display="none";
		document.getElementById("Netgear_register").style.display="none";
		document.getElementById("Netgear_account").style.display="none";
		document.getElementById("Netgear_noip").style.display="none";
		document.getElementById("Netgear_success_reset").style.display="none";
		document.getElementById("netgear_button").style.display="none";
	
	    $('#helpframe').attr('src', 'DNS_ddns_h.htm')
	    imgSrc.src="img/helparrowdown-icon.gif";
		
        diableButton = document.getElementsByName("Button");
        diableButton[0].outerHTML='<button  onClick="" type="button" name="Button" value=<%454%> class="button-grey" ><span class="roundleft_grey">&nbsp;&nbsp;  <%454%> </span><span class="roundright_grey">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
        diableButton[0].style.cursor='default';
    }
	else if(currentProvider == 4)//NETGEAR
	{
		
		//alert(currentProvider);
		document.getElementById("3322_specific").style.display="none";
   		document.getElementById("oray_specific").style.display="none";
   		document.getElementById("common_specific").style.display="none";
		document.getElementById("common_button").style.display="none";
		
		document.getElementById("Netgear_noip").style.display="block";
	
		if(cf.success_status.value != "0")
		{
			if(netgear_haveaccount == "1" || netgear_haveaccount == "0")
			{
				document.getElementById("Netgear_account_status").style.display="block";
				//alert(netgear_haveaccount);
				cf.account[1].checked = true;
				ddns_active();
				document.getElementById("Netgear_register").style.display="block";
				document.getElementById("Netgear_img").style.display="none";
				document.getElementById("Netgear_img_no").style.display="none";
				//document.getElementById("Netgear_hostcheck").style.display="none";
				//document.getElementById("text_pass_result_id").style.display="none";
				document.getElementById("text_email_result_id").style.display="none";
				//document.getElementById("Netgear_img_confirm_no").style.display="none";
				//document.getElementById("Netgear_img_confirm").style.display="none";
				document.getElementById("Netgear_register_email_no").style.display="none";
				document.getElementById("text_email_result_account_id").style.display="none";
				document.getElementById("text_pass_result_account_id").style.display="none";
				document.getElementById("account_error").style.display="none";
				document.getElementById("Netgear_account_email_no").style.display="none";
				document.getElementById("Netgear_img_register_no").style.display="none";
				document.getElementById("text_host_result_id").style.display="none";
				document.getElementById("Netgear_account_confirm_no").style.display="none";
				document.getElementById("Netgear_img_account_host_no").style.display="none";
				document.getElementById("text_host_result_account_id").style.display="none";
				document.getElementById("text_pass_result_register_id").style.display="none";
				document.getElementById("register_error").style.display="none";
				grayout_button("NRegister");

				$('#helpframe').attr('src', 'DNS_ddns_Netgear_no_h.htm')
				imgSrc.src="img/helparrowdown-icon.gif";

				cf.sysDNSHost_Netgear.value="";
				cf.sysDNSEmail_Netgear.value="";
				cf.sysDNSPassword_Netgear.value="";
				cf.email_graycheck.value="-1";
				cf.password_graycheck.value="-1";
				cf.host_graycheck.value="-1";
				//cf.sysDNSConfirmPassword_Netgear.value="";
				//statusChange(1);
			}
		}else
		{
			
			document.getElementById("Netgear_success_reset").style.display="block";
			document.getElementById("netgear_button").style.display="block";
			document.getElementById("Netgear_register").style.display="none";
			document.getElementById("Netgear_account_status").style.display="none";
			document.getElementById("Netgear_account").style.display="none";
			ddns_active();
			

		}
	}
    else
    {
	   ddns_active();
        var enableButton;
        var inputusername = document.getElementsByName("sysDNSUser");
        var inputpassword = document.getElementsByName("sysDNSPassword");
        if(IsOraySpecific)
        {
            inputusername[0].value = "";
            inputpassword[0].value = "";
        }
        if(currentProvider == 1)
            document.getElementById("3322_specific").style.display="block";
        else
            document.getElementById("3322_specific").style.display="none";
        inputusername[0].maxLength = 60;
        inputpassword[0].maxLength = 60;
        cf.sysDNSHost.disabled = false;
        document.getElementById("oray_specific").style.display="none";
		document.getElementById("common_specific").style.display="block";
		document.getElementById("common_button").style.display="block";
		
		document.getElementById("Netgear_account_status").style.display="none";
		document.getElementById("Netgear_register").style.display="none";
		document.getElementById("Netgear_account").style.display="none";
		document.getElementById("netgear_button").style.display="none";
		document.getElementById("Netgear_noip").style.display="none";
		document.getElementById("Netgear_success_reset").style.display="none";

		
		$('#helpframe').attr('src', 'DNS_ddns_h.htm')
	    imgSrc.src="img/helparrowdown-icon.gif";
		
		
        enableButton = document.getElementsByName("Button");
        enableButton[0].outerHTML='<button  onClick="buttonClick(this,\'<%454%>\');ShowResult()" type="button" name="Button" value=<%454%> class="button-rule" ><span class="roundleft_button">&nbsp;&nbsp;  <%454%> </span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
        enableButton[0].style.cursor='default';
    }
}

function checkData()
{
    var cf = document.forms[0];
    var currentProvider = cf.sysDNSProviderlist.value;
    var msg = "";
    if(cf.sysDNSActive.checked)
    {
    if(currentProvider != 2)
		
        msg+= checkBlank(cf.sysDNSHost, "<%455%>");
    msg+= checkBlank(cf.sysDNSUser, "<%239%>");
    msg+= checkBlank(cf.sysDNSPassword, "<%253%>");
	}
    
    if(currentProvider == 2)
    {
        if (cf.sysDNSUser.value.match( /[^a-zA-Z0-9\_\-]/ ))
        {      
            alert("<%186%>");
            return false;    
        }
    }
    
    if(currentProvider == 1)
    {
        if(cf.sysDNSUser.value.length < 3)
        {
            alert("<%456%>");
            return false;    
        }
        if(cf.sysDNSUser.value.length > 30)
        {      
            alert("<%457%>");
            return false;    
        }
        
        if(cf.sysDNSPassword.value.length < 6)
        {
            alert("<%458%>");
            return false;    
        }
        if(cf.sysDNSPassword.value.length > 30)
        {      
            alert("<%459%>");
            return false;    
        }
        if (cf.sysDNSUser.value.match( /[^a-zA-Z0-9]/ ))
        {      
            alert("<%186%>");
            return false;    
        }
    }
    
    if (cf.sysDNSHost.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<%460%>");
        return false;
    }

    if (cf.sysDNSUser.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<%461%>");
        return false;
    }
    
	
    if (cf.sysDNSPassword.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<%462%>");
        return false;
    }
    
    if (msg.length > 1)
    {
        alert(msg);
        return false;
    }
    return true;
}

function statusChange(Index)
{
	var cf = document.forms[0];
	var imgSrc=document.getElementById('help-button');
	
	if(Index == 0)
	{
		document.getElementById("Netgear_register").style.display="block";
		document.getElementById("Netgear_account").style.display="none";
		document.getElementById("netgear_button").style.display="none";
		document.getElementById("text_email_result_account_id").style.display="none";
		document.getElementById("text_pass_result_account_id").style.display="none";
		document.getElementById("account_error").style.display="none";
		document.getElementById("Netgear_account_email_no").style.display="none";
		document.getElementById("Netgear_account_confirm_no").style.display="none";
		document.getElementById("text_pass_result_account_id").style.display="none";
		document.getElementById("Netgear_img_account_host_no").style.display="none";
		document.getElementById("text_host_result_account_id").style.display="none";
		
			
		if(cf.sysDNSHost_Netgear.value == "" && cf.sysDNSEmail_Netgear.value == "" && cf.sysDNSPassword_Netgear.value == "")		
			grayout_button("NRegister");
		
	
	
		$('#helpframe').attr('src', 'DNS_ddns_Netgear_no_h.htm')
		imgSrc.src="img/helparrowdown-icon.gif";
		
	}
	else
	{
	
		//document.getElementById("forget_password").style.display="block";
		document.getElementById("Netgear_register").style.display="none";
		document.getElementById("Netgear_account").style.display="block";
		document.getElementById("netgear_button").style.display="block";
		document.getElementById("Netgear_img").style.display="none";
		document.getElementById("Netgear_img_no").style.display="none";
		//document.getElementById("Netgear_hostcheck").style.display="none";
		//document.getElementById("text_pass_result_id").style.display="none";
		document.getElementById("text_email_result_id").style.display="none";
		document.getElementById("text_pass_result_register_id").style.display="none";
		//document.getElementById("Netgear_img_confirm_no").style.display="none";
		//document.getElementById("Netgear_img_confirm").style.display="none";
		document.getElementById("Netgear_register_email_no").style.display="none";
		document.getElementById("Netgear_img_register_no").style.display="none";
		document.getElementById("text_host_result_id").style.display="none";
		document.getElementById("register_error").style.display="none";
		


		cf.sysDNSHost_Netgear.value="";
		cf.sysDNSEmail_Netgear.value="";
		cf.sysDNSPassword_Netgear.value="";
		//cf.sysDNSConfirmPassword_Netgear.value="";
		cf.email_graycheck.value="-1";
		cf.password_graycheck.value="-1";
		cf.host_graycheck.value="-1";
		
		$('#helpframe').attr('src', 'DNS_ddns_Netgear_yes_h.htm')
		imgSrc.src="img/helparrowdown-icon.gif";
		
	
		

	}
	ddns_active();
}


function account_check()
{
	var cf = document.forms[0];
	var email=cf.sysDNSEmail_Netgear_account.value;
	var msg = "";
	emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
	if(cf.sysDNSActive.checked)
	{
		msg+= checkBlank(cf.sysDNSPassword_Netgear_account, "<%463%>");
	    msg+= checkBlank(cf.sysDNSEmail_Netgear_account, "<%464%>");
		msg+= checkBlank(cf.sysDNSHost_Netgear_account, "<%465%>");
			//alert("checkblank"+msg);
	
		if (msg.length > 1)
	    {
	        alert(msg);
	        return false;
	    }
	
		if(email.search(emailRule) == -1)
		{
			document.getElementById("text_email_result_account_id").style.display="block";
			document.getElementById("Netgear_account_email_no").style.display="block";
			return false;
		}else
		{
			document.getElementById("text_email_result_account_id").style.display="none";
			document.getElementById("Netgear_account_email_no").style.display="none";
		}
	
		if (cf.sysDNSHost_Netgear_account.value.match( /[^a-zA-Z0-9\_\-]/ ))
	    {
		
			document.getElementById("text_host_result_account_id").style.display="block";
			document.getElementById("Netgear_img_account_host_no").style.display="block";
	        return false;
	    }else
		{
			document.getElementById("text_host_result_account_id").style.display="none";
			document.getElementById("Netgear_img_account_host_no").style.display="none";
		}
	
		if (cf.sysDNSPassword_Netgear_account.value.match( /[^\x20-\x7E]/ ))
	    {
	        alert("<%466%>");
	        return false;
	    }
	
		if(cf.sysDNSHost_Netgear_account.value.length > 114)
		{
			document.getElementById("text_host_result_account_id").style.display="block";
			document.getElementById("Netgear_img_account_host_no").style.display="block";
			return false;
		}else
		{
			document.getElementById("text_host_result_account_id").style.display="none";
			document.getElementById("Netgear_img_account_host_no").style.display="none";
		}
	
		if(cf.sysDNSEmail_Netgear_account.value.length > 48)
		{
			document.getElementById("text_email_result_account_id").style.display="block";
			document.getElementById("Netgear_account_email_no").style.display="block";
			return false;
		}else
		{
			document.getElementById("text_email_result_account_id").style.display="none";
			document.getElementById("Netgear_account_email_no").style.display="none";
		}
	
		if(cf.sysDNSPassword_Netgear_account.value.length > 32 || cf.sysDNSPassword_Netgear_account.value.length < 6)
		{
			document.getElementById("text_pass_result_account_id").style.display="block";
			document.getElementById("Netgear_account_confirm_no").style.display="block";
			return false;
		}else
		{
			document.getElementById("text_pass_result_account_id").style.display="none";
			document.getElementById("Netgear_account_confirm_no").style.display="none";
		}
	}
	
	return true;
		
}

function register_check()
{
	 var cf = document.forms[0];
	 var password=cf.sysDNSPassword_Netgear.value; 
	 var email=cf.sysDNSEmail_Netgear.value;
	 var msg = "";
	 emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
	msg+= checkBlank(cf.sysDNSPassword_Netgear, "<%463%>");
    msg+= checkBlank(cf.sysDNSEmail_Netgear, "<%464%>");
	//msg+= checkBlank(cf.sysDNSConfirmPassword_Netgear, "<%467%>");
	msg+= checkBlank(cf.sysDNSHost_Netgear, "<%465%>");
		//alert("checkblank"+msg);
	
	if (msg.length > 1)
    {
        alert(msg);
        return false;
    }
	
	
	if(email.search(emailRule) == -1)
	{
		document.getElementById("text_email_result_id").style.display="block";
		document.getElementById("Netgear_register_email_no").style.display="block";
		return false;
	}else
	{
		document.getElementById("text_email_result_id").style.display="none";
		document.getElementById("Netgear_register_email_no").style.display="none";
	}
	
	
	if (cf.sysDNSPassword_Netgear.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<%462%>");
        return false;
    }
	return true;

	 
	 
	 
}


var respflag="0";
function sendhostcheck()
{
		var cf = document.forms[0];
		var hostname=cf.sysDNSHost_Netgear.value;
				
		if(hostname != "")
		{
			if(cf.sysDNSHost_Netgear.value.length > 114 || cf.sysDNSHost_Netgear.value.match( /[^a-zA-Z0-9\_\-]/ ))
			{
			
				document.getElementById("Netgear_img_no").style.display="block";
				document.getElementById("Netgear_img").style.display="none";
				document.getElementById("text_host_result_id").style.display="block";
				cf.host_graycheck.value  = "-1";
			}
			else
			{
			
				document.getElementById("text_host_result_id").style.display="none";
				cf.host_graycheck.value = "0";
				
				
					// Call local PHP file on the device, which handles encryption and sending response
				if(respflag == "0")
				{
					respflag = "-1";
						$.ajax({
							url: 'host_check.php',
							method: 'POST',
							data: {
								hostname: hostname
							},
							success: function(resp) {
							
								if(resp == "available" && cf.sysDNSHost_Netgear.value != "")
								{
									document.getElementById("Netgear_img").style.display="block";
									document.getElementById("Netgear_img_no").style.display="none";
									respflag = "0";
									if( hostname != cf.sysDNSHost_Netgear.value)
										sendhostcheck();
								}
								else if(resp == "unavailable" && cf.sysDNSHost_Netgear.value != "")
								{
									document.getElementById("Netgear_img").style.display="none";
									document.getElementById("Netgear_img_no").style.display="block";
									respflag = "0";
									if( hostname != cf.sysDNSHost_Netgear.value)
										sendhostcheck();
								}else
								{
									document.getElementById("Netgear_img_no").style.display="none";
									document.getElementById("Netgear_img").style.display="none";
									respflag = "0";
								}
								
							}
						});
				}
				
			}
		}else
		{
			
			document.getElementById("Netgear_img_no").style.display="none";
			document.getElementById("Netgear_img").style.display="none";
			document.getElementById("text_host_result_id").style.display="none";
			cf.host_graycheck.value = "-1";
		}
		
			
			
				
		if(cf.email_graycheck.value == "0" && cf.password_graycheck.value == "0" && cf.host_graycheck.value == "0")
		{
			ungrayout_button("NRegister");
		}else if(cf.email_graycheck.value == "-1" || cf.password_graycheck.value == "-1" || cf.host_graycheck.value == "-1")
		{
			grayout_button("NRegister");
			return false;
		}
				
		return true;
}
function hostcheck_account()
{
	var cf = document.forms[0];
	var host_account=cf.sysDNSHost_Netgear_account.value;
	
	if(host_account != "")
	{
		if(cf.sysDNSHost_Netgear_account.value.length > 114 || cf.sysDNSHost_Netgear_account.value.match( /[^a-zA-Z0-9\_\-]/ ))
		{
			
			//cf.text_host_account_result.value="<%468%>";
			document.getElementById("text_host_result_account_id").style.display="block";
			document.getElementById("Netgear_img_account_host_no").style.display="block";
			return false;
		}else
		{
			//cf.text_host_account_result.value="";
			document.getElementById("text_host_result_account_id").style.display="none";
			document.getElementById("Netgear_img_account_host_no").style.display="none";
		}
	}else
	{
		//cf.text_host_account_result.value="";
		document.getElementById("text_host_result_account_id").style.display="none";
		document.getElementById("Netgear_img_account_host_no").style.display="none";
	}
	
	
	return true;
}

function passwordcheck_press()
{
	var cf = document.forms[0];
	var pwd=cf.sysDNSPassword_Netgear.value;
	

	
	if(pwd != "")
	{
		if(cf.sysDNSPassword_Netgear.value.length >= 6)
		{
			if(cf.sysDNSPassword_Netgear.value.length > 32)
			{
				//alert("A password has to be at least 6 characters and at most 32 characters");
				//cf.text_pass_register_result.value="<%466%>";
				document.getElementById("Netgear_img_register_no").style.display="block";
				document.getElementById("text_pass_result_register_id").style.display="block";
				cf.password_graycheck.value = "-1";
		
			}
			else
			{
				//cf.text_pass_register_result.value="";
				document.getElementById("Netgear_img_register_no").style.display="none";
				document.getElementById("text_pass_result_register_id").style.display="none";
				cf.password_graycheck.value = "0";
			
				//cf.text_pass_result.value="";
				//document.getElementById("Netgear_img_confirm").style.display="none";
				//document.getElementById("Netgear_img_confirm_no").style.display="none";
				//document.getElementById("text_pass_result_id").style.display="none";
				//cf.confirmpass_graycheck.value = "0";	
			}
		}else
		{
				document.getElementById("Netgear_img_register_no").style.display="none";
				document.getElementById("text_pass_result_register_id").style.display="none";
				cf.password_graycheck.value = "-1";

		}
		
	}else
	{
			//cf.text_pass_register_result.value="";
			document.getElementById("Netgear_img_register_no").style.display="none";
			document.getElementById("text_pass_result_register_id").style.display="none";
			cf.password_graycheck.value = "-1";
			
			//cf.text_pass_result.value="";
			//document.getElementById("Netgear_img_confirm").style.display="none";
			//document.getElementById("Netgear_img_confirm_no").style.display="none";
			//document.getElementById("text_pass_result_id").style.display="none";
			//cf.confirmpass_graycheck.value = "-1";	
	}
	
	if(cf.email_graycheck.value == "0" && cf.password_graycheck.value == "0" && cf.host_graycheck.value == "0")
	{
		ungrayout_button("NRegister");
	}else if(cf.email_graycheck.value == "-1" || cf.password_graycheck.value == "-1" || cf.host_graycheck.value == "-1")
	{
		grayout_button("NRegister");
		return false;
	}
	return true;
	
}

function passwordcheck()
{
	var cf = document.forms[0];
	var pwd=cf.sysDNSPassword_Netgear.value;
	
	//var pwd_confirm=cf.sysDNSConfirmPassword_Netgear.value;
	
	if(pwd != "")
	{
		if(cf.sysDNSPassword_Netgear.value.length > 32 || cf.sysDNSPassword_Netgear.value.length < 6)
		{
			document.getElementById("Netgear_img_register_no").style.display="block";
			document.getElementById("text_pass_result_register_id").style.display="block";
			cf.password_graycheck.value = "-1";
		
		}
		else
		{
			document.getElementById("Netgear_img_register_no").style.display="none";
			document.getElementById("text_pass_result_register_id").style.display="none";
			cf.password_graycheck.value = "0";
			
		}
	}else
	{
			document.getElementById("Netgear_img_register_no").style.display="none";
			document.getElementById("text_pass_result_register_id").style.display="none";
			cf.password_graycheck.value = "-1";
			
	}
	

	
	
	if(cf.email_graycheck.value == "0" && cf.password_graycheck.value == "0" && cf.host_graycheck.value == "0")
	{
		ungrayout_button("NRegister");
	}else if(cf.email_graycheck.value == "-1" || cf.password_graycheck.value == "-1" || cf.host_graycheck.value == "-1")
	{
		grayout_button("NRegister");
		return false;
	}
	return true;
}

function passwordcheck_account()
{
	var cf = document.forms[0];
	var pwd_account=cf.sysDNSPassword_Netgear_account.value;
	
	if(pwd_account != "")
	{
		if(cf.sysDNSPassword_Netgear_account.value.length > 32 || cf.sysDNSPassword_Netgear_account.value.length < 6)
		{
			//alert("Your password must be at least 6 characters long and at most 64 characters long");
			//cf.text_pass_result_account.value="<%466%>";
			document.getElementById("text_pass_result_account_id").style.display="block";
			document.getElementById("Netgear_account_confirm_no").style.display="block";
			return false;
		}else
		{
			//cf.text_pass_result_account.value="";
			document.getElementById("text_pass_result_account_id").style.display="none";
			document.getElementById("Netgear_account_confirm_no").style.display="none";
		}
	}else
	{
		//cf.text_pass_result_account.value="";
		document.getElementById("text_pass_result_account_id").style.display="none";
		document.getElementById("Netgear_account_confirm_no").style.display="none";
	}
	
	return true;
}


function formatcheck()
{
	var cf = document.forms[0];
	var email=cf.sysDNSEmail_Netgear.value;
	emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;

	if(email != "")
	{
		if(cf.sysDNSEmail_Netgear.value.length > 48)
		{
			document.getElementById("text_email_result_id").style.display="block";
			document.getElementById("Netgear_register_email_no").style.display="block";
			cf.email_graycheck.value="-1";
		}
		else if(email.search(emailRule) == -1)
		{
			document.getElementById("text_email_result_id").style.display="block";
			document.getElementById("Netgear_register_email_no").style.display="block";
			cf.email_graycheck.value="-1";
		}else
		{
			document.getElementById("text_email_result_id").style.display="none";
			document.getElementById("Netgear_register_email_no").style.display="none";
			cf.email_graycheck.value="0";
		}
	}else
	{
			document.getElementById("text_email_result_id").style.display="none";
			document.getElementById("Netgear_register_email_no").style.display="none";
			cf.email_graycheck.value="-1";
	}

	
	if(cf.email_graycheck.value == "0" && cf.password_graycheck.value == "0" && cf.host_graycheck.value == "0")
	{
		ungrayout_button("NRegister");
	}else if(cf.email_graycheck.value == "-1" || cf.password_graycheck.value == "-1" || cf.host_graycheck.value == "-1")
	{
		grayout_button("NRegister");
		return false;
	}
	
	return true;
}

function formatcheck_account()
{
	var cf = document.forms[0];
	var email_account=cf.sysDNSEmail_Netgear_account.value;
	emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
		
	if(email_account != "")
	{
		if(cf.sysDNSEmail_Netgear_account.value.length > 48)
		{
			document.getElementById("text_email_result_account_id").style.display="block";
			document.getElementById("Netgear_account_email_no").style.display="block";
			return false;
		}
		else if(email_account.search(emailRule) == -1)
		{
			document.getElementById("text_email_result_account_id").style.display="block";
			document.getElementById("Netgear_account_email_no").style.display="block";
			return false;
		}else
		{
			document.getElementById("text_email_result_account_id").style.display="none";
			document.getElementById("Netgear_account_email_no").style.display="none";
		}
	}else
	{
			document.getElementById("text_email_result_account_id").style.display="none";
			document.getElementById("Netgear_account_email_no").style.display="none";
	}
	
	return true;
		
}

var press_cancel_flag="0";
function press_cancel()
{
	
	press_cancel_flag = "1";
	
}


function loadSettings()
{

    var cf = document.forms[0];
    var ddnsEnable = "<%469%>";
    var ddnsServer = "<%470%>";
    var ddnsWildCard = "<%471%>";
	var netgear_haveaccount = "<%453%>";
	var netgear_hostcheck_status = "<%472%>";
	var hostname = "<%473%>";
	var email = "<%474%>";
	var pawd = "<%475%>";
	var netgear_create_result;
	var email_confirm;	
	
    if (ddnsServer == "2")
    	IsOraySpecific = true;
    else
        IsOraySpecific = false;
        
    if (ddnsServer == "1")
        Is3322Specific = true;
    else
        Is3322Specific = false;
    
    if (ddnsEnable == "1")
        cf.sysDNSActive.checked = true;
    else
        cf.sysDNSActive.checked = false;
	
    if (ddnsWildCard == "1")
        cf.sysDNSWildCard.checked = true;
    else
        cf.sysDNSWildCard.checked = false;

	
	var success_status_nvram = "<%476%>";
	cf.success_status.value=success_status_nvram;	
		
	if (ddnsServer == "4")
	{	
		
		document.getElementById("3322_specific").style.display="none";
   		document.getElementById("oray_specific").style.display="none";
   		document.getElementById("common_specific").style.display="none";
		document.getElementById("common_button").style.display="none";
		document.getElementById("Netgear_account_status").style.display="block";
		document.getElementById("Netgear_noip").style.display="block";
		document.getElementById("text_pass_result_register_id").style.display="none";
		document.getElementById("Netgear_img_register_no").style.display="none";
		document.getElementById("text_host_result_id").style.display="none";
		document.getElementById("Netgear_img_account_host_no").style.display="none";
		document.getElementById("text_host_result_account_id").style.display="none";


		
		
		netgear_create_result="<%477%>";
		
		if(press_cancel_flag != "1") //press cancel button not show confirm email
		{
			email_confirm="<%478%>";
		}
		else
		{
			email_confirm="";
			press_cancel_flag = "0";
		}
		

	

		if(cf.success_status.value != "0")
		{	
			
			
			document.getElementById("Netgear_success_reset").style.display="none";
			
			if(netgear_haveaccount == "1")
			{
				document.getElementById("text_email_result_account_id").style.display="none";
				document.getElementById("Netgear_account_email_no").style.display="none";
				document.getElementById("Netgear_account_confirm_no").style.display="none";
				document.getElementById("text_pass_result_account_id").style.display="none";
				cf.account[0].checked = true;
		 		statusChange(1);
				document.getElementById("account_error").style.display="block";
				if(email_confirm != "")
				{
					alert(email_confirm);
					//document.getElementById("forget_password").style.display="none";
				}
		 	}
			else if(netgear_haveaccount == "0")
			{
	
			
				if(netgear_create_result != "-1")
				{
					grayout_button("NRegister");
					cf.email_graycheck.value="-1";
					cf.password_graycheck.value="-1";
					cf.host_graycheck.value="-1";
				}else
				{
					cf.sysDNSHost_Netgear.value = hostname;
					cf.sysDNSEmail_Netgear.value = email;
					cf.sysDNSPassword_Netgear.value = pawd;
					cf.email_graycheck.value="0";
					cf.password_graycheck.value="0";
					cf.host_graycheck.value="0";
					ungrayout_button("NRegister");
				
				}
			
		
			
				document.getElementById("text_email_result_id").style.display="none";
				document.getElementById("Netgear_register_email_no").style.display="none";
				document.getElementById("Netgear_img_register_no").style.display="none";
				document.getElementById("text_pass_result_register_id").style.display="none";
				cf.account[1].checked = true;
		 		statusChange(0);
				document.getElementById("register_error").style.display="block";
	
					document.getElementById("Netgear_img").style.display="none";
					document.getElementById("Netgear_img_no").style.display="none";
		
			

		
			}
		}else //reset
		{
		
			document.getElementById("Netgear_success_reset").style.display="block";
			document.getElementById("Netgear_register").style.display="none";
			document.getElementById("Netgear_account_status").style.display="none";
			document.getElementById("Netgear_account").style.display="none";
			ddns_active();
			
		
			
		
		}
	
	}else
	{
		//alert("ddnsServer:"+ddnsServer);
		chgDns();
		press_cancel_flag = "0";
	}	
}

//-->
</script> 
</head>
<body  onload="change_size();loadSettings();" onUnload="closeWin(datSubWinVar);"  class="page-body"  onResize="change_size();" >
<img class="cover-image" src="<%148%>">
<img class="body-image" src="<%149%>">
<div id="full-page-container">

<form id="target"  method="POST" action="ddns.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="<%150%>">
<div class="subhead2"><%103%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
<div id="common_button" style="display: block;">
<table cellpadding="0" cellspacing="3" width="100%">
&nbsp;&nbsp;&nbsp;<button  onClick="buttonClick(this,'<%454%>');ShowResult()" type="button" name="Button" value=<%454%> class="button-rule" ><span class="roundleft_button">&nbsp;&nbsp;  <%454%> </span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button  value="<%197%>" onClick="buttonClick(this,'<%197%>');press_cancel();reset();loadSettings();" type="BUTTOn" name="Cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%198%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button  value="<%195%>"  onClick="buttonClick(this,'<%195%>');return checkData()" type="SUBMIT" name="cfAlert_Apply" class="button-apply" > <span class="roundleft_apply" ><%196%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>

</table>
</div>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
<tr>
	<td width="80%" align="center" style="padding-top:10px;padding-bottom:10px;padding-left:10%">
	<div id="netgear_button" style="display: block;">
	&nbsp;&nbsp;&nbsp;<button  onClick="buttonClick(this,'<%454%>');ShowResult()" type="button" name="NButton" id="NButton" value=<%454%> class="button-rule" ><span class="roundleft_button">&nbsp;&nbsp;  <%454%> </span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	&nbsp;&nbsp;&nbsp;<button value="<%197%>" onClick="buttonClick(this,'<%197%>');press_cancel();reset();loadSettings();" type="button" name="NCancel" id="NCancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%198%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	&nbsp;&nbsp;&nbsp;<button value="<%195%>"  onClick="buttonClick(this,'<%195%>');return account_check()" type="submit" name="NApply" id="NApply" class="button-apply" > <span class="roundleft_apply" ><%196%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
	</div></td>
	<td width="20%" align="center" style="padding-right:10px;">
	<img id="Netgear_noip" style="display: block;width:145px;height:56px" src="DDNS_NoIplog.png">
	</td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
    <td colspan="2">
    <input type="checkbox" name="sysDNSActive" value="dnsEnable" onClick="ddns_active()"> <a href="javascript:loadhelp('DNS_ddns','setup')" tabindex="-1"><b><%479%></b> </a> 
    </td>
	
</tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
    <td width="50%" align="left" nowrap>
    <a href="javascript:loadhelp('DNS_ddns','provider')" tabindex="-1"><b><%480%></b></a> 
    </td>
    <td width="50%" align="right">
    <select name="sysDNSProviderlist" size="1" onchange="chgDns()"><%481%></select></td>


</tr>

<tr><td colspan="2">
	<div id="common_specific" style="display: block;">
	<table cellpadding="0" cellspacing="3" width="100%">
	<tr>
	    <td width="50%" align="left" nowrap><%455%></td>
	 <td width="50%" align="right"><input type="text" name="sysDNSHost" value = "<%482%>" size="32" maxlength="255"></td>
	</tr>
	<tr>
	    <td width="50%" align="left"><%239%></td>
	    <td width="50%" align="right"><input type="text" name="sysDNSUser" value = "<%483%>" size="32" maxlength="60"></td>
	</tr>
	<tr>
	    <td width="50%" align="left"><%253%></td>
	    <td width="50%" align="right"><input type="password" name="sysDNSPassword" value = "<%484%>" size="32" maxlength="60"></td>
	</tr>
	</table>
	</div>
</td></tr>	

<tr><td colspan="2">
<div id="3322_specific" style="display: block;">
<input type="checkbox" name="sysDNSWildCard" value="wildEnable"><%485%></a> 
<table cellpadding="0" cellspacing="3" width="100%">
</table></div></td></tr>
<tr><td colspan="2">
<div id="oray_specific" style="display: block;">
<table cellpadding="0" cellspacing="3" width="100%">
        <tr class="basic-text">
            <td width="75%" align="left" nowrap><b><%486%>:</b></td>
            <td width="25%" align="left" ><%487%></td>
        </tr>
        <tr class="basic-text">
            <td width="75%" align="left" nowrap><%342%>:</td>
            <td width="25%" align="left" ><%488%></td>
        </tr>
        <tr class="basic-text">
            <td width="75%" align="left" nowrap><%489%>:</td>
            <td width="25%" align="left" ><%490%></td>
        </tr>
        <tr class="basic-text">
            <td width="75%" align="left" nowrap" ><%491%>:</td>
            <td width="25%" align="left" nowrap="nowrap"><a class="linktype" target="_blank" href="http://www.oray.cn/passport/register.php"><u><font color="#0000ff">http://www.oray.cn/passport/register.php</font></u></a></td></tr>
        <tr><td width="75%" align="left" nowrap"></td>
            <td width="25%" align="left" nowrap="nowrap"><a class="linktype" target="_blank" href="http://www.oray.cn/peanuthull/service.php"><u><font color="#0000ff">http://www.oray.cn/peanuthull/service.php</font></u></a></td></tr>
        <tr><td width="75%" align="left" nowrap"></td>
            <td width="25%" align="left" nowrap="nowrap"><a class="linktype" target="_blank" href="http://www.oray.cn/ask/"><u><font color="#0000ff">http://www.oray.cn/ask/</font></u></a></td></tr>
</table></div></td></tr>


<tr><td colspan="2">
	<div id="Netgear_account_status" style="display: block;">
	<table cellpadding="0" cellspacing="3" width="100%">
	
	<tr>
	<td colspan="2"> <b><%492%></b></td>
	</tr>
	
	<tr>
	<td colspan="2"><input type="radio"  name="account" value="yes" onClick="statusChange(1)"><%493%></td>
	</tr>

	<tr>
	<td colspan="2"><input type="radio"  name="account" value="no" onClick="statusChange(0)"><%494%></td>
	</tr>
	
	<tr><td height="12" colspan="2"><div style="background-image: url(&quot;liteblue.gif&quot;); width: 100%;">&nbsp;</div></td></tr>

	
	</table>
	</div>
</td>	
</tr>

<tr><td colspan="2">
	<div id="Netgear_success_reset" style="display: block;">
	<table cellpadding="0" cellspacing="3" width="100%">
	<tr>
	     <td width="50%" align="left" nowrap>
		 <b><%495%></b>
		 </td>
	</tr>

	<tr>
	    <td width="50%" align="left"><b><%465%>:</b>&nbsp;<%473%>.mynetgear.com</td>
	</tr>		

	<tr>
	    <td width="50%" align="left"><b><%464%>:</b>&nbsp;<%474%></td>
	</tr>

	<tr>
		<td width="50%" align="left"><%496%><button value="<%497%>" onClick="buttonClick(this,'<%497%>');" type="submit" name="NReset" id="NReset" class="button-rule" ><span class="roundleft_button">&nbsp;&nbsp;<%497%>&nbsp;&nbsp;</span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button><%498%></td>
	</tr>

	</table>
	</div>
</td>	
</tr>


<tr><td colspan="2">
	<div id="Netgear_register" style="display: block;">
	<table cellpadding="0" cellspacing="3" width="100%">
	<tr>
	     <td width="50%" align="left" nowrap>
		 <%499%>
		 </td>
	</tr>

	<tr>
	    <td width="50%" align="left" nowrap><%465%></td>
	 <td width="50%" align="right"><input type="text" name="sysDNSHost_Netgear" size="16" maxlength="114"   onkeyup="return sendhostcheck()">.mynetgear.com</td><!---->
	 <td width="50%" align="right" id="Netgear_img" style="display: block;"> <img  src="DDNS_Yes.png"></td>
	 <td width="50%" align="right" id="Netgear_img_no" style="display: block;"> <img  src="DDNS_No.png"></td>
	</tr>
	
	<tr>
		<td width="50%" align="right"></td>
		<td width="50%" align="right">
		<div id="text_host_result_id" style="display: block;text-align:right;color:#FF0000"><%468%></div>
		<!--<input type="text" id="text_host_result_id" name="text_host_result" size="80" maxlength="55" style="display: block;border-width:0;color:#FF0000;background-color:#FFFFFF;text-align:right" readonly>-->
		</td>
	</tr>
	
	
	<tr>
	    <td width="50%" align="left"><%464%></td>
	    <td width="50%" align="right"><input type="text" name="sysDNSEmail_Netgear" size="30" maxlength="48" onblur="return formatcheck()"></td>

		<td width="50%" align="right" id="Netgear_register_email_no" style="display: block;"> <img src="DDNS_No.png"></td>
	</tr>
	
	<tr>
		<td width="50%" align="right"></td>
		<td width="50%" align="right">
		<div id="text_email_result_id" style="display: block;text-align:right;color:#FF0000"><%500%></div>
		<!--<input type="text" id="text_email_result_id" name="text_email_result" size="50" maxlength="60" style="display: block;border-width:0;color:#FF0000;background-color:#FFFFFF;text-align:right;margin-left: 30%" readonly>-->
		</td>
	</tr>
	
	<tr>
	    <td width="50%" align="left"><%463%></td>
	    <td width="50%" align="right"><input type="text" name="sysDNSPassword_Netgear" size="30" maxlength="32" onblur="return passwordcheck()" onkeyup="return passwordcheck_press()"></td><!--value = "<%475%>"-->
		 <td width="50%" align="right" id="Netgear_img_register_no" style="display: block;"> <img src="DDNS_No.png"></td>
	</tr>
	
	<tr>
		<td width="50%" align="right"></td>
		<td width="50%" align="right">
		<div id="text_pass_result_register_id" style="display: block;text-align:right;color:#FF0000"><%466%></div>
		<!--<input type="text" id="text_pass_result_register_id" name="text_pass_register_result" size="80" maxlength="35" style="display: block;border-width:0;color:#FF0000;background-color:#FFFFFF;text-align:right" readonly>-->
		</td>
	</tr>
	
	<tr>
		<td width="50%" align="left">
		<div id="register_error" style="display: block;">
		<font color="#FF0000"><%501%></font>
		</div>
		</td>
	</tr>  
	
	<tr>
		<td width="50%" align="left">
		<table cellpadding="0" cellspacing="3" width="100%">
		<tr>
		<td align="left">
			<button value="<%502%>" onClick="buttonClick(this,'<%502%>');return register_check()" type="submit" name="NRegister" id="NRegister" class="button-rule" ><span class="roundleft_button">&nbsp;&nbsp;<%502%>&nbsp;&nbsp;</span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
		</td>
		<td align="left" style="padding-left:3%">
			<%503%>
		</td>
		</tr>
		</table>
		</td>
		
	</tr>
                              
	
		
	</table>
	</div>
</td></tr>

<tr><td colspan="2">
	<div id="Netgear_account" style="display: block;">
	<table cellpadding="0" cellspacing="3" width="100%">

	<tr>
	    <td width="50%" align="left" nowrap><%465%></td>
	 	<td width="50%" align="right"><input type="text" name="sysDNSHost_Netgear_account" value = "<%473%>" size="16" maxlength="114" onblur="return hostcheck_account()">.mynetgear.com</td>
		<td width="50%" align="right" id="Netgear_img_account_host_no" style="display: block;"> <img src="DDNS_No.png"></td>
	</tr>
	
	<tr>
		<td width="50%" align="right"></td>
		<td width="50%" align="right">
		<div id="text_host_result_account_id" style="display: block;text-align:right;color:#FF0000"><%468%></div>
		<!--<input type="text" id="text_host_result_account_id" name="text_host_account_result" size="80" maxlength="60" style="display: block;border-width:0;color:#FF0000;background-color:#FFFFFF;text-align:right" readonly>-->
		</td>
	</tr>
	
	<tr>
	    <td width="50%" align="left"><%464%></td>
	    <td width="50%" align="right"><input type="text" name="sysDNSEmail_Netgear_account" value = "<%474%>" size="30" maxlength="48" onblur="return formatcheck_account()"></td>
			<td width="50%" align="right" id="Netgear_account_email_no" style="display: block;"> <img src="DDNS_No.png"></td>
	</tr>
	
	<tr>
		<td width="50%" align="right"></td>
		<td width="50%" align="right">
		<div id="text_email_result_account_id" style="display: block;text-align:right;color:#FF0000"><%500%></div>
		<!--<input type="text" id="text_email_result_account_id" name="text_email_result_account" size="50" maxlength="35" style="display: block;border-width:0;color:#FF0000;background-color:#FFFFFF;text-align:right;margin-left: 30%" readonly>-->
		</td>
	</tr>
	
	<tr>
	    <td width="50%" align="left"><%463%></td>
	    <td width="50%" align="right"><input type="password" name="sysDNSPassword_Netgear_account" value = "<%475%>" size="30" maxlength="32" onblur="return passwordcheck_account()"></td>
		<td width="50%" align="right" id="Netgear_account_confirm_no" style="display: block;"> <img src="DDNS_No.png"></td>
	</tr>
	
	<tr>
		<td width="50%" align="right"></td>
		<td width="50%" align="right">
		<div id="text_pass_result_account_id" style="display: block;text-align:right;color:#FF0000"><%466%></div>
		<!--<input type="text" id="text_pass_result_account_id" name="text_pass_result_account" size="80" maxlength="60" style="display: block;border-width:0;color:#FF0000;background-color:#FFFFFF;text-align:right" readonly>-->
		</td>
	</tr>
	
	<tr>
		<td width="50%" align="left">
		<div id="account_error" style="display: block;">
		<table cellpadding="0" cellspacing="3" width="100%">
		<%504%>
		</table>
		</div>
		</td>
		<td width="50%" align="right"></td>
	</tr>

	<tr>
	<td><br></td>
	</tr>
	<tr>
	<td><br></td>
	</tr>
	
	<tr>
		<td width="50%" align="left"><%505%></td>
	</tr>
	<tr>
		<td width="50%" align="left"><%506%></td>
	</tr>

	
	
	

	

	
	<!--<INPUT name=createres type=hidden value= "<%504%>">-->
	</table>
	</div>
</td></tr>

<tr><td height="12" colspan="2"><div style="background-image: url(&quot;liteblue.gif&quot;); width: 100%;">&nbsp;</div></td></tr>

</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe" name="helpframe" src="DNS_ddns_Netgear_no_h.htm" class="help-iframe" scrolling="no"  frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%158%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%159%> </span>
      </div>




	
	<input name="host_graycheck" type="hidden">
	<input name="email_graycheck" type="hidden" >
	<input name="password_graycheck" type="hidden" >
	<input name="success_status" type="hidden" >
	<!--<input name="confirmpass_graycheck" type="hidden" >-->
	<a name="helpframe-anchor"></a>
</form>

</div>
</body>
</html>

