<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<script type="text/javascript">
<!--


    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function delayedLoad()
{
	var nextF = document.forms[0].next_file.value;
	setTimeout("location.replace('" + nextF + "')", 6000);
}
-->
</script>
</head>
<body   style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="msg" action="fwcheck.cgi" method="post" onSubmit="return false">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">

<table WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="0">

<tr> 
    <td colspan="1" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="0">
<tr>
    <td align=center><b><%1558%>... </b></TD>
</TR>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="0">
<tr> 
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
</table>

<table WIDTH="100%" BORDER="0" CELLSPACING="3" CELLPADDING="0">
<tr>
    <td align="center">
        &nbsp;&nbsp;&nbsp;<button type="SUBMIT" value="<%197%>" name="Cancel" class="button-rule" onclick="buttonClick(this,'<%197%>');" ><span class="roundleft_button">&nbsp;&nbsp; <%197%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td>
</TR>
</TABLE>

<input type="hidden" name="next_file" value=""> 
</form>
</BODY>
</HTML>

