<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>

<script language="javascript" type="text/javascript" src="msg.js"></script>

<script>
function do_redirect()
{
    var gui_language = "<%9%>";
	<%2344%>
    <%2345%>
	<%2346%>
	<%2347%>
    <%2348%>
	<%2349%>
    window.moveTo(0, 0);
    window.resizeTo(screen.width, screen.height);
    if(gui_language == "Japanese")
        top.window.location.href = "http://www.netgear.jp/";
    else
	<%2347%>		
		top.window.location.href = "<%1823%>";
	<%2349%>
	<%2344%>
        top.window.location.href = "http://www.netgear.com/success/<%169%>?sn=<%2350%>";
	<%2346%>
}
</script>
</head>
<body onLoad="do_redirect();">			
</body>
