<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
        <meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>NETGEAR Genie</title>
        <link rel="stylesheet" type="text/css" href="chrome.css">
	<link rel="stylesheet" type="text/css" href="CDL.css">
	<script type="text/javascript">
	var t,objFrame,loadingImg;

	function wait1()
	{

                  
		loadingImg = new Image();
                loadingImg.src = "loading.gif";
                objFrame  =document.getElementById("loading");
     		objFrame.src = loadingImg.src;  
		t = setTimeout('do_submit()',1500);

                <%2266%>;
                if(top.parent.frames['topframe'] != null ){           
                   top.parent.frames['topframe'].location="genie_top.htm"; 
                }
                
	}

	function do_submit()
	{
		document.forms[0].submit();
		objFrame.src = loadingImg.src; 
                clearTimeout(t);              
	}
	
     

	</script>
</head>
<body  onLoad="wait1();" style="background-color:#ffffff">	
	<table border="0" cellpadding="0" cellspacing="3"  width="99%">
		<tr style="line-height:50px">
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td class="centerTd" style="font-family: Arial, Helvetica, sans-serif; "><h2>Detect if there is a existing router in your network, please wait...</h2></td><td>&nbsp;</td>
        	<tr>
                <tr style="height:40px">
                  	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
               </tr>	
		<tr>
		        <td>&nbsp;</td><td class = "LoadingImg" style="border:0;" ><img id="loading" frameborder="0" border="0" ></td><td>&nbsp;</td>
        	</tr>
		<form name="formname" method="POST" action="genie_ap_start.cgi">
			 <input type="hidden" name="WDect" value="Execute">
             <input type="hidden" name="disable_menu" value="true">
		</form>
	</table>
	
</body>
