<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
	<%11%>
	<title>NETGEAR   Genie</title>
	<link rel="stylesheet" type="text/css" href="<%992%>">
	<script type="text/javascript">
	var t,objFrame,loadingImg;

	function wait1()
	{
		loadingImg = new Image();
                loadingImg.src = "loading.gif";
                objFrame  =document.getElementById("loading");
     		objFrame.src = loadingImg.src;  
		t = setTimeout('do_submit()',1500);
	}

	function do_submit()
	{
		document.forms[0].submit();
		objFrame.src = loadingImg.src;  
	}


	</script>
</head>
<body  onLoad="wait1();" style="background-color:#ffffff">		
<table border="0" cellpadding="0" cellspacing="3" width="99%">
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="centerTd">
		 <h2><%1839%></h2>
        </td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td><td class="textRow centerTd" ><%2300%></td><td>&nbsp;</td>
<tr>
<tr style="height:40px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>	
<tr>
	<td>&nbsp;</td><td class = "LoadingImg" style="border:0;" ><img id="loading" src="loading.gif" frameborder="0" border="0" ></td><td>&nbsp;</td>
</tr>
	<form name="formname" method="POST" action="genieping.cgi">
		 <input type="hidden" name="WDect" value="Execute">
         <input type="hidden" name="disable_menu" value="true">
	</form>
	</table>
	
</body>
