<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<%11%>
<title>NETGEAR   Genie</title>
<%145%>
<link rel="stylesheet" href="<%992%>">
<script type="text/javascript">
function goBasic()
{
     var ret;
     ret = confirm("<%2267%>");
     if(ret==1){
         top.location.href="genie_basic.htm";
     }else{
         return false;
     }

}

function loadcheck()
{
	var cf = document.forms[0];
	if(isIE()){
		cf.bpa_username.size="24";
		cf.bpa_passwd.size="24";
	}
}


function checkData()
{
	var cf = document.forms[0];
	var msg = "";

	msg+= checkBlank(cf.bpa_username, "<%239%>");
	msg+= checkBlank(cf.bpa_server, "<%1123%>");
	if(cf.bpa_idletime.value.length<=0)
	 msg+= "<%237%>";
	else if(!_isNumeric(cf.bpa_idletime.value))
	 msg+= "<%238%>";
	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}
	return true;
}

function goSetting() {
	top.location.href="genie_basic.htm"
}

</script>
</head>
<body bgcolor="#ffffff">
<table border="0" cellpadding="0" cellspacing="3" width="99%">
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="centerTd">
		<h2 style="color:#ff0000;"><%2352%></h2>
        </td>
	<td>&nbsp;</td>

</tr>
<tr>	
	<td>&nbsp;</td>
	<td class="textRow centerTd"><p><%2353%></p></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1" onFocus="this.blur()"style="background:url(roundedcornr_input.gif) no-repeat 270px top;padding-top:8px;"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px;padding-right:10px"><%2299%></span><input type="text" name="pppoe_username" style="width:150px;position:relative; left:20px;top:-2px;height:18px" type="text" name="bpa_username" size="15" maxlength="60" value="<%1126%>"></td>
	&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1" onFocus="this.blur()"style="background:url(roundedcornr_input.gif) no-repeat 270px top;padding-top:8px;"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px;padding-right:10px"><%1877%></span><input type="password" style="width:150px;position:relative; left:20px;top:-2px;height:18px" name="bpa_passwd" size="15" maxlength="50" value="<%1127%>"></td>
	<td>&nbsp;</td>
</tr>

<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1" onFocus="this.blur()"style="background:url(roundedcornr_input.gif) no-repeat 270px top;padding-top:8px;"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px;padding-right:10px"><%2316%></span><input type="text" style="width:150px;position:relative; left:20px;top:-2px;height:18px" name="bpa_server" size="15" maxlength="128" value="<%1128%>"></td>
	<td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td NOWRAP class="inputRow centerTd" tabindex="-1" onFocus="this.blur()"style="background:url(roundedcornr_input.gif) no-repeat 270px top;padding-top:8px;"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px;padding-right:10px"><%2312%></span><input type="text" style="width:150px;position:relative; left:20px;top:-2px;height:18px" class="num" name="bpa_idletime" size="4" maxlength="3" value="<%1124%>"></td>
	<td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="textRow centerTd2">
		<div ID="buttons">
			<button class="purpleBtn" name="Next" onClick="goBasic();" type="button"><span><%2354%></span></button>
			<span style="display:-moz-inline-box;display:inline-block;width:20px;"></span>
			<button value="submit"  class="purpleBtn" width=100px name="Next" onClick="return checkData()" type="submit"><span><%1838%></span></button>
		</div>
	</td>
	<td>&nbsp;</td>
</tr>
</table>
<form name="formname" method="POST" action="genie_bpa.cgi"> 
<input type="hidden" name="runtest" value="<%219%>">
</form>
</body>
</html>
