<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
<script>
function do_redirect()
{
   <%2351%>
   window.location.href = "backpage.htm";
}
</script>
</head>
<body onLoad="do_redirect();">
</body>
