<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<%11%>
<title>NETGEAR   Genie</title>
<link rel="stylesheet" href="<%992%>">
</head>
<body>
<table BORDER="0" CELLSPACING="0" CELLPADDING="5" width="99%">
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td class="centerTd">
		<h2 style="color:#ff0000;"><%1584%></h2>
        </td>
	<td>&nbsp;</td>

</tr>
<tr><td>&nbsp;</td><td class="textRow centerTd"><p><%1585%> <b><%17%></b>.</p></td><td>&nbsp;</td></tr>  
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr style="height:10px">
	<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
</tr>
<tr>	
	<td>&nbsp;</td>
	<td  class="textRow centerTd2">
			<button class = "purpleBtn" onClick="location.href='<%2355%>'"><span><%1587%></span></button>
	</td>
	<td>&nbsp;</td>	
</tr>
</table>
</body>
</html>
