<html><head>
<%11%>
<title>NETGEAR Router <%12%></title>
<script language="javascript" type="text/javascript">
function loadnext() {
	var showit=(document.layers)?"show":"block";
	var hideit=(document.layers)?"hide":"none";
	var el = "alltext";

	if (document.all)
		document.all(el).style.display = hideit ;
	else if (document.getElementById)
		document.getElementById(el).style.display = hideit ;
	else if (document.layers)
		document.layers[el].visibility = hideit ;

    if("<%13%>" == "1")
    {
        if ("<%14%>" == "1")
            top.location.replace("welcome.htm");
        else
            top.location.replace("start.htm");
    }
    else if ("<%15%>" == "1")
        top.location.replace("http://www.routerlogin.com/start.htm");
    else if ("<%16%>" == "1" || 
             "<%16%>" == "3")
        top.location.replace("http://<%17%>/traffic_start_update.htm");
    else
        top.location.replace("start.htm"); 
}
</script></head>
<body bgcolor="#ffffff" text="#666666" onload="loadnext()"> 
<div ID="alltext" STYLE="position:absolute;left:50px;top:200px;">
<font face="Arial,Helvetica">
<h4><%18%></h4>
<p><%19%>
<P><%20%>
<P><%21%></p>
</font>
</div>
</body>
</html>

