<!DOCTYPE HTML>
<html>
<head>
<%11%>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<title>NETGEAR Router <%12%></title> 
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<%145%>
<script language="javascript" type="text/javascript">
<!--
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function init()
{
    var cf = document.forms[0];
    var lanSplit = cf.lanIP.value.split(".");

    cf.rsv_ip1.value=lanSplit[0];
    cf.rsv_ip2.value=lanSplit[1];
    cf.rsv_ip3.value=lanSplit[2];
    cf.rsv_ip4.value="";

    return true;
}

function goBack()
{
	window.location.href="LAN_lan.htm";
}
function checkData()
{
	var cf = document.forms[0];
	var msg = "";
	var rv_ip = cf.reserved_ips.value.split(" ");
	var rv_mac = cf.reserved_macs.value.split(" ");
	var rv_dv_name=cf.reserved_devname.value.split("|");
	var i, conflict, reply;

	var str_dhcp_start = "<%737%>";
	var str_dhcp_end = "<%738%>"
	var dhcp_startaddr = str_dhcp_start.split(".");
	var dhcp_endaddr = str_dhcp_end.split(".");

	if(checkIP(cf.rsv_ip1,cf.rsv_ip2,cf.rsv_ip3,cf.rsv_ip4,254)
		|| (parseInt(cf.rsv_ip4.value, 10) == 0))
		msg+= "<%10%>";

	if(checkMacStr(cf.rsv_mac))
		msg+= "<%0%>\n";
	msg+= checkBlank(cf.dv_name, "<%402%>");
	if (cf.dv_name.value.match( /[^\x20-\x7E]/ ))
		msg+="<%712%>\n";
	if((cf.dv_name.value == "UNKNOWN")||(cf.dv_name.value == "UNKNOWN NAME"))
		msg+="<%711%>\n";

	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}
    cf.rsv_ip.value =  parseInt(cf.rsv_ip1.value, 10)+'.'+ parseInt(cf.rsv_ip2.value, 10)+'.'
                     + parseInt(cf.rsv_ip3.value, 10)+'.'+ parseInt(cf.rsv_ip4.value, 10);
    cf.rsv_mac.value = cf.rsv_mac.value.replace(/:/g,"");
    cf.rsv_mac.value = cf.rsv_mac.value.replace(/-/g,"");
    i = 0;
    while (typeof rv_ip[i] != "undefined") {
        rv_mac[i]=rv_mac[i].replace(/:/g,"");
        rv_mac[i]=rv_mac[i].replace(/-/g,"");
        if ((rv_ip[i] == cf.rsv_ip.value) || (rv_mac[i] == cf.rsv_mac.value)||(rv_dv_name[i]==cf.dv_name.value)) {
            conflict = true;
            break;
        }
        i++;
    }
    if (conflict) {
        reply = confirm("<%747%>");
        if (!reply)
            return false;
    }
	return true;
}

function sel(ipaddr, name, macaddr)
{
	var cf = document.forms[0];
	var ip = ipaddr.split(".");
	cf.rsv_ip1.value = ip[0];
	cf.rsv_ip2.value = ip[1];
	cf.rsv_ip3.value = ip[2];
	cf.rsv_ip4.value = ip[3];
	cf.dv_name.value = name;
	cf.rsv_mac.value = macaddr;
	//cf.macaddr.value = v;
	//cf.submit();
}

//-->
</script> 
</head>
<body  onload="change_size();init();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="<%148%>">
<img class="body-image" src="<%149%>">
<div id="full-page-container">

<form id="target"  method="POST" action="reserv.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">

<img class="subtop-image" src="<%150%>">
<div class="subhead2"> <%731%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%346%>" onClick="buttonClick(this,'<%346%>');if(!checkData()) return false;" type="SUBMIT" name="apply" class="button-apply" ><span class="roundleft_apply"><span class="add-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%346%></span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>&nbsp;&nbsp;&nbsp;<button value="<%197%>" onClick="buttonClick(this,'<%197%>');location.href='LAN_lan.htm'" type="Button" name="cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%198%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>&nbsp;&nbsp;&nbsp;<button value="<%197%>" onClick="buttonClick(this,'<%400%>');location.href='LAN_reserv_add.htm'" type="Button" name="refresh" class="button-rule" ><span class="roundleft_button"><span class="refresh-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%400%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">


<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
 <td colspan="2" ><a href="javascript:loadhelp('LAN_reserv_add','reserved')" tabindex="-1"><b><%748%></b></a></td>
</tr>


<tr><td>
<table border="1"   width="100%">

<tr>
 <td nowrap align="center" width="10%"><span class="thead"> &nbsp;</span></td>
 <td nowrap align="center" width="10%"><span class="thead"># </span></td>
 <td nowrap align="center" width="20%"><span class="thead"><%207%></span></td>
 <td nowrap align="center" width="30%"><span class="thead"><%402%></span></td>
 <td nowrap align="center" width="30%"><span class="thead"><%403%></span></td>
</tr>
<%749%>
</table></td></tr>


<tr><td>
<table border="0"   width="100%">

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
	<td nowrap><%207%></td>
	<td width="50%" align="left" class="num">
		<input type="text" name="rsv_ip1" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.
		<input type="text" name="rsv_ip2" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
		<input type="text" name="rsv_ip3" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
		<input type="text" name="rsv_ip4" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>
<tr>
	<td nowrap><%403%></td>
	<td width="50%" align="left" class="num"><input type="text" name="rsv_mac" class="num" size="17" maxlength="17"></td>
</tr>
<tr>
	<td nowrap><%402%></td>
	<td width="50%" align="left">
		<input type="text" name="dv_name" size="20" maxlength="20">
	</td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>


</table></td></tr>
</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="LAN_reserv_add_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%158%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%159%> </span>
      </div>



<input type="hidden" name="macaddr" value="">
<INPUT name=rsv_ip type=hidden value="">
<INPUT name=rsv_mode type=hidden value="add">
<input type="hidden" name="reserved_ips" value="<%750%>">
<input type="hidden" name="reserved_macs" value="<%751%>">
<input type="hidden" name="reserved_devname" value="<%752%>">
<input type="hidden" name="lanIP" value="<%569%>">
<a name="helpframe-anchor"></a>
</form>
</div>
</body>
</html>

