<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title><%823%></title>
<link rel="stylesheet" href="css/MNUAccess.css">
<link rel="stylesheet" href="css/button.css">

<script src="script/script.js"></script>
<script language="javascript" type="text/javascript">
<!--
function alertMessage()
{
	alert("<%2389%>");
}


//-->
</script>
</head>
<body  bgcolor="#FFFFFF" onload="alertMessage();">
<form method="POST" action="securityquestions.cgi">
	<table border="0" cellpadding="0" cellspacing="3" width="600px">
		<tr>
			<td class="MNUTitle"><%2383%></td>
		</tr>
		<tr>
			<td class="MNUText"><%2384%></td>
		</tr>
		<tr>
			<td class="MNUText"><%2385%><input type="text" name="serialNumber" size=""></td>
		</tr>
		<tr>
			<td class="MNUText"><%2386%></td>
		</tr>
		<tr>
		
			<td class="MNUText" colspan="2">

				<button type="RESET" value="Cancel" name="Cancel" class="button-rule" style="padding-left:10px" ><span class="roundleft_button"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<%2381%>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp; </span></button>
				<button type="SUBMIT" value="Continue" name="Continue" class="button-apply" style="padding-left:10px" ><span class="roundleft_apply">&nbsp;&nbsp;&nbsp;&nbsp;<%2382%>&nbsp;&nbsp;&nbsp;&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply"> &nbsp;</span></button>

			</td>
		</tr>
		
	</table>
</form>

</body>
</html>
