<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title><%823%></title>
<link rel="stylesheet" href="css/MNUAccess.css">
<link rel="stylesheet" href="css/button.css">

<script src="script/script.js"></script>
<script language="javascript" type="text/javascript"><!--

  
//--></script></head>


<body  bgcolor="#FFFFFF">
<p class="MNUTitle"><%2391%></p>

	<table border="0" cellpadding="0" cellspacing="3" style="width:600px">
    <col width="200" />
    <col width="400" />
		<tr>
			<td colspan="2" class="MNUText"><%2392%></td>
		</tr>
		<tr>
			<td class="MNUText" align="right"><%2393%></td>
			<td class="MNUText" align="left"><%2394%></td>
		</tr>
		<tr>
			<td class="MNUText" align="right"><%2395%></td>
			<td class="MNUText" align="left"><%2396%></td>
		</tr>
		<tr>
			<td colspan="2" class="MNUText"><%2397%></td>
		</tr>
		<tr>	
			<td colspan="2">
				
				<button type="button" value="Exit" name="Exit" class="button-rule" style="padding-left:10px"
                onClick="window.opener=null; window.open('','_self'); window.close();top.close();">
                <span class="roundleft_button"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;<%2398%>&nbsp;&nbsp;&nbsp;&nbsp;
                </span></span>
                <span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </button>
				<button type="SUBMIT" value="Login" name="Login" class="button-apply" style="padding-left:10px" onClick="window.location='backpage.htm'"><span class="roundleft_apply">&nbsp;&nbsp;&nbsp;&nbsp;<%2399%>&nbsp;&nbsp;&nbsp;&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply"> &nbsp;</span></button>
 		  </td>
		</tr>
	</table>



</body>
</html>
