<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title> 
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
function enableFwCheck()
{
	var cf = document.forms[0];
	if (cf.enable.checked)
		cf.logo_enable.value = 0;
	else
		cf.logo_enable.value = 1;
}    
//-->
</script>
</head>
<body bgcolor="#ffffff">

<form method="POST" action="login.cgi">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
    <td colspan="2" align="left" tabindex="-1">
    <span>
    <p><%814%> <%12%>. <%815%><%816%> <%12%> <%817%></p>
    </span>
    </td>
</tr>
<tr>
</tr>
<tr>
</tr>
<tr><td align="center"><img src="<%818%>"></td></tr>
<tr></tr>
<tr>
    <td><input type="checkbox" name="enable" value="1" <%819%> onclick="enableFwCheck();submit();"><%820%></td></tr>
<tr></tr>
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
 <tr>
 <td colspan="2" align="center">
 <input type=button name="close" value="<%172%>" onclick="self.close()"></td>
</tr>
</table>
<input type="hidden" name="logo_enable" value="1">
</form>
</body>
</html>
