﻿<HTML><HEAD><title>NETGEAR Router <%12%></title>
<%11%>
<STYLE type=text/css>BODY {
	MARGIN: 6px
}
A {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0pt; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
BIG {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0pt; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
TABLE {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
</STYLE>
</SCRIPT>

<BODY bgColor=#330099 leftMargin=0 topMargin=0 marginheight="0" marginwidth="0">
<FORM method="POST" action="menu.cgi" NAME=menu">
<TABLE cellSpacing=2 cellPadding=1 border=0>
  <TBODY>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
  <TD><A href="WIZ_sel.htm" target=formframe ><%59%></A> </TD>
<%760%>
<%761%>
  <TD><font color=gray><b><%59%></b> </TD>
<%762%>
  </TR>
  <TR>
      <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><%763%><%764%><%765%></TD>
  </TR>  
  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>
  <TR>
    <TD colSpan=2><BIG><%63%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
    <TD><A href="BAS_basic.htm" target=formframe><%766%></A></TD></TR>
<%760%>
<%761%>
    <TD><font color=gray><b><%766%></b></TD></TR>
<%762%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="<%24%>" target=formframe><%98%></A></TD></TR>
<%767%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="<%55%>" target=formframe><%56%></A></TD>
  </TR> 
<%768%>
<%769%>
<TR><TD colSpan=2><BIG><%72%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%766%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%78%></A></TD>
</TR>
<%770%>
<%771%>
<TR><TD colSpan=2><BIG><%72%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%766%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%78%></A></TD>
</TR>
<%772%>
<%773%>
<TR><TD colSpan=2><BIG><%72%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%766%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%78%></A></TD>
</TR>
<%774%>
<%775%>
<TR><TD colSpan=2><BIG><%72%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%766%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%78%></A></TD>
</TR>
<%776%>
<%777%>
<TR><TD colSpan=2><BIG><%72%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%766%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%78%></A></TD>
</TR>
<%778%>
<%779%>
<TR><TD colSpan=2><BIG><%72%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%766%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%78%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="UPNP_media.htm" target=formframe><%79%></A></TD>
</TR>
<%780%>
<%781%>
<TR><TD colSpan=2><BIG><%72%></BIG></TD></TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_basic_main.htm" target=formframe><%766%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_adv_main.htm" target=formframe><%78%></A></TD>
</TR>
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="UPNP_media.htm" target=formframe><%79%></A></TD>
</TR>
<%782%>
  <TR><TD colSpan=2><BIG><%783%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
	<TD><A href="FW_log.htm" target=formframe><%92%></A></TD>
<%760%>
<%761%>
	<TD><font color=gray><b><%92%></b></TD>
<%762%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
    <TD><A href="BKS_keyword.htm" target=formframe><%85%></A></TD>
<%760%>
<%761%>
	<TD><font color=gray><b><%85%></b></TD>
<%762%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
  <TD><A href="BKS_service.htm" target=formframe><%86%></A></TD>
<%760%>
<%761%>
  <TD><font color=gray><b><%86%></b></TD>
<%762%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
    <TD><A href="FW_schedule.htm" target=formframe><%87%></A></TD>
<%760%>
<%761%>
    <TD><font color=gray><b><%87%></b></TD>
<%762%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
    <TD><A href="FW_email.htm" target=formframe><%88%></A></TD>
<%760%>
<%761%>
    <TD><font color=gray><b><%88%></b></TD>
<%762%>
  </TR>    
  <TR>
    <TD colSpan=2><BIG><%784%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="<%785%>" target=formframe><%90%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href=<%786%> target=formframe><%52%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="BAK_backup.htm" target=formframe><%93%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="PWD_password.htm" target=formframe><%787%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="UPG_upgrade.htm" target=formframe><%788%></A></TD></TR>
  <TR>
    <TD colSpan=2><BIG><%96%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="<%97%>" target=formframe><%98%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="<%99%>" target=formframe><%789%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
  <TD><A href="FW_forward2.htm" target=formframe><%102%></A></TD>
<%760%>
<%761%>
  <TD><font color=gray><b><%102%></b></TD>
<%762%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
  <TD><A href="WAN_wan.htm" target=formframe><%68%></A></TD>
<%760%>
<%761%>
  <TD><font color=gray><b><%68%></b></TD>
<%762%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="LAN_lan.htm" target=formframe><%70%></A></TD></TR>
  
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="QOS_main.htm" target=formframe><%71%></A></TD>
</TR>

<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
    <TD><A href="DNS_ddns.htm" target=formframe><%103%></A></TD>
<%760%>
<%761%>
    <TD><font color=gray><b><%103%></b></TD>
<%762%>
</TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
    <TD><A href="STR_routes.htm" target=formframe><%104%></A></TD>
<%760%>
<%761%>
    <TD><font color=gray><b><%104%></b></TD>
<%762%>
  </TR>    
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
    <TD><A href="FW_remote.htm" target=formframe><%105%></A></TD>
<%760%>
<%761%>
    <TD><font color=gray><b><%105%></b></TD>
<%762%>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
    <TD><A href="UPNP_upnp.htm" target=formframe><%106%></A></TD>
<%760%>
<%761%>
    <TD><font color=gray><b><%106%></b></TD>
<%762%>
  </TR>
<%790%>
    <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="IPV6_basic.htm" target=formframe><%107%></A></TD></TR>
<%791%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<%759%>
    <TD><A href="traffic_meter.htm" target=formframe><%108%></A></TD>
<%760%>
<%761%>
    <TD><font color=gray><b><%108%></b></TD>
<%762%>
  </TR>
<%775%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%109%></A></TD>
</TR>
<%776%>
<%777%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%109%></A></TD>
</TR>
<%778%>
<%779%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%109%></A></TD>
</TR>
<%780%>
<%781%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%109%></A></TD>
</TR>
<%782%>
<%769%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%109%></A></TD>
</TR>
<%770%>
<%771%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%109%></A></TD>
</TR>
<%772%>
<%773%>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
<TD><A href="USB_settings.htm" target=formframe><%109%></A></TD>
</TR>
<%774%>
  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>
  <TR>
    <TD colSpan=2><BIG><%792%></BIG></TD></TR>
  <TR>
<%793%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="<%794%>" target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wnr2000v2/enu/202-10485-01/index.html" target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%796%>
<%797%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNR3500v2.asp" target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wnr3500v2/enu/202-10433-01/index.htm" target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%798%>
<%799%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNR3500U.asp" target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wnr3500u/enu/202-10475-01/index.htm" target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%800%>
<%775%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNR3500L.asp" target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wnr3500l/enu/202-10545-01/index.htm" target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%776%>
<%777%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNR3500Lv2.asp" target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/" target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%778%>
<%779%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNDR3700.asp" target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wndr3700/enu/202-10845-01/index.htm" target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%780%>
<%781%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNDR4000.asp" target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/WNDR4000/enu/202-10781-01/index.htm" target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%782%>
<%769%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/wndr3400.asp" target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wndr3400/enu/202-10581-01/index.htm" target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%770%>
<%771%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/wndr3300v2.asp" target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wndr3300v2/enu/202-10636-01/index.htm" target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%772%>
<%801%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WNR1000v3.asp" 
      target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wnr1000v3/enu/202-10584-01/index.htm" target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%802%>
<%803%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/WGR614v10.asp" 
      target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href=<%804%> target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%805%>
<%806%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://kbserver.netgear.com/products/wgr614v10bric.asp" 
      target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://documentation.netgear.com/wgr614v10bric/enu/202-10612-01/index.htm" target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%807%>
<%773%>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://I don't know.asp" 
      target=_top><%795%></A></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><A href="http://I don't know.asp" target=_top><%112%> </A></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
<%774%>
  <TR>
    <TD align=middle colSpan=2><A class=bigfont
      href="LGO_logout.htm" target=_top><FONT
          size=3><%808%></FONT></A></TD></TR></TBODY></TABLE>

</FORM>          
</BODY></HTML>
