<HTML><HEAD><title>NETGEAR Router <%12%></title>
<%11%>
<STYLE type=text/css>BODY {
	MARGIN: 6px
}
A {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; TEXT-DECORATION: none
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0pt; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
BIG {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0pt; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
TABLE {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; COLOR: white; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular,sans-serif
}
</STYLE>
</SCRIPT>

<BODY bgColor=#330099 leftMargin=0 topMargin=0 marginheight="0" marginwidth="0">
<FORM method="POST" action="menu.cgi" NAME=menu">
<TABLE cellSpacing=2 cellPadding=1 border=0>
  <TBODY>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%59%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%764%></B></TD>
  </TR>  
  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>
  <TR>
    <TD colSpan=2><BIG><%63%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%766%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%98%></B></TD></TR>
  <TR>
    <TD colSpan=2><BIG><%783%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%92%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%85%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
  <TD><B><%86%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%87%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%88%></B></TD>
  </TR>    
  <TR>
    <TD colSpan=2><BIG><%784%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%90%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%52%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%93%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%787%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%788%></B></TD></TR>
  <TR>
    <TD colSpan=2><BIG><%96%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%98%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%789%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
  <TD><B><%102%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
  <TD><B><%68%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%70%></B></TD></TR>
  
<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%71%></B></TD>
</TR>

<TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%103%></B></TD>
</TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%104%></B></TD>
  </TR>    
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%105%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%106%></B></TD>
  </TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><b><%108%></b></TD>
  </TR>
  <TR>
    <TD colSpan=2><IMG height=2 src="menublue.gif" width="100%" border=0> </TD></TR>
  <TR>
    <TD colSpan=2><BIG><%792%></BIG></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%795%></B></TD></TR>
  <TR>
    <TD vAlign=top><IMG height=7 alt="" src="redbull.gif" width=7 align=top vspace=6></TD>
    <TD><B><%112%> </B></TD></TR>
    <TD colSpan=2><IMG height=15 alt="" src="spacer.gif" width=20></TD></TR>
  <TR>
    <TD align=middle colSpan=2><A class=bigfont><FONT
          size=3><%808%></FONT></TD></TR></TBODY></TABLE>

</FORM>          
</BODY></HTML>
