<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<%11%>
<title><%823%></title>
<%145%>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="effect.js"></script>
<link rel="stylesheet" href="CDL.css">
<script language="javascript" type="text/javascript">
<!-- 
    function buttonClick(btn,value)
    {

        document.forms[0].buttonHit.value=btn.name;
        document.forms[0].buttonValue.value=value;
        return true;
    }
//-->
</script>

</head>

<body bgcolor="#ffffff">
    <form id="target"  name="frmService" method="post" action="userlogin.cgi">
        <input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
        <table border="0" cellpadding="0" cellspacing="3" width="99%">
            <tr style="height:10px">
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr style="height:10px">
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>

            </tr>
            <tr>
                <td>&nbsp;</td>
                <td NOWRAP class="inputRow centerTd" tabindex="-1" onFocus="this.blur()"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px;padding-right:10px"><%2393%></span><input type="text" name="username" style="padding-left:10px;width:190px;height:30px;border:none;background:url(roundedcornr_input.gif) no-repeat left top;padding-top:8px;" size="15" maxlength="60" value=""></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td NOWRAP class="inputRow centerTd" tabindex="-1" onFocus="this.blur()"><span style="display:-moz-inline-box;display:inline-block;width:240px;text-align:right;padding-bottom:5px;padding-right:10px"><%2395%></span><input type="password" name="password" style="padding-left:10px;width:190px;height:30px;border:none;background:url(roundedcornr_input.gif) no-repeat left top;padding-top:8px;" size="15" maxlength="50" value=""></td>
                <td>&nbsp;</td>
            </tr>
            <tr style="height:10px">
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr style="height:10px">
                <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td NOWRAP class="inputRow centerTd" tabindex="-1" onFocus="this.blur()">
                    <span style="display:-moz-inline-box;display:inline-block;width:170px;text-align:right;padding-bottom:5px"></span>
                    <button class="purpleBtn" style="width:100px;" name="submit" onClick="buttonClick(this,'ok')" onFocus="this.blur()" type="submit" value="ok">
                        <span><%1604%></span>
                    </button>
                    <button class="purpleBtn" style="width:100px;" name="submit" onClick="buttonClick(this,'cancel')" onFocus="this.blur()" type="submit" value="cancel">
                        <span><%197%></span>
                    </button>            
                </td>
                <td>&nbsp;</td>
                
            </tr>
        </table>
        <input type="hidden" name="backpage" value="<%2403%>">
    </form>
</body>
</html>
