<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" type="text/css" href="form.css">
<script type="text/javascript">
<!-- hide script from old browsers
function goAround()
{
	location.reload();
}
// -->
</script>
<style type="text/css">
TD {FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif}
H1 {FONT-WEIGHT: bold; FONT-SIZE: 18pt; BACKGROUND: white; COLOR: #09c; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif}
P { FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif }
.prgbar { font-family:Arial; padding:0px; height: 20px; width: 200px; font-weight: bolder; font-size: 10pt; border: 1px solid; border-color: #09c; color: #0000FF}
</style>
</head>

<body bgcolor="#ffffff" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0">
<form name="potpage" method="get">
<table BORDER="0" CELLSPACING="1" CELLPADDING="0" width="100%">

 <tr>
    <td align="center"><br><br><h1>POT Time: <%1577%></h1></td>
 </tr>
  <tr>
    <td align="center"><h1>Re-pack Criteria: 00:30 (30 minutes)</h1></td>
 </tr>

 <tr>
    <td align="center"><h1>NTP synchronized date/time: <%1578%></h1></td>
 </tr>

 <tr>
    <td align="center"><h1>MAC address of 1st STA connected: <%1579%></h1></td>
 </tr>

 <tr>
	<td align="center">
			<input type="button" name="Refresh" value="<%400%>" onClick="goAround()">
	</td>
 </tr>
	
</table>
</form>
</BODY>

</HTML>

