<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="form.css">

<STYLE TYPE="text/javascript">
<!--
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
-->
-->
-->
</style>
<script language="javascript" type="text/javascript">
<!--
function checkData()
{
    var cf = document.forms[0];
    var msg = "";
    var domain = cf.domain.value;

    if(domain.length == 0)
    {
        msg+= "<%2142%>\n";
        alert(msg);
        return false;
    }

    return true;
}
//-->
</SCRIPT>
</HEAD>
<BODY bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<FORM action="pppoe2_domain.cgi" method="post" name="formname">
  <TABLE border=0 width="100%">
    <TR>
      <TD colspan="2" align="left"><h1><%2125%></h1></TD></TR>
    <tr> <!-- RULE -->
      <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td></tr>

    <TR>
      <TD align="left" nowrap> <%2143%></td>
      <td><INPUT type="text" name="trigger" maxlength="20" value="<%2111%>" onfocus="this.blur()"></TD></TR>
    <TR>
      <TD align="left" nowrap> <%2111%></td>
      <td align="left"><INPUT type="text" name="domain" maxLength=64 value="<%2144%>"></TD></TR>
    <tr> <!-- RULE -->
      <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td></tr>
    <tr>
      <td colspan="2" align="center">
        <INPUT type="submit" name="accept" value="<%195%>" onclick="return checkData();">
        <INPUT type="button" name="cancel" value=" <%197%> " onclick="location.href='BAS_basic.htm'">
  <input type="hidden" name="policyIndex" value=<%2145%>>
</form>
</body>
</html>

