<html>
	<head>
	<%11%>
		<title>NETGEAR Router <%12%></title>
	</head>
	<body>
	<br>DeviceID:<%1131%>;
	<br><%1588%>:<%1589%>;
	<br><%31%>:<%32%>;
	<br>WLAN-Security:<%1590%>
	</body>
</html>

