<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language=JavaScript type="text/javascript">



    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function Fresh() 
{
	var cf = document.forms[0];
	if(cf.refreshScrn.value == "yes")
		window.setTimeout("location.href='RST_st_fix.htm'",10000);
// reload if not connected	
}
</script>
</head>

<body  leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" text=black onLoad="Fresh()" style="margin:0px;background-color:#e5e5e5">

<form id="target"  method="post" action="st_fixip.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">

<TABLE border=0 width="100%">

 
 <TR>
 <TD colspan="2" align="left" nowrap><h1><%486%> </h1></TD>
 </TR>
 
</TABLE>

<table border="0" cellpadding="0" cellspacing="3" width="100%">

<tr> 
 <td background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
</table>


<table width="100%" border=1 cellspacing=1 cellpadding=4>
	<tr>
		<TD NOWRAP width="50%"><B><%207%></B></td>
		<%933%>
        <TD NOWRAP width="50%"><%985%></td>
        <%940%>
        <%941%>
        <TD NOWRAP width="50%"><%945%></td>
        <%944%>	
    </tr>
	<tr>
		<TD NOWRAP><B><%264%></B></td>
        <%933%>
		<TD NOWRAP><%986%></td>
        <%940%>
        <%941%>
        <TD NOWRAP width="50%"><%946%></td>
        <%944%>  	
    </tr>
	<tr>
		<TD NOWRAP><B><%947%></B></td>
        <%933%>
		<TD NOWRAP><%987%></td>
        <%940%>
        <%941%>
        <TD NOWRAP width="50%"><%948%></td>
        <%944%> 	
    </tr>
	<tr>
		<TD NOWRAP><B><%951%></B></td>
        <%933%>
		<TD NOWRAP><%988%></td>
        <%940%>
        <%941%>
        <TD NOWRAP width="50%"><%953%><br><%954%></td>
        <%944%>  	
    </tr>
</table>


<table border="0" cellpadding="0" cellspacing="3" width="100%">

<tr> 
 <td background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
 <TR>
 <TD align="center">&nbsp;&nbsp;&nbsp;<button type=button value="<%172%>" name="close" class="button-rule" onclick="buttonClick(this,'<%172%>');self.close();"><span class="roundleft_button">&nbsp;&nbsp; <%172%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></TD>
</TR>
</TABLE>


<input type="hidden" name="refreshScrn" value="yes">
</form>

</body>
</html>

