<html><head>
<%11%>
<%933%>
<meta HTTP-EQUIV="REFRESH" CONTENT="0; URL= <%934%><%935%><%936%><%937%><%938%><%939%>">
<%940%>
<%941%>
<meta HTTP-EQUIV="REFRESH" CONTENT="0; URL= <%942%><%943%>">
<%944%>
<title>NETGEAR Router <%12%></title></head>
<BODY bgcolor="#CCCCCC">
</body></html>



