<!DOCTYPE HTML>
<html>
<head>
<%11%>
<%869%>
<title>NETGEAR Router <%12%></title> 
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript"><!--

    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



//--></script></head>
<body  style="margin:0px;background-color:#e5e5e5">
<TABLE border=0 width="100%">

 
 <TR>
 <TD colspan="2" align="left" nowrap><h1><%870%> </h1></TD>
 </TR>
 
</TABLE>
<table width="100%" border="0">
 <tr> 
 <td background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

	<tr>
		<td><b><%871%></b> <!><%872%><!></td>

	</tr>
	<tr>
		<td>
			
 <table border="1" cellpadding="0" cellspacing="0" width="99%">
 <tr> 
 <td nowrap width="10%" align="center"> <span class="thead"><%343%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="thead"><%421%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="thead"><%873%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="thead"><%874%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="thead"><%875%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="thead"><%876%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="thead"><%877%></span> 
 </td>
 <td nowrap width="20%" align="center"> <span class="thead"><%878%></span> 
 </td>
 </tr>
 <tr> 
 <td nowrap width="10%" align="center"> <span class="thead"><%879%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%880%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%881%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%882%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%883%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%884%></span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%885%></span> 
 </td>
 <td nowrap width="20%" align="center"> <span class="ttext"><%886%></span> 
 </td>
 </tr>
 <tr> 
 <td nowrap width="10%" align="center"> <span class="thead"><%887%>1</span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%888%></span> 
 </td>
 <td nowrap width="10%" align="center" rowspan=4> <span class="ttext"><%889%></span> 
 </td>
 <td nowrap width="10%" align="center" rowspan=4> <span class="ttext"><%890%></span> 
 </td>
 <td nowrap width="10%" align="center" rowspan=4> <span class="ttext"><%891%></span> 
 </td>
 <td nowrap width="10%" align="center" rowspan=4> <span class="ttext"><%892%></span> 
 </td>
 <td nowrap width="10%" align="center" rowspan=4> <span class="ttext"><%893%></span> 
 </td>
 <td nowrap width="20%" align="center"> <span class="ttext"><%894%></span> 
 </td>
 </tr>
 <tr>
 <td nowrap width="10%" align="center"> <span class="thead"><%887%>2</span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%895%></span> 
 </td>
 <td nowrap width="20%" align="center"> <span class="ttext"><%896%></span> 
 </td>
 </tr>
 <tr> 
 <td nowrap width="10%" align="center"> <span class="thead"><%887%>3</span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%897%></span> 
 </td>
 <td nowrap width="20%" align="center"> <span class="ttext"><%898%></span> 
 </td>
 </tr>
 <tr> 
 <td nowrap width="10%" align="center"> <span class="thead"><%887%>4</span> 
 </td>
 <td nowrap width="10%" align="center"> <span class="ttext"><%899%></span> 
 </td>
 <td nowrap width="20%" align="center"> <span class="ttext"><%900%></span> 
 </td>
 </tr>
 <%901%>
 <tr>
 <td nowrap width="10%" align="center"><span class="thead"><%902%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%903%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%904%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%905%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%906%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%907%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%908%></span></td>
 <td nowrap width="20%" align="center"><span class="ttext"><%909%></span></td>
 </tr>
 <%910%>
 <%911%>
 <tr>
 <td nowrap width="10%" align="center"><span class="thead">2.4G <%912%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%913%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%914%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%915%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%916%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%917%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%918%></span></td>
 <td nowrap width="20%" align="center"><span class="ttext"><%919%></span></td>
 </tr>
 <tr>
 <td nowrap width="10%" align="center"><span class="thead">5G <%920%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%921%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%922%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%923%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%924%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%925%></span></td>
 <td nowrap width="10%" align="center"><span class="ttext"><%926%></span></td>
 <td nowrap width="20%" align="center"><span class="ttext"><%927%></span></td>
 </tr>
 <%928%>
 </table>
		</td>
	</tr>
</table>
</body>
</html>

