<!DOCTYPE HTML>
<html>
<head>
<%11%>
<link rel="stylesheet" href="form.css">
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<script language="javascript" type="text/javascript">
<!--
var delay_time = 10000;
var t;

    $(document).ready(function()
    {	
        $("#target").submit(function() {
            window.clearTimeout(t);
            buttonFilter();
        });

    });



function refreshPage() 
{
    t = window.setTimeout("window.location.href='RST_st_poe.htm'", delay_time);
}

function disableConButton()
{
    delay_time = 10000;
    document.forms[0].Connect.disabled = true;
    document.forms[0].Disconnect.disabled = true;
<%233%>
    if(document.forms[0].pppoe2.value == "enable")
    {
        document.forms[0].PPP2Connect.disabled = true;
        document.forms[0].PPP2Disconnect.disabled = true;

    }
<%234%>
    document.forms[0].ConMethod.value = "  Connect  ";

    document.forms[0].submit();    
    
    return true;
}

function disableDisConButton()
{
<%233%>
    delay_time = 20000;
<%234%>
    document.forms[0].Connect.disabled = true;
    document.forms[0].Disconnect.disabled = true;
<%233%>
    if(document.forms[0].pppoe2.value == "enable")
    {
        document.forms[0].PPP2Connect.disabled = true;
        document.forms[0].PPP2Disconnect.disabled = true;

    }
<%234%>
    document.forms[0].ConMethod.value = "Disconnect";

    document.forms[0].submit();     
    
    return true;
}
<%233%>
function disablePPP2ConButton()
{
    delay_time = 10000;
    document.forms[0].Connect.disabled = true;
    document.forms[0].Disconnect.disabled = true;
    document.forms[0].PPP2Connect.disabled = true;
    document.forms[0].PPP2Disconnect.disabled = true;
    document.forms[0].ConMethod.value = "Connect2";
    document.forms[0].submit();     
    return true;
}
function disablePPP2DisConButton()
{
    delay_time = 20000;
    document.forms[0].Connect.disabled = true;
    document.forms[0].Disconnect.disabled = true;
    document.forms[0].PPP2Connect.disabled = true;
    document.forms[0].PPP2Disconnect.disabled = true;
    document.forms[0].ConMethod.value = "Disconnect2";
    document.forms[0].submit();    
    return true; 
}
<%234%>
function refreshparentpage()
{
    parent.window.opener.location.href="<%785%>";
    return true;
}

//-->
</script>
</head>
<body  onLoad="refreshPage()" style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="poe_st" method="post" action="st_poe.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">

<TABLE border=0 width="100%">

 
 <TR>
 <TD colspan="2" align="left" nowrap><h1><%486%> </h1></TD>
 </TR>
 
</TABLE>

<table border="0" cellpadding="0" cellspacing="3" width="100%">

<tr> 
 <td background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
</table>

<%965%>	
<tr>
 <td><b><%249%></b></td>
</tr>
<%966%>	

<table width="100%" border=1 cellspacing=1 cellpadding=4>
<tr>
	<TD NOWRAP width="50%"><B><%175%></B></td>
	<TD NOWRAP width="50%"><%967%></td>
</tr>
<tr>
	<TD NOWRAP><B><%486%></B></td>
	<TD NOWRAP><%968%></td>
</tr>
<tr>
	<TD NOWRAP><B><%179%></B></td>
	<TD NOWRAP><%969%></td>
</tr>
<tr>
	<TD NOWRAP><B><%181%></B></td>
	<TD NOWRAP><%970%></td>
</tr>
<tr>
	<TD NOWRAP><B><%207%></B></td>
	<TD NOWRAP><%971%></td>
</tr>
<tr>
	<TD NOWRAP><B><%264%></B></td>
        <TD NOWRAP><%972%></td>
</tr>
</table>


<table border="0" cellpadding="0" cellspacing="3" width="100%">
 <TR>
 <TD align="center" nowrap>
<BR>
&nbsp;&nbsp;&nbsp;<button type="submit" value="<%973%>" name="Connect" class="<%961%>" onClick="buttonClick(this,'<%973%>');return disableConButton()" <%962%>><span class="<%963%>">&nbsp;&nbsp; <%973%></span><span class="<%964%>">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button type="submit" value="<%974%>" name="Disconnect" class="button-rule" onClick="buttonClick(this,'<%974%>');alert('<%975%>'); return disableDisConButton()"><span class="roundleft_button">&nbsp;&nbsp; <%974%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></TD>
</TR>

</TABLE>

<%965%>	

<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
 <td background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
</table>

<tr>
 <td><b><%976%></b></td>
</tr>

<table width="100%" border=1 cellspacing=1 cellpadding=4>
<tr>
	<TD NOWRAP width="50%"><B><%175%></B></td>
	<TD NOWRAP width="50%"><%977%></td>
</tr>
<tr>
	<TD NOWRAP><B><%486%></B></td>
	<TD NOWRAP><%978%></td>
</tr>
<tr>
	<TD NOWRAP><B><%179%></B></td>
	<TD NOWRAP><%979%></td>
</tr>
<tr>
	<TD NOWRAP><B><%181%></B></td>
	<TD NOWRAP><%980%></td>
</tr>
<tr>
	<TD NOWRAP><B><%183%></B></td>
	<TD NOWRAP><%981%></td>
</tr>
<tr>
	<TD NOWRAP><B><%264%></B></td>
        <TD NOWRAP><%982%></td>
</tr>
</table>


<table border="0" cellpadding="0" cellspacing="3" width="100%">
 <TR>
 <TD align="center" nowrap>
<BR>
&nbsp;&nbsp;&nbsp;<button type="submit" value="<%973%>" name="PPP2Connect" class="<%961%>" onclick="buttonClick(this,'<%973%>');return disablePPP2ConButton()" <%962%>><span class="<%963%>">&nbsp;&nbsp; <%973%></span><span class="<%964%>">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button type="submit" value="<%974%>" name="PPP2Disconnect" class="button-rule" onClick="buttonClick(this,'<%974%>');alert('<%975%>'); return disablePPP2DisConButton()"><span class="roundleft_button">&nbsp;&nbsp; <%974%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></TD>
</TR>
</table>
<%966%>	

<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr><td background="liteblue.gif" height="12"> &nbsp;</td></tr>
<TR><TD align="center">&nbsp;&nbsp;&nbsp;<button type=button value="<%172%>" name="close" class="button-rule" onclick="buttonClick(this,'<%172%>'); window.close();"><span class="roundleft_button">&nbsp;&nbsp; <%172%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></TD></TR>
</TABLE>
<input type="hidden" name="ConMethod" value="Disconnect">
<input type="hidden" name="pppoe2" value="<%983%><%984%>">


</form>

</body>
</html>
