<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" type="text/css" href="style.css">
<script type="text/javascript">
<!-- hide script from old browsers
function init_load()
{
	document.forms[0].select.value = 0;
	document.forms[0].submit();
}
//-->
</script>
</head>
<body bgcolor="#ffffff" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" onload="init_load();">
<form name="RU_BSW_welcome" action="blkDetWan.cgi" method="POST">
<input type="hidden" name="select" value="0">
</form>
</body>
</html>
