<HTML><HEAD>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css" href="ru_style.css">
<script language=javascript type=text/javascript src=funcs.js></script>
<script language=javascript type=text/javascript src=bas_ether.js></script>
<script language=javascript type=text/javascript>
var isp_type=parent.isp_type;
var lan_ip="<%17%>";
var lan_subnet="<%230%>";
function loadvalue()
{
	cf=document.forms[0];
	cf.pppoe_username.value=parent.pppoe_username;
	cf.pppoe_passwd.value=parent.pppoe_password;
	cf.pppoe_servername.value=parent.pppoe_server;
	cf.DNSAssign.value="0";
	cf.pppoe_dual_assign.value="1";

	var ether_get_ip=parent.static_ip.replace(/x/g,"");
	if (ether_get_ip!="")
	{
		var ip_array=ether_get_ip.split('.');
		cf.WPethr1.value=ip_array[0];
		cf.WPethr2.value=ip_array[1];
		cf.WPethr3.value=ip_array[2];
		cf.WPethr4.value=ip_array[3];
	}
	var ether_get_subnet=parent.static_subnet.replace(/x/g,"");
	if (ether_get_subnet!="")
	{
		var mask_array=ether_get_subnet.split('.');
		cf.WMask1.value=mask_array[0];
		cf.WMask2.value=mask_array[1];
		cf.WMask3.value=mask_array[2];
		cf.WMask4.value=mask_array[3];
	}
	var ether_get_gw=parent.static_gateway.replace(/x/g,"");
	if (ether_get_gw!="")
	{
		var gw_array=ether_get_gw.split('.');
		cf.WGateway1.value=gw_array[0];
		cf.WGateway2.value=gw_array[1];
		cf.WGateway3.value=gw_array[2];
		cf.WGateway4.value=gw_array[3];
	}

	if(isp_type=="5" || isp_type=="6") /*pppoe+static*/
	{
		cf.pppoe_ipaddr.value="";
		cf.WANAssign.value="Dynamic";
	}
	else if(isp_type=="88")  /*pppoe(static) + static*/
	{
		cf.pppoe_ipaddr.value=parent.pppoe_static_ip;
		cf.WANAssign.value="Fixed";
	}
}
function warning_str()
{
	alert("<%1851%>");	 
}
</script>
</HEAD>

<BODY onLoad="loadvalue();" bgcolor=#ffffff>
<FORM method="POST" action="ru_wan_flow.cgi">
<input type=hidden name=submit_page value="RU_isp_pppoe_static">
<input type=hidden name=submit_flag value="setup">
<input type=hidden name=submit_wan value="0">

<input type="hidden" name="pppoe_username" >
<input type="hidden" name="pppoe_passwd" >
<input type="hidden" name="pppoe_servername" >
<input type="hidden" name="conflict_wanlan">
<input type="hidden" name="change_wan_type" value="0">
<input type="hidden" name="run_test" value="">
<input type="hidden" name="WANAssign">
<input type="hidden" name="DNSAssign">
<input type="hidden" name="pppoe_dod" value="0">
<input type="hidden" name="pppoe_ipaddr">
<input type="hidden" name="pppoe_dual_ipaddr">
<input type="hidden" name="pppoe_dual_subnet">
<input type="hidden" name="pppoe_dual_gateway">
<input type="hidden" name="pppoe_dnsaddr1">
<input type="hidden" name="pppoe_dnsaddr2">
<input type="hidden" name="hidden_pppoe_idle_time" value="0">
<input type="hidden" name="dual_access" value="1">
<input type="hidden" name="pppoe_dual_assign">

<input type="hidden" name="ether_ipaddr">
<input type="hidden" name="ether_subnet">
<input type="hidden" name="ether_gateway" value="">
<!--input type="hidden" name="ether_dnsaddr1" value="">
<input type="hidden" name="ether_dnsaddr2" value=""-->
<input type="hidden" name="basic_type" value="0">
<input type="hidden" name="ppp_login_type" value="2">
<input type="hidden" name="welcome_wan_type">
<input type="hidden" name="STATIC_DNS">

<div>
<div>
<TABLE align="center" style="width:76%">
<tr style="height:10px">
<td colspan="2"></td>
</tr>
<TR><TD colSpan="2" class="left_text"><h2><%1840%></h2></TD></TR>

<TR><TD colSpan="2" class="left_text"><%1852%></TD></TR>
<tr style="height:10px">
<td colspan="2"></td>
</tr>
<TR><TD colSpan="2" class="center_text"><%1850%></TD></TR>


<TR>
	<TD class="centerTd"><%207%></TD>
	<TD align=right>
	<input type="text" name="WPethr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="WPethr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WPethr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WPethr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR>
	<TD class="centerTd"><%208%></TD>
	<TD align=right>
	<input type="text" name="WMask1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="WMask2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WMask3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WMask4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD> 
</TR>
<TR>
	<TD class="centerTd"><%296%></TD>
	<TD align=right>
	<input type="text" name="WGateway1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="WGateway2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WGateway3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="WGateway4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<!--tr><td><br></td></tr>
<TR>
	<TD colspan=2 align=center><%210%></TD>
</TR>
<TR>
	<TD><%213%></TD>
	<TD align=right>
	<input type="text" name="DAddr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="DAddr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="DAddr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="DAddr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">
	</TD>
</TR>
<TR>
	<TD><%214%></TD>
	<TD align=right>
	<input type="text" name="PDAddr1"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);" >.
	<input type="text" name="PDAddr2"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="PDAddr3"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">.
	<input type="text" name="PDAddr4"  size="3" autocomplete="off" maxlength="3" onFocus="this.select();" onkeydown="keydown(event,this);" onKeyPress="return getkey('num',event);" onkeyup="keyup(event,this);">	
	</TD>
</TR-->
<tr style="height:10px">
<td colspan="2"></td>
</tr>

<TR>
	<td colspan="2" align="center" class="text-align:center;">
		<button class="purpleBtn" type="button" style="width:100px" name="back" value="submit" onClick='location.href="RU_isp_pppoe.htm";'><span><%1112%></span></button>
        <button class="purpleBtn" type="button" style="width:100px" name="next" value="submit" onClick="warning_str();RU_welcome_pppoe_static();"><span><%1114%></span></button>

	</td>

</TR>

</TABLE>
</div>
</div>
</FORM>
</BODY>
</HTML>
