<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="form.css">
<%145%>
<script language="javascript" type="text/javascript">
<!--
function check_restore()
{
	if(document.forms[0].StringFilepload.value.length == 0)
	{
		alert("<%146%>");
		return false;
	}
	if(confirm("<%147%>"))
		return true;
	else
		return false;
}
//-->
</script> 
</head>
<body bgcolor="#ffffff" onload="document.forms[0].elements[0].focus()">
<form method="POST" action="strtblupgrade.cgi" ENCTYPE="multipart/form-data">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
<td colspan="2">
<h1>Upload String Table File</h1> 
</td>
</tr>
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
 <td>Locate and Select the Upgrade File from your Hard Disk:</td>
</tr>
<tr>
	<td colspan="2" align="left"><input type="FILE" name="StringFilepload" value="" size="40" maxlength="1024"></td>
</tr>
<tr>
	<td colspan="2" align="center"><INPUT TYPE="submit" name="mtenRestore" value="Upload" onClick="if(!check_restore()) return false;"></td>
</tr>
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
</table>
</form>
<p>
</p>
</body>
</html>

