<html>
<head>
<%11%>
<%1671%>
<title>NETGEAR Router <%12%></title>
</head>
<frameset rows="105,*"> 
	<frame src="MNU_top.htm" name="topframe" noresize scrolling="no" marginwidth="0" marginheight="0" framespacing="0" frameborder="1">
    <frame src="traffic_important_update.htm" name="formframe" frameborder="1" marginwidth="0" marginheight="0" scrolling="auto">
</frameset>
</html>

