<!DOCTYPE HTML>
<html>
<head>
<%11%>
<%1671%>
<title>NETGEAR Router <%12%></title> 
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%145%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function checkData()
{
    var cf = document.forms[0];
    var msg = "";
    
    if (cf.tm_type[1].checked)
    {
        if(cf.conntime_monthly_limit.value.length > 0)
        {
            if(isNumeric(cf.conntime_monthly_limit,99999))
                msg+="<%1687%>";
        }
        else
            msg+="<%1687%>";
    }
    else
    {
        if(cf.volume_monthly_limit.value.length > 0)
        {
            if(isNumeric(cf.volume_monthly_limit,999999))
                msg+="<%1687%>";
        }
        else
            msg+="<%1687%>";
        
        if(cf.round_up_volume.value.length > 0)
        {
            if(isNumeric(cf.round_up_volume,999999))
                msg+="<%1688%>";
            else
            {
                if((parseInt(cf.volume_monthly_limit.value) <= parseInt(cf.round_up_volume.value))
                    && ((parseInt(cf.volume_monthly_limit.value) != 0)
                        || (parseInt(cf.round_up_volume.value) != 0)))
                    msg+="<%1689%>";
            }
        }
        else
            msg+="<%1688%>";
    }
    
    if(cf.waterMark.value.length > 0)
    {
        if(isNumeric(cf.waterMark,999999))
            msg+="<%1690%>";
        else
        {
            if (cf.tm_type[1].checked)
            {
                if((parseInt(cf.conntime_monthly_limit.value)*60 <= parseInt(cf.waterMark.value))
                    && ((parseInt(cf.conntime_monthly_limit.value) != 0)
                        || (parseInt(cf.waterMark.value) != 0)))
                    msg+="<%1691%>";
            }
            else
            {
                if((parseInt(cf.volume_monthly_limit.value) <= parseInt(cf.waterMark.value))
                    && ((parseInt(cf.volume_monthly_limit.value) != 0)
                        || (parseInt(cf.waterMark.value) != 0)))
                    msg+="<%1691%>";
            }
        }
    }
    else
        msg+="<%1690%>";
    
    if(cf.hour.value.length > 0)
    {
        if(isNumeric(cf.hour,12))
            msg+="<%1692%>";
    }
    else
        msg+="<%1692%>";
    
    if(cf.min.value.length > 0)
    {
        if(isNumeric(cf.min,59))
            msg+="<%1693%>";
    }
    else
        msg+="<%1693%>";
    
    if (msg.length > 1)
    {
        alert(msg);
        return false;
    }

    if (cf.tm_type[1].checked)
        cf.contrl_type.value = 1;
    else
        cf.contrl_type.value = 0;

    if (cf.traff_dir.selectedIndex == 0)
        cf.contrl_dir.value = "0";
    else if (cf.traff_dir.selectedIndex == 1)
        cf.contrl_dir.value = "1";
    else
        cf.contrl_dir.value = "2";

    if(cf.checkTraffic.checked)
        cf.traffic_on.value = 1;
    else
        cf.traffic_on.value = 0;

    cf.dayofmonth.value = cf.day.options[cf.day.selectedIndex].value;
    cf.ampm_sel.value = cf.ampm.options[cf.ampm.selectedIndex].value;

    if(cf.checkLed.checked)
        cf.led_on.value = 1;
    else
        cf.led_on.value = 0;
    
    if(cf.checkBlock.checked)
        cf.block_on.value = 1;
    else
        cf.block_on.value = 0;

    return true;
}

function setCrtl()
{
    var cf = document.forms[0];
    var wan_proto = cf.wan_proto.value;

    if (cf.tm_type[1].checked)
    {
        cf.traff_dir.disabled = true;
        cf.volume_monthly_limit.disabled = true;
        cf.round_up_volume.disabled = true;
        cf.conntime_monthly_limit.disabled = false;
    }
    else
    {
        cf.traff_dir.disabled = false;
        if (cf.traff_dir.selectedIndex == 0)//No limit
        {
            if(isNumeric(cf.volume_monthly_limit,999999))
                cf.volume_monthly_limit.value = 0;
            cf.volume_monthly_limit.disabled = true;

            if(isNumeric(cf.round_up_volume,999999))
                cf.round_up_volume.value = 0;
            cf.round_up_volume.disabled = true;
        }
        else
        {
            cf.volume_monthly_limit.disabled = false;
            if((wan_proto == "dhcp") || (wan_proto == "static"))
            {
                cf.round_up_volume.value = 0;
                cf.round_up_volume.disabled = true;
            }
            else
                cf.round_up_volume.disabled = false;
        }
        cf.conntime_monthly_limit.disabled = true;
    }
}

function setGray()
{
    var cf = document.forms[0];
    var wan_proto = cf.wan_proto.value;

    if(cf.checkTraffic.checked)
    {
        cf.tm_type[0].disabled = false;
        cf.tm_type[1].disabled = false;

        if((wan_proto == "dhcp") || (wan_proto == "static"))
        {
            cf.tm_type[0].checked = true;
            cf.tm_type[1].disabled = true;
            cf.tm_type[1].checked = false;
        }
        
        if (cf.tm_type[1].checked)
        {
            cf.traff_dir.disabled = true;
            cf.volume_monthly_limit.disabled = true;
            cf.round_up_volume.disabled = true;
            cf.conntime_monthly_limit.disabled = false;
        }
        else
        {
            cf.traff_dir.disabled = false;
            if (cf.traff_dir.selectedIndex == 0)//No limit
            {
                if(isNumeric(cf.volume_monthly_limit,999999))
                    cf.volume_monthly_limit.value = 0;
                cf.volume_monthly_limit.disabled = true;

                if(isNumeric(cf.round_up_volume,999999))
                    cf.round_up_volume.value = 0;
                cf.round_up_volume.disabled = true;
            }
            else
            {
                cf.volume_monthly_limit.disabled = false;
                if((wan_proto == "dhcp") || (wan_proto == "static"))
                {
                    cf.round_up_volume.value = 0;
                    cf.round_up_volume.disabled = true;
                }
                else
                    cf.round_up_volume.disabled = false;
            }
            cf.conntime_monthly_limit.disabled = true;
        }
        
        cf.hour.disabled = false;
        cf.min.disabled = false;
        cf.day.disabled = false;
        cf.ampm.disabled = false;
        {

var removeButton;
cf.restartCounter.disabled = false;
removeButton=document.getElementsByName("restartCounter");
removeButton[0].outerHTML='<button type="submit" value="<%1694%>" name="restartCounter" class="button-rule" onClick="buttonClick(this,\'<%1694%>\');return showConfirmedPage();"><span class="roundleft_button">&nbsp;&nbsp; <%1694%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
removeButton[0].style.cursor='pointer';
}

        cf.waterMark.disabled = false;
        cf.checkLed.disabled = false;
        cf.checkBlock.disabled = false;
        {

var removeButton;
cf.refresh.disabled = false;
removeButton=document.getElementsByName("refresh");
removeButton[0].outerHTML='<button type="submit" value="<%400%>" name="refresh" class="button-rule" onClick="buttonClick(this,\'<%400%>\'); return true;"><span class="roundleft_button">&nbsp;&nbsp; <%400%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
removeButton[0].style.cursor='pointer';
}

        {

var removeButton;
cf.trafficStatus.disabled = false;
removeButton=document.getElementsByName("trafficStatus");
removeButton[0].outerHTML='<button type="button" value="<%1695%>" name="trafficStatus" class="button-rule" onClick="buttonClick(this,\'<%1695%>\');return openStatusWindow();"><span class="roundleft_button">&nbsp;&nbsp;<%1695%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
removeButton[0].style.cursor='pointer';
}

    }
    else
    {
        cf.tm_type[0].disabled = true;
        cf.tm_type[1].disabled = true;
        cf.traff_dir.disabled = true;
        cf.volume_monthly_limit.disabled = true;
        cf.round_up_volume.disabled = true;
        cf.conntime_monthly_limit.disabled = true;
        cf.hour.disabled = true;
        cf.min.disabled = true;
        cf.day.disabled = true;
        cf.ampm.disabled = true;
        {

var removeButton;
cf.restartCounter.disabled = true;
removeButton=document.getElementsByName("restartCounter");
removeButton[0].outerHTML='<button type="submit" disabled value="<%1694%>" name="restartCounter" class="button-grey" onClick="buttonClick(this,\'<%1694%>\');return showConfirmedPage();"><span class="roundleft_grey">&nbsp;&nbsp; <%1694%></span><span class="roundright_grey">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
removeButton[0].style.cursor='default';
}

        cf.waterMark.disabled = true;
        cf.checkLed.disabled = true;
        cf.checkBlock.disabled = true;
        {

var removeButton;
cf.refresh.disabled = true;
removeButton=document.getElementsByName("refresh");
removeButton[0].outerHTML='<button type="submit" disabled value="<%400%>" name="refresh" class="button-grey" onClick="buttonClick(this,\'<%400%>\'); return true;"><span class="roundleft_grey">&nbsp;&nbsp; <%400%></span><span class="roundright_grey">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
removeButton[0].style.cursor='default';
}

        {

var removeButton;
cf.trafficStatus.disabled = true;
removeButton=document.getElementsByName("trafficStatus");
removeButton[0].outerHTML='<button type="button" disabled value="<%1695%>" name="trafficStatus" class="button-grey"  onClick="buttonClick(this,\'<%1695%>\');return openStatusWindow()"><span class="roundleft_grey">&nbsp;&nbsp;<%1695%></span><span class="roundright_grey">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>';
removeButton[0].style.cursor='default';
}

    }
}

var tra_enable;

function loadSettings()
{
    var cf = document.forms[0];
    var wan_proto = cf.wan_proto.value;
    
    if (cf.contrl_type.value == "1")
    {
        cf.tm_type[1].checked = true;
        cf.traff_dir.disabled = true;
        cf.volume_monthly_limit.disabled = true;
        cf.round_up_volume.disabled = true;
    }
    else
    {
        cf.tm_type[0].checked = true;
        cf.conntime_monthly_limit.disabled = true;
    }
    
    if (cf.contrl_dir.value == "0")
        cf.traff_dir.selectedIndex = 0;
    else if (cf.contrl_dir.value == "1")
        cf.traff_dir.selectedIndex = 1;
    else
        cf.traff_dir.selectedIndex = 2;

    if(parseInt(cf.dayofmonth.value) == 31)
        cf.day.selectedIndex = 28;
    else
        cf.day.selectedIndex = parseInt(cf.dayofmonth.value) - 1;
        
    if(parseInt(cf.ampm_sel.value) == 0)
        cf.ampm.selectedIndex = 0;
    else
        cf.ampm.selectedIndex = 1;
    
    if (cf.led_on.value == "1")
        cf.checkLed.checked = true;
    else
        cf.checkLed.checked = false;
    
    if (cf.block_on.value == "1")
        cf.checkBlock.checked = true;
    else
        cf.checkBlock.checked = false;
   
    tra_enable = cf.traffic_on.value;
    if ((cf.traffic_supported.value == "YES"))
    {
        if (cf.traffic_on.value == "1")
            cf.checkTraffic.checked = true;
        else
            cf.checkTraffic.checked = false;
        cf.checkTraffic.disabled = false;
        cf.apply.disabled = false;
        cf.cancel.disabled = false;
    }
    else
    {
        cf.checkTraffic.checked = false;
        cf.checkTraffic.disabled = true;
        cf.apply.disabled = true;
        cf.cancel.disabled = true;
    }

    setGray();
    
    if (cf.traffic_supported.value == "NO")
        alert("The fuction is unsupported.");

/*        
    if (cf.dorefresh.value == "1")
    {
        if(cf.checkTraffic.checked)
            document.forms[0].elements[15].focus();
    }
    else
    {
        if ((cf.traffic_supported.value == "YES"))
            document.forms[0].elements[0].focus();
    }
*/
}



var trStatusWinVar = null;

function openTrStatusWin(filename,win_type)
{
//  closeWin(trStatusWinVar);
//sailor del it,because if these netscape will work abnormal!
    trStatusWinVar = window.open(filename,'trstatus_win',win_type);
    if (trStatusWinVar.focus)
        setTimeout('trStatusWinVar.focus()',200); 
}

function openStatusWindow()
{
    var cf = document.forms[0];
    var wan_proto = cf.wan_proto.value;
    var winoptions;

    if ((cf.traffic_supported.value == "YES"))
    {
        if (tra_enable == "1")
        {
            winoptions = "width=400,height=350,status=yes,resizable=yes";
            //openDataSubWin('traffic_status.htm',winoptions);
            openTrStatusWin('traffic_status.htm',winoptions);
        }
    }
    
    return true;
}

function showConfirmedPage()
{
    if (!confirm("<%1696%>"))
        return false;
    return true;
}
//-->
</script>
</head>
<body  onload="change_size();loadSettings();"  class="page-body"  onResize="change_size();" >
<img class="cover-image" src="<%148%>">
<img class="body-image" src="<%149%>">
<div id="full-page-container">

<form id="target"  name="formname" method="POST" action="traffic.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="<%150%>">
<div class="subhead2"> <%108%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%195%>"  onClick="buttonClick(this,'<%195%>');return checkData();" type="SUBMIT" name="apply" class="button-apply" > <span class="roundleft_apply" ><%196%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%197%>" onClick="buttonClick(this,'<%197%>');location.href='traffic_meter.htm'" type="button" name="cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%198%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
	<td colspan="2"><a href="javascript:loadhelp('traffic_meter', 'internet')" tabindex="-1"><b><%1697%></b> </a></td>
</tr>

<tr>
	<td colspan="2"><input type="checkbox" name="checkTraffic" value="Enable" onclick = "javascript:setGray();" > <%1698%></td>
</tr>
<tr>
	<td nowrap colspan="2"><img src="spacer.gif" width="20" height="12" border="0"><input type="radio" name="tm_type" value="tvolume" onclick="setCrtl()" > <%1699%> <select name="traff_dir" size="1" onChange="setCrtl()"><option><%1700%></option><option><%1701%></option><option ><%1702%></option></select>  </td>
</tr>
<tr>
	<td width="90%"><img src="spacer.gif" width="43" height="12" border="0"><%1703%></td>
	<td width="10%" align="right"><input type="text" name="volume_monthly_limit" value="<%1683%>" size="6" maxlength="6" > (<%1674%>)</td>
</tr>
<tr>
	<td nowrap width="90%"><img src="spacer.gif" width="43" height="12" border="0"><%1704%></td>
	<td width="10%" align="right"><input type="text" name="round_up_volume" value="<%1705%>" size="6" maxlength="6" > (<%1674%>)</td>
</tr>
<tr>
	<td nowrap colspan="2"><img src="spacer.gif" width="20" height="12" border="0"><input type="radio" name="tm_type" value="conntime" onclick="setCrtl()" > <%1706%></td>
</tr>
<tr>
	<td width="50%"><img src="spacer.gif" width="43" height="12" border="0"><%1703%></td>
	<td width="50%" align="right"><input type="text" name="conntime_monthly_limit" value="<%1684%>" size="5" maxlength="5" > (<%1677%>)</td>
</tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
	<td colspan="2"><a href="javascript:loadhelp('traffic_meter', 'counter')" tabindex="-1"><b><%1707%></b> </a></td>
</tr>
		<tr>
		<td nowrap colspan="2">
		<%1708%> <input type="text" class="num" name="hour" size=2 maxlength=2 value="<%1709%>" >:<input type="text" class="num" name="min" size=2 maxlength=2 value="<%1710%>" >
       <select name="ampm"><option value=0><%1711%></option><option value=1><%1712%></option></select> <%1713%> 
	   <select name="day"><option value=1><%1714%></option><option value=2><%1715%></option><option value=3><%1716%></option><option value=4><%1717%></option><option value=5><%1718%></option><option value=6><%1719%></option><option value=7><%1720%></option><option value=8><%1721%></option><option value=9><%1722%></option><option value=10><%1723%></option><option value=11><%1724%></option><option value=12><%1725%></option><option value=13><%1726%></option><option value=14><%1727%></option><option value=15><%1728%></option><option value=16><%1729%></option><option value=17><%1730%></option><option value=18><%1731%></option><option value=19><%1732%></option><option value=20><%1733%></option><option value=21><%1734%></option><option value=22><%1735%></option><option value=23><%1736%></option><option value=24><%1737%></option><option value=25><%1738%></option><option value=26><%1739%></option><option value=27><%1740%></option><option value=28><%1741%></option><option value=31><%1742%></option></select> <%1743%>
        </td>
	</tr>

	<tr>
	  <td colspan="2" align="right">&nbsp;&nbsp;&nbsp;<button type="submit" value="<%1694%>" name="restartCounter" class="button-rule" onclick="buttonClick(this,'<%1694%>');return showConfirmedPage();"><span class="roundleft_button">&nbsp;&nbsp; <%1694%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td>
	</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
   <tr>
	<td colspan="2"><a href="javascript:loadhelp('traffic_meter', 'reached')" tabindex="-1"><b><%1744%></b> </a></td>
		</tr>
		<tr>
			<td colspan="2"> <%1745%> </td>
		</tr>
		<tr>	
			<td nowrap colspan="2"><img src="spacer.gif" width="24" height="12" border="0"><input type="text" name="waterMark" value="<%1685%>" size="6" maxlength="6" > <%1746%></td>
		</tr>
		<tr>
			<td colspan="2" > <%1747%> </td>
		</tr>
		<tr>
			<td colspan="2"><img src="spacer.gif" width="20" height="12" border="0"><input type="checkbox" name="checkLed" > <%1748%> </td>
		</tr>
		<tr>
			<td colspan="2"><img src="spacer.gif" width="20" height="12" border="0"><input type="checkbox" name="checkBlock" > <%1749%></td>
		</tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
	<td colspan="2"><a href="javascript:loadhelp('traffic_meter', 'statistics')" tabindex="-1"><b><%1750%></b></a></td>
</tr>

    <tr>
        <td colspan="2"> <%1751%>: <%1752%></td>
    </tr>
    <tr>
        <td colspan="2"> <%1753%>: <%1754%></td>
    </tr>
    <tr>
        <td colspan="2"> <%1755%>: <%1756%></td>
    </tr>
    <tr></tr>


<A NAME="stati"></A>
<tr>
  <td colspan="2">
  <table border=1 cellspacing=0 cellpadding=0 width="100%">
   <tr>
    <td width="15%" style='width:15.88%;border:inset 1.0pt;border-bottom:none;
    mso-border-top-alt:inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;
    mso-border-right-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class="thead"><%1253%></span></p>
    </td>
    <td width="23%" style='width:23.2%;border:inset 1.0pt;border-bottom:
    none;mso-border-top-alt:inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;
    mso-border-right-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class="thead" <%1757%>><%175%></span></p>
    </td>
    <td width="60%" nowrap colspan=3 style='width:60.92%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:inset 1.0pt;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;
    padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class="thead"><%1758%></span></p>
    </td>
   </tr>
   <tr>
    <td width="15%" style='width:15.88%;border:inset 1.0pt;border-top:none;
    mso-border-left-alt:inset windowtext .75pt;mso-border-bottom-alt:inset windowtext .75pt;
    mso-border-right-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class=thead1>&nbsp;</span></p>
    </td>
    <td width="23%" nowrap style='width:23.2%;border:inset 1.0pt;border-top:
    none;mso-border-left-alt:inset windowtext .75pt;mso-border-bottom-alt:inset windowtext .75pt;
    mso-border-right-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class="thead" <%1757%>><%1759%></span></p>
    </td>
    <td width="17%" nowrap style='width:17.28%;border:none;border-left:inset 1.0pt;border-bottom:inset 1.0pt;
    mso-border-bottom-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class="thead"><%1760%></span></p>
    </td>
    <td width="20%" style='width:20.9%;border:none;border-bottom:inset 1.0pt;
    mso-border-bottom-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class="thead"><%1761%></span></p>
    </td>
    <td width="17%" style='width:17.74%;border:none;border-bottom:inset 1.0pt;border-right:inset 1.0pt;
    mso-border-bottom-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class="thead"><%1762%></span></p>
    </td>
   </tr>
   <tr>
    <td width="15%" style='width:15.88%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class="thead"><%1763%></span></p>
    </td>
    <td width="23%" style='width:23.2%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class=ttext1 <%1757%>><%1764%></span></p>
    </td>
    <td width="17%" style='width:17.28%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><%1765%></p>
    </td>
    <td width="20%" style='width:20.9%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><%1766%></p>
    </td>
    <td width="17%" style='width:17.74%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:inset 1.0pt;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><%1767%></p>
    </td>
   </tr>
   <tr>
    <td width="15%" style='width:15.88%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class="thead"><%1768%></span></p>
    </td>
    <td width="23%" style='width:23.2%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class=ttext1 <%1757%>><%1769%></span></p>
    </td>
    <td width="17%" style='width:17.28%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><%1770%></p>
    </td>
    <td width="20%" style='width:20.9%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><%1771%></p>
    </td>
    <td width="17%" style='width:17.74%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:inset 1.0pt;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><%1772%></p>
    </td>
   </tr>
   <tr>
    <td width="15%" style='width:15.88%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class="thead"><%1773%></span></p>
    </td>
    <td width="23%" style='width:23.2%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class=ttext1 <%1757%>><%1774%></span></p>
    </td>
    <td width="17%" style='width:17.28%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1775%> / </p>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1776%></p>
    </td>
    <td width="20%" style='width:20.9%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1777%> / </p>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1778%></p>
    </td>
    <td width="17%" style='width:17.74%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:inset 1.0pt;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1779%> / </p>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1780%></p>
    </td>
   </tr>
   <tr>
    <td width="15%" style='width:15.88%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class="thead"><%1781%></span></p>
    </td>
    <td width="23%" style='width:23.2%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class=ttext1 <%1757%>><%1782%></span></p>
    </td>
    <td width="17%" style='width:17.28%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1783%> / </p>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1784%></p>
    </td>
    <td width="20%" style='width:20.9%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1785%> / </p>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1786%></p>
    </td>
    <td width="17%" style='width:17.74%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:none;border-right:inset 1.0pt;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1787%> / </p>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1788%></p>
    </td>
   </tr>
   <tr>
    <td width="15%" style='width:15.88%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:inset 1.0pt;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class="thead"><%1789%></span></p>
    </td>
    <td width="23%"  style='width:23.2%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:inset 1.0pt;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center><span class=ttext1 <%1757%>><%1790%></span></p>
    </td>

    <td width="17%"  style='width:17.28%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:inset 1.0pt;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1791%> / </p>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1792%></p>
    </td>
    <td width="20%" style='width:20.9%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:inset 1.0pt;border-right:none;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1793%> / </p>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1794%></p>
    </td>
    <td width="17%" style='width:17.74%;border-top:inset 1.0pt;
    border-left:inset 1.0pt;border-bottom:inset 1.0pt;border-right:inset 1.0pt;mso-border-top-alt:
    inset windowtext .75pt;mso-border-left-alt:inset windowtext .75pt;padding:0cm 0cm 0cm 0cm'>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1795%> / </p>
        <p align=center style='margin:.01cm;margin-bottom:.01cm'><%1796%></p>
    </td>
   </tr>
  </table>

  </td>
 </tr>


<tr>
	<td colspan="2" align="center">
	&nbsp;&nbsp;&nbsp;<button type="SUBMIT" value="<%400%>" name="refresh" class="button-rule" onclick="buttonClick(this,'<%400%>'); return true;" ><span class="roundleft_button">&nbsp;&nbsp; <%400%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	&nbsp;&nbsp;&nbsp;<button type="button" value="<%1695%>" name="trafficStatus" class="button-rule" onclick="buttonClick(this,'<%1695%>');return openStatusWindow();"><span class="roundleft_button">&nbsp;&nbsp; <%1695%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	</td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
		

</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="traffic_meter_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%158%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%159%> </span>
      </div>



<input name=traffic_supported type=hidden value= "<%1797%>">
<input name=wan_proto type=hidden value= "<%168%>">
<input name=traffic_on type=hidden value= "<%1680%>">
<input name=contrl_type type=hidden value= "<%1681%>">
<input name=contrl_dir type=hidden value= "<%1682%>">
<input name=ampm_sel type=hidden value= "<%1798%>">
<input name=dayofmonth type="hidden" value="<%1799%>">
<input name=led_on type=hidden value= "<%1800%>">
<input name=block_on type=hidden value= "<%810%>">
<input name=dorefresh type=hidden value= "<%1801%>">
<a name="helpframe-anchor"></a>
</form>

</div>
</body>
 <head>
  <%11%>
</head>

</html>

