<HTML>
<head>
<%11%>
 <title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="form.css">
<SCRIPT LANGUAGE="JavaScript" type="text/javascript">
<!-- hide script from old browsers
var trWarnWinVar = null;

function openTrWarnWin(filename,win_type)
{
//	closeWin(trWarnWinVar);
//sailor del it,because if these netscape will work abnormal!
	trWarnWinVar = window.open(filename,'trwarn_win',win_type);
	if (trWarnWinVar.focus)
		setTimeout('trWarnWinVar.focus()',200); 
}

function openWarnWindow()
{
	var winoptions;

    winoptions = "width=560,height=280,status=yes,resizable=yes";
    openTrWarnWin('traffic_important_update.htm',winoptions);
}

function WinCloseCheck()
{
    var cf = document.forms[0];
    var wan_proto = cf.wan_proto.value;

    if ((cf.traffic_on.value == "1") &&
        (cf.traffic_supported.value == "YES"))
    {
        //do nothing
    }
    else
    {
        //close the window
        top.window.opener=null;
        top.window.close();
    }
}
//-->
</script>
</HEAD>
<%1803%>
<body bgcolor="#ffffff" onload="WinCloseCheck();">
<%1804%>
<%1805%>
<body bgcolor="#ffffff" onload="WinCloseCheck();">
<%1806%>
<%1807%>
<body bgcolor="#ffffff" onload="WinCloseCheck();openWarnWindow();" >
<%1808%>
<form name="warnwin">
<table border="0" id="table7">
<tr>
 <td colspan="7" background="liteblue.gif" height="12">&nbsp;</td>
</tr>
<tr>
    <td colspan="7"><b><%1695%></b></td>
</tr>
<tr>
    <td colspan="7">&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
    <td width="30"></td>
	<td colspan="2" width="120" align=left><span class="thead"><%1809%></span></td>
	<td width="30"></td>
	<td colspan="2" width="120" align=left><span class="thead"><%1810%></span></td>
	<td width="30"></td>
</tr>
<tr>
    <td colspan="7">&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr>
 <td width="30"></td>
 <td width="35">
  <table border="1" bordercolor=#000000 width="100%" id="table8" style="border-collapse: collapse">
   <tr>
    <td style="border-left-style:solid; border-left-width:1px; border-right-style:solid; border-right-width:1px; border-top-style:solid; border-top-width:1px; border-bottom-style:none; border-bottom-width:medium" height="<%1811%>"></td>
   </tr>
   <tr>
    <td bgcolor="#0000FF" style="border-left-style:solid; border-left-width:1px; border-right-style:solid; border-right-width:1px; border-top-style:none; border-top-width:medium; border-bottom-style:solid; border-bottom-width:1px" height="<%1812%>"></td>
   </tr>
   </table>
 </td>
 <td width="85"><%1813%> <%1814%></td>
 <td width="30"></td>
 <td width="35">
  <table border="1" bordercolor=#000000 width="100%" id="table9" style="border-collapse: collapse">
   <tr>
   <td style="border-left-style:solid; border-left-width:1px; border-right-style:solid; border-right-width:1px; border-top-style:solid; border-top-width:1px; border-bottom-style:none; border-bottom-width:medium" height="<%1815%>"></td>
   </tr>
   <tr>
   <td bgcolor="<%1816%>" style="border-left-style:solid; border-left-width:1px; border-right-style:solid; border-right-width:1px; border-top-style:none; border-top-width:medium; border-bottom-style:solid; border-bottom-width:1px" height="<%1817%>"></td>
   </tr>
  </table>
 </td>
 <td width="85"><%1818%></td>
 <td width="30"></td>
</tr>
</table>
<input name=traffic_supported type=hidden value= "<%1797%>">
<input name=wan_proto type=hidden value= "<%168%>">
<input name=traffic_on type=hidden value= "<%1680%>">
</FORM>
</BODY>
</HTML>

