<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%145%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers


var showit = (document.layers) ? "show" : "visible";
var hideit = (document.layers) ? "hide" : "hidden";
var NS4 = (document.layers);
var animationTimer = null;
var pgbarTimer = null;



    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function setVisible(divID, setto)
{
	if (NS4)
		document.layers[divID].visibility = setto;
	else if (document.all)
		document.all(divID).style.visibility = setto;
	else if (document.getElementById)
		document.getElementById(divID).style.visibility = setto;
}

function stopAnimation()
{
	if(animationTimer != null)
		clearTimeout(animationTimer);
	setVisible('animation', hideit);
	
    if(pgbarTimer != null)
		clearTimeout(pgbarTimer);
	setVisible('pgbar', hideit);
}
function checkData()
{
    updateProgress();
    parent.$('.noSub').die("click");
    parent.$('.SubMenu').die("click");
    parent.$('.Sub').die("click");
    return true;
}
var pchar = "|"; // progress char
var maxchars = 94;
var delay_time = <%1027%>;
var charcount = 0;

function makeStr(strSize, fillChar)
{
	var temp = "";
	for (i=0; i < strSize ; i ++)
		temp = temp + fillChar;
	return temp;
}
function updateProgress()
{
	var cf = document;
	var pf = document.forms[0];
	
	if ( charcount == 1 )
	{
        pf.No.style.display="none";
        setVisible('animation', showit);
        setVisible('pgbar', showit);
        $('#YesButton').css("display","none");
	}
	
	if (charcount < maxchars)
	{
		charcount ++;
		//document.all("progress").value = makeStr(charcount,pchar);
		document.forms[1].progress.value = makeStr(charcount,pchar);
		setTimeout("updateProgress()",delay_time);
	}
}
function changeAlive()
{
           
          parent.$('.subHeader').hide();          
          parent.$('.noSubActive').removeClass('noSubActive');
          parent.$('.SubMenuActive').addClass('SubMenu');   
          parent.$('.SubMenuActive').removeClass('SubMenuActive');
          parent.$('.SubMenuActiveLarge').addClass('SubMenuLarge');
          parent.$('.SubMenuActiveLarge').addClass('SubMenu');
          parent.$('.SubMenuActiveLarge').addClass('Large');
          parent.$('.SubMenuActiveLarge').removeClass('SubMenuActiveLarge');
          parent.$('.SubActive').addClass('Sub');
          parent.$('.SubActive').removeClass('SubActive');         
          parent.$('#setup_header').addClass('SubActive');
          parent.$('#setup_header').removeClass('Sub');
          parent.$('#int_set').addClass('SubMenuActive');
          parent.$('#int_set').removeClass('SubMenu');
          parent.$('#set_hdr').show(); 
}
//-->
</script>
</head>
<body  style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="formname" method="POST" action="upgrade.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<table border="0"   width="100%">

<tr>
<td colspan="2">
	<h1><%95%></H1>
</td>
</tr>

<tr> 
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
    <td colspan="2"><b><%1591%> </b></td>
</tr>
<tr></tr>
<tr>
	<td width="50%"><%1564%></td>
        <td width="50%"><%1592%></td>
</tr>
<tr></tr>
<tr>
	<td width="50%"><%1593%></td>
        <td width="50%"><%1594%></td>
</tr>
<tr></tr>

<tr> 
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
	<td colspan="2" align="center">
		&nbsp;&nbsp;&nbsp;<button type="submit" value="<%165%>" name="Yes" id="YesButton" class="button-rule" onClick="buttonClick(this,'<%165%>');return checkData();"><span class="roundleft_button">&nbsp;&nbsp; <%165%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
		&nbsp;&nbsp;&nbsp;<button type="button" value="<%166%>" name="No" class="button-rule" onClick="buttonClick(this,'<%166%>');changeAlive();self.location.href='UPG_upgrade.htm'"><span class="roundleft_button">&nbsp;&nbsp; <%166%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	</td></tr>
</table>
</form>
<form id="target"  name="display">
<div align="left" ID="pgbar" style="position:relative;top:0;left:0;visibility:hide;visibility:hidden;">
<tr><td>
<table border="0"   width="100%"width="100%">

<tr>
 <td><B><BIG><%1034%> 1.5 <%1035%>
 </BIG></B></td>
</tr>
<tr>
<td align="center">
<input type="text" name="progress" class="prgbar" value="" style="color: blue" size="42"    contentEditable=false onkeydown="return false;" onbeforeeditfocus="return false;" onpaste="return false;"></td>
</tr>
</table>
</div>
</form>
<div align="center" ID="animation" style="position:relative;top:0;left:0;visibility:hide;visibility:hidden;">
<br><img src="upload.gif" width="290" height="82" alt="" border="0"></div>
</body>
</html>

