<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title> 
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%145%>
<script language="javascript" type="text/javascript">
<!--


  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function loadvalue()
{
	var cf=document.forms[0];

	if(cf.media_server_onoff.value == "1")
		cf.media_server.checked =true;
	else
		cf.media_server.checked =false;
		
	if(cf.tivo_support_onoff.value == "1")
		cf.tivo_support.checked =true;
	else
		cf.tivo_support.checked =false;

	//cf.media_server_name.value=upnp_media_name.replace(/: WNDR3700/g, "");
	cf.media_server_name.value=cf.upnp_media_name.value;
}

function check_name()
{
	var cf=document.forms[0];
	var media_name=cf.media_server_name.value;
        //cf.upnp_media_name.value=media_name+": WNDR3700";
}

function check_media(form)
{
	if(form.media_server.checked)
		form.media_server_onoff.value="1";
	else
		form.media_server_onoff.value="0";

	//check_name();

	form.submit();
}

function getkey(type, e)
{
	var keycode, event;

	if (window.event) 
	{
		event = window.event;
		keycode = window.event.keyCode;
	}	
	else if (e)
	{
		event = e;
		keycode = e.which;
	}	
	else return true;

	if(event.ctrlKey && ( keycode==99 || keycode==118 || keycode==120) )
		return true;

    if(type == "mediaServerName")// not / * ? " <> \ : keycode==58 means :
    {
        if((keycode==47) || (keycode==42) || (keycode==58) || (keycode==63) || (keycode==34) || (keycode==60) || (keycode==62) || (keycode==92) || (keycode==93) || (keycode==124))
        {
		    alert("<%2490%>");
            return false;
	        }	
       else
            return true;
    }
	else	
		return false;
}
//-->
</script> 
</head>

<body  onload="change_size();loadvalue();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="<%148%>">
<img class="body-image" src="<%149%>">
<div id="full-page-container">

<form id="target"  method="POST" action="upnp_media.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="<%150%>">
<div class="subhead2"> <%2491%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%195%>"  onClick="buttonClick(this,'<%195%>');check_media(document.forms[0])" type="button" name="Apply" class="button-apply" > <span class="roundleft_apply" ><%196%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>

</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">


<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
	<td nowrap colspan=2>
	<input type="checkbox" name="media_server" value="1" onClick=""><a href="javascript:loadhelp('UPNP_media','enable')" tabindex="-1"><b><%2492%></b><a>
	</td>
</tr>
<tr>
	<td nowrap colspan=2>
	<input type="checkbox" name="tivo_support" value="1" onClick=""><a href="javascript:loadhelp('UPNP_media','enable')" tabindex="-1"><b><%2493%></b><a>
	</td>
</tr>
<tr>
	<td nowrap><b><%2494%></b>:</td>
	<td nowrap align=left>
	<input type="text" name="media_server_name" size="32" onBlur="check_name()" onKeyPress="return getkey('mediaServerName', event)"><%2495%>
	</td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
	<td nowrap colspan=2><a href="javascript:loadhelp('UPNP_media','content')" tabindex="-1"><b><%2496%></b></a>
	</td>
</tr>

<tr>
	<td nowrap colspan=2>
	<input type="radio" name="scan" value="0" onClick="" checked><%2497%>
	</td>
</tr>

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>


</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="UPNP_media_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%158%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%159%> </span>
      </div>



<input type="hidden" name="media_server_onoff" value="<%2498%>">
<input type="hidden" name="tivo_support_onoff" value="<%2499%>">
<input type="hidden" name="upnp_media_name" value="<%2500%>">
<a name="helpframe-anchor"></a>
</FORM>
</div>
</BODY>
</HTML>
