<!DOCTYPE HTML>
<html><head>
<%11%>
<%145%>
<script language="javascript" type="text/javascript">
<!--


function loadSettings()
{
    cf = document.forms[0];
    var appName =navigator.appName;
    var userAgent = navigator.userAgent.toLowerCase();
    cf.appName.value = appName;
    cf.userAgent.value = userAgent;
    cf.submit();
}
//-->
</script></head>
<body  style="background-color:#E5E5E5;margin:0px">
<div id="full-page-container">
<img class="cover-image" src="<%148%>" onload="loadSettings();">
<form name="browser_name" method="post" action="usb_basic_main.cgi">
<input type="hidden" name="appName" value="">
<input type="hidden" name="userAgent" value="">
<a name="helpframe-anchor"></a>
</form>
</div>
</body></html>
