<!DOCTYPE HTML>
<html><head>
<%11%>
<title>NETGEAR Router <%12%></title> 
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<style type="text/javascript">
    classes.num.all.fontFamily = "Courier";
    classes.num.all.fontSize = "10pt" ;
</style>
<%145%>
<script language="javascript" type="text/javascript">
<!--


    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function Browse_folder()
{
    document.forms[0].mode.value = "browse";
    document.forms[0].submit();
    window.open('USB_folderBrowse.htm','_blank','resizable=0,scrollbars=yes,width=400,height=400,left=400,top=300').focus();
}
function checkData()
{
    var cf = document.forms[0];
    var isAllAdmin;    
	var msg = "";
	var r, re, fail;
	var usb_folder_string = cf.usb_folder.value;
	fail = 1;
	<%1959%>
	if(fail == 1)
	    msg+= "<%1940%>\n";
	
	if (cf.usb_folder.value == "")
		 msg+= "<%1941%>\n";
	if ( (cf.usb_folder.value.match( /[\x2E-\x2E]/ )) )
	   {
			alert("<%1940%>\n");
			return false;
	   }	 
	if (cf.share_name.value == "")
		msg+= "<%1942%>\n";
	
    if (   (cf.share_name.value.match( /[\x22-\x22]/ ))
        || (cf.share_name.value.match( /[\x3A-\x3A]/ ))
        || (cf.share_name.value.match( /[\x3C-\x3C]/ ))
        || (cf.share_name.value.match( /[\x3E-\x3E]/ ))
        || (cf.share_name.value.match( /[\x27-\x27]/ ))
        || (cf.share_name.value.match( /[\x7C-\x7C]/ ))
        || (cf.share_name.value.match( /[\x2F-\x2F]/ ))
        || (cf.share_name.value.match( /[\x5D-\x5D]/ ))
		|| (cf.share_name.value.match( /[\x3E-\x3E]/ ))
		|| (cf.share_name.value.match( /[\x5C-\x5C]/ ))
       )
    {
		cf.share_name.focus();
		msg+= "<%1943%>.\n";
	}
	<%1944%>
	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}
	if( (cf.read_access.selectedIndex == 1) && (cf.write_access.selectedIndex == 0) )
	    cf.write_access.selectedIndex = 1;
        
    /* There exist folder is "admin" privilege but no "All - no password" privilege. */
    isAllAdmin = cf.isAllAdminFolder.value;    
    if ( cf.no_dlna.value != 1 ) {
       if((isAllAdmin >= 0) && (cf.read_access.selectedIndex == 1) && (cf.write_access.selectedIndex == 1) )
          alert("<%1904%>");        
    }    
    
    pageRefresh();
    return true;
}
function pageRefresh()
{
    document.forms[0].submit();
    //window.close();
    //opener.document.location.href = "USB_adv.htm";
}

function chgRd()
{
    var cf = document.forms[0];
    if (cf.read_access.selectedIndex == 1)
	    cf.write_access.selectedIndex = 1;
}
function chgWt()
{
    var cf = document.forms[0];
    if (cf.write_access.selectedIndex == 0)
	    cf.read_access.selectedIndex = 0;
}
//-->
</script></head>
<body  style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="frmService" method="post" action="usb_device.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<script language="javascript" type="text/javascript">
var NotExistFolder = "<%1945%>";
if (NotExistFolder == "1")
{
    opener.document.location.href = "USB_adv.htm";
    window.close();
}
else if (NotExistFolder == "2")
    alert("<%1940%>\n");
</script>
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
    <td><h1><%1960%></h1></td>
</tr>
<tr>
 <td>
 <img src="liteblue.gif" height="12" width="100%">
 </td>
</tr>

<table border="1" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td align="center" nowrap="nowrap" width="40%">
<p align="left"><span class="thead"><%1946%></span></td>
<td align="center" nowrap="nowrap" width="60%">
<p align="left"><%1961%></td>
</tr>
<tr>
<td align="center" nowrap="nowrap" width="40%">
<p align="left"><span class="thead"><%1962%></span></td>
<td align="center" nowrap="nowrap" width="60%"> 
<p align="left"><%1963%></td>
</tr>
<tr>
<td align="center" nowrap="nowrap" width="40%">
<p align="left"><span class="thead"><%1948%></span></td>
<td align="center" nowrap="nowrap" width="60%"> 
<input name="usb_folder" value="<%1964%>" style="float: left">
&nbsp;&nbsp;&nbsp;<button type="button" value="<%154%>" name="Browse" class="button-rule" onClick="buttonClick(this,'<%154%>');Browse_folder();"><span class="roundleft_button">&nbsp;&nbsp; <%154%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td>
</tr>
<tr>
<td align="center" nowrap="nowrap" width="40%">
<p align="left"><span class="thead"><%1891%></span></td>
<td align="left" nowrap="nowrap" width="60%"> 
<input name="share_name" value="<%1965%>" size="21" maxlength="20" style="float: left"></td>
</tr>
<tr>
<td align="center" nowrap="nowrap" width="40%">
<p align="left"><span class="thead"><%1951%></span></td>
<td align="center" nowrap="nowrap" width="60%">
<p align="left"><select name="read_access" onchange="chgRd()" size="1">
        <option value=0><%1952%></option>
        <option value=1 <%1953%> ><%1954%></option>
    </select></td>
</tr>
<td align="center" nowrap="nowrap" width="40%">
<p align="left"><span class="thead"><%1955%></span></td>
<td align="center" nowrap="nowrap" width="60%">
<p align="left"><select name="write_access" onchange="chgWt()" size="1">
        <option value=0><%1952%></option>
        <option value=1 <%1956%> ><%1954%></option>
    </select></td>
</tr>
</table>

	<table border="0" cellpadding="0" cellspacing="3" width="100%">
		<tr>
			<td>&nbsp;&nbsp;</td>
		</tr>
	</table>
 <table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr><td>&nbsp;&nbsp;&nbsp;<button type="button" value="<%195%>" name="Apply" class="button-rule" onclick="buttonClick(this,'<%195%>');return checkData();"><span class="roundleft_button">&nbsp;&nbsp; <%195%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>
</table>
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
 <td>
 <img src="liteblue.gif" height="12" width="100%">
 </td>
</tr>
</table>  
 <table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr><td>&nbsp;&nbsp;&nbsp;<button type="button" value="<%172%>" name="Close" class="button-rule" onclick="buttonClick(this,'<%172%>');window.close();"><span class="roundleft_button">&nbsp;&nbsp; <%172%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>
</table>
</table>
<INPUT name=mode type=hidden value="edit">
<INPUT name=fromPage type=hidden value="2">
<INPUT name=isAllAdminFolder type=hidden value="<%1958%>">
<input name="no_dlna" type="hidden" value="<%1937%>">
</form>
</body></html>
