<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title> 
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%145%>
<style type="text/css">
    a {
        color: blue;
        text-decoration: underline;
    }
</style>
<script language="javascript" type="text/javascript">
<!--

function check_registration()
{

}

function loadSettings()
{
    var cf=document.forms[0];
    var registration_state="<%1984%>";

    if(registration_state == "register_ok") {
        window.location.href = "USB_basic_remote_reg.htm";
    } else {
        window.location.href = "USB_basic_remote_unreg.htm";
    }
}
//-->
</script></head>
<body onload="loadSettings();">
</div>
</body></html>

