<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title> 
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%145%>
<style type="text/css">
    a {
        color: blue;
        text-decoration: underline;
    }
</style>
<script language="javascript" type="text/javascript">
<!--
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }
//-->
</script></head>
<body onload="change_size();"  class="page-body" onResize="change_size();" >
<img class="cover-image" src="<%148%>">
<img class="body-image" src="<%149%>"> 
<div id="full-page-container">

<form id="target"  name="frmService" method="post" action="usb_remote_invite.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
    <img class="subtop-image" src="<%150%>">
<div class="subhead2"><%1885%></div>

<table border="0"    style="height:370px"  class="subhead2-table">



<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">

<tr><td colspan="2" height="12" >
    <%1985%>
</td></tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>

<tr>
    <td colspan="2" ><%1986%></td>
</tr>


<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr>
    <td colspan="2" >
		<table border="0">
			<tr><td colspan="2"><b><%1992%></b></td></tr>
			<tr><td colspan="2"><%1993%></td></tr>
			<tr><td><%1994%>:&nbsp;&nbsp;&nbsp;</td><td><input type="text" name="username" size="64"></td></tr>
			<tr><td><%253%>:&nbsp;&nbsp;&nbsp;</td><td><input type="password" name="password" size="64"></td></tr>
			<tr>
				<td></td>
				<td>
					<button value="Register" onclick="buttonClick(this,'do_register');" type="submit" name="Register" class="button-rule" ><span class="roundleft_button">&nbsp;&nbsp;&nbsp;&nbsp; <%1995%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
					<%1996%>
				</td>
			</tr>
		</table>    
    </td>
</tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr><td colspan="2" ></td></tr><tr><td colspan="2" ></td></tr>

</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="USB_basic_remote_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%158%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%159%> </span>
      </div>

<a name="helpframe-anchor"></a>
</form>
</div>
</body></html>

