<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers








    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function goHome(){
    if (document.forms[0].enable_ap_mode.value == 1 || document.forms[0].enable_sta_mode.value == 1)
	    window.location.href="RST_status.htm";
    else
	    window.location.href="BAS_basic.htm";
}
function do_submit(){
	document.forms[0].submit();
}
function wait2(){
	setTimeout('do_submit()',2000);
}        
//-->
</script>
</head>
<body  onLoad="wait2();" style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="formname" method="POST" action="ver_write.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<table border="0"   width="100%">

<tr>
<td colspan="2">
	<h1><%1559%></H1>
</td>
</tr>

<tr> 
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
    <td colspan="2" align="center"><b><%1576%>...</b></td>
</tr>
<tr>
</tr>

<tr> 
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
</table>
<input type="hidden" name="stop" value="no">
<input type="hidden" name="pgbarcount" value="3">
<input type="hidden" name="enable_ap_mode" value="<%142%>">
<input type="hidden" name="enable_sta_mode" value="<%143%>">
</form>
<p></p>
</body>
</html>
