<!DOCTYPE HTML>
<html>
<head>
<%11%>

<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers









    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function goHome(){
	if (top.tophideframe)
		top.close();
	else
		window.location.href="ADV_home2.htm";
}
//-->
</script>
</head>
<body  style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="formname" method="POST" action="lang_result.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<table border="0"   width="100%">

<tr>
<td colspan="2">
	<h1><%1559%></H1>
</td>
</tr>

<tr> 
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
    <td colspan="2"><b><%1563%></b></td>
</tr>
<tr></tr>
<tr>
	<td width="50%"><%2160%>:</td>
        <td width="50%"><%2161%></td>
</tr>
<tr>
	<td width="50%"><%2162%>:</td>
        <td width="50%"><%2163%></td>
</tr>
<tr>
	<td width="50%"><%1564%></td>
        <td width="50%"><%1565%></td>
</tr>
<tr></tr>
<tr>
	<td width="50%"><%1566%></td>
        <td width="50%"><%1567%></td>
</tr>
<tr></tr>
<tr>
<tr></tr>
    <td><b><%2164%>:</b></td>
</tr>
	<%1569%>

<tr>
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
	<td colspan="2" align="center">
		&nbsp;&nbsp;&nbsp;<button type="SUBMIT" value="<%165%>" name="Yes" class="button-rule" onclick="buttonClick(this,'<%165%>');" ><span class="roundleft_button">&nbsp;&nbsp; <%165%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
		&nbsp;&nbsp;&nbsp;<button type="BUTTON" value="<%166%>" name="No" class="button-rule" onClick="buttonClick(this,'<%166%>');goHome();"><span class="roundleft_button">&nbsp;&nbsp; <%166%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	</td></tr>
</table>
</form>
<p></p>
</body>
</html>

