<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title> 
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%145%>
<script language="javascript" type="text/javascript">
<!--

function loadSettings()
{
	var cf = document.forms[0];
	if (cf.wl_ampdu.value == "auto")
		cf.ampdu.selectedIndex = 1;
	else
		cf.ampdu.selectedIndex = 0;

	if (cf.wl_amsdu.value == "auto")
		cf.amsdu.selectedIndex = 1;
	else
		cf.amsdu.selectedIndex = 0;

	if (cf.wl_frameburst.value == "off")
		cf.frameburst.selectedIndex = 1;
	else
		cf.frameburst.selectedIndex = 0;
		
	if (cf.wl1_ampdu.value == "on")
		cf.ampdu1.selectedIndex = 0;
	else
		cf.ampdu1.selectedIndex = 1;

	if (cf.wl1_amsdu.value == "on")
		cf.amsdu1.selectedIndex = 0;
	else
		cf.amsdu1.selectedIndex = 1;

	if (cf.wl1_frameburst.value == "on")
		cf.frameburst1.selectedIndex = 0;
	else
		cf.frameburst1.selectedIndex = 1;	
		
}

function checkData()
{
	var cf = document.forms[0];
	var n = parseInt(cf.beacon.value);

	if (cf.ampdu.selectedIndex == 0 && cf.amsdu.selectedIndex == 0) {
		alert("Only one of 2.4GHz A-MPDU or A-MSDU can be turned on.");
		return false;
	}

	if (cf.ampdu1.selectedIndex == 0 && cf.amsdu1.selectedIndex == 0) {
		alert("Only one of 5GHz A-MPDU or A-MSDU can be turned on.");
		return false;
	}
	return true;
}

//-->
</script> 
</head>
<body bgcolor="#ffffff" onload="loadSettings();document.forms[0].elements[0].focus();">
<form name="frmLan" method="POST" action="wifi.cgi">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
	<td colspan="2"><h1>WiFi Setup</h1></td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>


<tr><td nowrap width="46%" tabindex="-1">2.4GHz Beacon Interval (in ms)</td>
	<td nowrap width="54%" align="right"><input type="text" class="num" name="beacon" size="5" maxlength="5" value="<%2083%>"></td>
</tr>
<tr><td nowrap width="46%" tabindex="-1">5GhHz Beacon Interval (in ms)</td>
	<td nowrap width="54%" align="right"><input type="text" class="num" name="beacon1" size="5" maxlength="5" value="<%2084%>"></td>
</tr>

<tr><td nowrap width="46%" tabindex="-1">2.4GHz DTIM</td>
	<td nowrap width="54%" align="right"><input type="text" class="num" name="dtim" size="5" maxlength="5" value="<%2085%>"></td>
</tr>
<tr><td nowrap width="46%" tabindex="-1">5GHz DTIM</td>
	<td nowrap width="54%" align="right"><input type="text" class="num" name="dtim1" size="5" maxlength="5" value="<%2086%>"></td>
</tr>


<tr><!-- RULE -->
	<td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
	<td nowrap colspan="2"><p><b><tabindex="-1">Aggregation</a></b></p></td>
</tr>

<tr>
<td nowrap>2.4GHz A-MPDU aggregation</td>
<td align="right">
<select name="ampdu" size="1">
	<option value=1>on</option>
	<option value=0>auto</option>
</select></td>
</tr>
<tr>
<td nowrap>2.4GHz A-MSDU aggregation</td>
<td align="right">
<select name="amsdu" size="1">
	<option value=1>on</option>
	<option value=0>auto</option>
</select></td>
</tr>

<tr>
<td nowrap>5GHz A-MPDU aggregation</td>
<td align="right">
<select name="ampdu1" size="1">
	<option value=1>on</option>
	<option value=0>auto</option>
</select></td>
</tr>
<tr>
<td nowrap>5GHz A-MSDU aggregation</td>
<td align="right">
<select name="amsdu1" size="1">
	<option value=1>on</option>
	<option value=0>auto</option>
</select></td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
	<td nowrap colspan="2"><p><b><tabindex="-1">Frameburst</a></b></p></td>
</tr>
<tr>
<td nowrap>2.4GHz Frameburst</td>
<td align="right">
<select name="frameburst" size="1">
	<option value=1>On</option>
	<option value=0>Off</option>
</select></td>
</tr>
<tr>
<td nowrap>5GHz Frameburst</td>
<td align="right">
<select name="frameburst1" size="1">
	<option value=1>On</option>
	<option value=0>Off</option>
</select></td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
	<td colspan="2" align="center">
	<input type="SUBMIT" name="action" value="<%195%>" onClick="return checkData()">
    <input type="BUTTON" name="Cancel" value="<%197%>" onClick="reset();loadSettings();"></td>
</tr>
</table>
<INPUT name=wl_ampdu type=hidden value= "<%2087%>">
<INPUT name=wl_amsdu type=hidden value= "<%2088%>">
<INPUT name=wl_frameburst type=hidden value= "<%2089%>">
<INPUT name=wl1_ampdu type=hidden value= "<%2090%>">
<INPUT name=wl1_amsdu type=hidden value= "<%2091%>">
<INPUT name=wl1_frameburst type=hidden value= "<%2092%>">
</form>
<p>
</p>
</body>
</html>
