<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%145%>
<script language="javascript" type="text/javascript">
<!-- 
var DisableFixedIP = false;
var DisableFixedDNS = false;



    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function goTestApply()
{
	var winoptions = "width=640,height=480,menubar=yes,toolbar=yes,status=yes,location=yes,resizable=yes";
	if(document.forms[0].runtest.value == "yes")
		window.open('BAS_wtest_l.htm','test_win',winoptions);
}

function loadcheck()
{
	var cf = document.forms[0];
	if(isIE()){
		cf.pppoe_username.size="24";
		cf.pppoe_passwd.size="24";
	}
	loadhelp('WIZ_pppoe');
	setIP();
	setDNS();
}
function setIP()
{
	var cf = document.forms[0];
	var dflag = cf.WANAssign[0].checked;
	setDisabled(dflag,cf.WPethr1,cf.WPethr2,cf.WPethr3,cf.WPethr4);
	DisableFixedIP = dflag;
}
function setDNS()
{
	var cf = document.forms[0];
	var dflag = cf.DNSAssign[0].checked;
	setDisabled(dflag,cf.DAddr1,cf.DAddr2,cf.DAddr3,cf.DAddr4,cf.PDAddr1,cf.PDAddr2,cf.PDAddr3,cf.PDAddr4);
	DisableFixedDNS = dflag;
}










function checkData()
{
	var cf = document.forms[0];
	var msg = "";
	
	msg+= checkBlank(cf.pppoe_username, "<%239%>");
	if(cf.pppoe_idletime.value.length<=0)
		msg+= "<%237%>";
	else if(!_isNumeric(cf.pppoe_idletime.value))
		msg+= "<%238%>";

	if(cf.WANAssign[1].checked)
	{
		if(checkIP(cf.WPethr1,cf.WPethr2,cf.WPethr3,cf.WPethr4,254)||(parseInt(cf.WPethr4.value,10)==0))
			msg+= "<%241%>";
		else
		{
			cf.WPethr1.value = parseInt(cf.WPethr1.value,10);
			cf.WPethr2.value = parseInt(cf.WPethr2.value,10);
			cf.WPethr3.value = parseInt(cf.WPethr3.value,10);
			cf.WPethr4.value = parseInt(cf.WPethr4.value,10);
		}
		cf.pppoe_localip.value = cf.WPethr1.value+'.'+cf.WPethr2.value+'.'+cf.WPethr3.value+'.'+cf.WPethr4.value;
	}
	else    
		cf.pppoe_localip.value = "0.0.0.0";

	if(cf.DNSAssign[1].checked)
	{
		if(checkIP(cf.DAddr1,cf.DAddr2,cf.DAddr3,cf.DAddr4,254)||(parseInt(cf.DAddr4.value,10)==0))
			msg+= "<%192%>";
		else
		{
			cf.DAddr1.value = parseInt(cf.DAddr1.value,10);
			cf.DAddr2.value = parseInt(cf.DAddr2.value,10);
			cf.DAddr3.value = parseInt(cf.DAddr3.value,10);
			cf.DAddr4.value = parseInt(cf.DAddr4.value,10);
		}
		if(cf.PDAddr1.value.length>0 || cf.PDAddr2.value.length>0 || cf.PDAddr3.value.length>0 || cf.PDAddr4.value.length>0)
		{
			if(checkIP(cf.PDAddr1,cf.PDAddr2,cf.PDAddr3,cf.PDAddr4,254)||(parseInt(cf.PDAddr4.value,10)==0))
				msg+= "<%193%>";
			else
			{
				cf.PDAddr1.value = parseInt(cf.PDAddr1.value,10);
				cf.PDAddr2.value = parseInt(cf.PDAddr2.value,10);
				cf.PDAddr3.value = parseInt(cf.PDAddr3.value,10);
				cf.PDAddr4.value = parseInt(cf.PDAddr4.value,10);
			}
		}
	}
	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}
	
	cf.wan_dns1_pri.value = cf.DAddr1.value+'.'+cf.DAddr2.value+'.'+cf.DAddr3.value+'.'+cf.DAddr4.value;
	cf.wan_dns1_sec.value = cf.PDAddr1.value+'.'+cf.PDAddr2.value+'.'+cf.PDAddr3.value+'.'+cf.PDAddr4.value;

<%233%>
        cf.pppoe_temp.value = "4";
<%234%>
	return true;
}

function loadSettings()
{
	var cf = document.forms[0];
	var pppoe_localip = cf.pppoe_localip.value.split(".");
	var wan_dns_sel = cf.wan_dns_sel.value;
	var wan_dns1_pri = cf.wan_dns1_pri.value.split(".");
	var wan_dns1_sec = cf.wan_dns1_sec.value.split(".");

	cf.pppoe_idletime.value = <%243%> / 60;

	if (cf.pppoe_localip.value == "0.0.0.0")
		cf.WANAssign[0].checked = true;
	else
		cf.WANAssign[1].checked = true;
	cf.WPethr1.value = pppoe_localip[0];
	cf.WPethr2.value = pppoe_localip[1];
	cf.WPethr3.value = pppoe_localip[2];
	cf.WPethr4.value = pppoe_localip[3];

	cf.DNSAssign[wan_dns_sel].checked = true;
	if (cf.wan_dns1_pri.value != "")
	{
		cf.DAddr1.value = wan_dns1_pri[0];
		cf.DAddr2.value = wan_dns1_pri[1];
		cf.DAddr3.value = wan_dns1_pri[2];
		cf.DAddr4.value = wan_dns1_pri[3];
	}
	if (cf.wan_dns1_sec.value != "")
	{
		cf.PDAddr1.value = wan_dns1_sec[0];
		cf.PDAddr2.value = wan_dns1_sec[1];
		cf.PDAddr3.value = wan_dns1_sec[2];
		cf.PDAddr4.value = wan_dns1_sec[3];
	}
}

<%233%>
function setSession()
{
	var cf = document.forms[0];
	var stype = cf.session_type.selectedIndex;

	if(cf.WANAssign[1].checked)
	{
		if(checkIP(cf.WPethr1,cf.WPethr2,cf.WPethr3,cf.WPethr4,254)||(parseInt(cf.WPethr4.value)==0))
			msg+= "<%10%>";
		cf.pppoe_localip.value = cf.WPethr1.value+'.'+cf.WPethr2.value+'.'+cf.WPethr3.value+'.'+cf.WPethr4.value;
	}
	else    
		cf.pppoe_localip.value = "0.0.0.0";

    if (stype==1)
        cf.pppoe_temp.value = "1";
    else if(stype==2) //NTT West
        cf.pppoe_temp.value = "2";
    else if(stype==3) //Other
        cf.pppoe_temp.value = "3";
    else
        cf.pppoe_temp.value = "0";

    cf.submit();
}
<%234%>
//-->
</script>
</head>

<body  onload="loadSettings(); loadcheck();goTestApply();" style="margin:0px;background-color:#e5e5e5">
<%1103%>
<form id="target"  name="formname" method="POST" action="wizpppoe.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<%1104%>
<%1105%>
<form id="target"  name="formname" method="POST" action="bsw_pppoe.cgi"> 
<%1106%>
<table border="0"   width="99%">

<tr>
	<td colspan="2"><h1><%246%></h1></td>
</tr>
<tr>
	<td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
	<td><a href="javascript:loadhelp('WIZ_pppoe','login')" tabindex="-1"><b><%251%></b></a></td>
	<td align="right"><input type="text" name="pppoe_username" size="15" maxlength="60" value="<%252%>"></td>
</tr>
<tr>
	<td nowrap><a href="javascript:loadhelp('WIZ_pppoe','password')" tabindex="-1"><b><%253%></b></a></td>
	<td align="right"><input type="password" name="pppoe_passwd" size="15" maxlength="50" value="<%254%>"></td>
</tr>

<tr>
	<td nowrap><a href="javascript:loadhelp('WIZ_pppoe','serv_name')" tabindex="-1"><%255%></a> &nbsp;</td>
	<td align="right"><input type="text" name="pppoe_servicename" maxlength="50" size="15" value="<%256%>"></td>
</tr>

<tr>
	<td nowrap><a href="javascript:loadhelp('WIZ_pppoe','idletime')" tabindex="-1"><%261%></a></td>
	<td align="right"><input type="text" class="num" name="pppoe_idletime" size="3" maxlength="3" value=""></td>
</tr>
<tr>  <!-- RULE -->
  <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
	<td colspan="2"><a href="javascript:loadhelp('WIZ_pppoe','localaddress')" tabindex="-1"><b><%204%></b></a></td>
</tr>
<tr>
	<td colspan="2"><input type="radio" name="WANAssign" value="Dynamic" onClick="setIP()"><%205%></td>
</tr>
<tr>
	<td nowrap><input type="radio" name="WANAssign" value="Fixed" onClick="setIP()"><%206%></td>
	<td align="right" class="num">
	<input type="text" name="WPethr1" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()">.
	<input type="text" name="WPethr2" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()">.
	<input type="text" name="WPethr3" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()">.
	<input type="text" name="WPethr4" class="num" size="4" maxlength="3" onFocus="if(DisableFixedIP) this.blur()"></td>
</tr>
<tr> <!-- RULE -->
	<td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>


<tr>
	<td colspan="2"><a href="javascript:loadhelp('BAS_pppoe','DNSaddress')" tabindex="-1"><b><%210%> </b></a></td>
</tr>

<tr>
	<td colspan="2"><input type="radio" name="DNSAssign" value="0" onClick="setDNS()"> <%211%></td>
</tr>

<tr>
	<td colspan="2"><input type="radio" name="DNSAssign" value="1" onClick="setDNS()"> <%212%></td>
</tr>

<tr>
	<td><img src="spacer.gif" width="20" height="12" border="0"><%213%></td>
	<td align="right" class="num">
	<input type="text" name="DAddr1" class="num" size="4" maxlength="3">.
	<input type="text" name="DAddr2" class="num" size="4" maxlength="3">.
	<input type="text" name="DAddr3" class="num" size="4" maxlength="3">.
	<input type="text" name="DAddr4" class="num" size="4" maxlength="3"></td>
</tr>
<tr>
	<td><img src="spacer.gif" width="20" height="12" border="0"><%214%></td>
	<td align="right" class="num">
	<input type="text" name="PDAddr1" class="num" size="4" maxlength="3">.
	<input type="text" name="PDAddr2" class="num" size="4" maxlength="3">.
	<input type="text" name="PDAddr3" class="num" size="4" maxlength="3">.
	<input type="text" name="PDAddr4" class="num" size="4" maxlength="3"></td>
</tr>
<%248%>
<tr>
	<td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
 <td width="50%"><b><%1117%></b></td>
 <td width="50%" align="right"><select name="session_type" onChange="setSession()">
        <option selected value=0><%273%></option>
        <OPTION value=1><%1118%></OPTION>
        <option value=2><%1119%></option>
        <OPTION value=3><%246%></OPTION>
      </select></td>
</tr>
<%250%>
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>




<tr>
	<td nowrap colspan="2" align="center"><div ID="pppoebuttons" onmouseover="loadhelp('WIZ_pppoe','buttons')">
<%1103%>
	&nbsp;&nbsp;&nbsp;<button type="SUBMIT" value="<%195%>" name="apply" class="button-rule" onClick="buttonClick(this,'<%195%>');return checkData()"><span class="roundleft_button">&nbsp;&nbsp; <%195%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	&nbsp;&nbsp;&nbsp;<button type="BUTTON" value="<%197%>" name="Cancel" class="button-rule" onClick="buttonClick(this,'<%197%>');reset();loadSettings();"><span class="roundleft_button">&nbsp;&nbsp; <%197%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	&nbsp;&nbsp;&nbsp;<button type="SUBMIT" value="<%199%>" name="Test" class="button-rule" onClick="buttonClick(this,'<%199%>');return checkData()"><span class="roundleft_button">&nbsp;&nbsp; <%199%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
<%1104%>
<%1105%>
	&nbsp;&nbsp;&nbsp;<button type="SUBMIT" value="<%1097%>" name="Next" class="button-rule" onClick="buttonClick(this,'<%1097%>');return checkData()"><span class="roundleft_button">&nbsp;&nbsp; <%1097%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
<%1106%>
	</div></td></tr>
</table>
<input type="hidden" name="runtest" value="<%219%>">
<INPUT name=pppoe_localip type=hidden value= "<%275%>">
<%248%>
<INPUT name=pppoe_temp type=hidden value= "4">
<%250%>
  <INPUT name=wan_dns_sel type=hidden value= "<%223%>">
  <INPUT name=wan_dns1_pri type=hidden value= "<%224%>">
  <INPUT name=wan_dns1_sec type=hidden value= "<%225%>">
</form>
<p></p>
</body>

</html>
