<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<%145%>
<script language="javascript" type="text/javascript">
<!--


    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function selYes(){
 window.location.href="WIZ_detwan.htm";
}
function selNo(){
 window.location.href="BAS_basic.htm";
}
//-->
</script>
</head>
<body  onLoad="" style="margin:0px;background-color:#e5e5e5">
<form id="target"  name="formname" method="POST" action="wiz_cfm.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<table border="0"   width="100%">

<tr><td colspan="2"><h1><%59%></H1></td></tr>
<tr>  <!-- RULE -->
  <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr> 
  <td colspan="2"><b><%1100%><BR><%1101%></td>
</tr>
<tr>  <!-- RULE -->
  <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>
<tr>
	<td colspan="2" align="center">
	&nbsp;&nbsp;&nbsp;<button type="Button" value="<%165%>" name="yes" class="button-rule" onClick="buttonClick(this,'<%165%>');selYes()"><span class="roundleft_button">&nbsp;&nbsp; <%165%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	&nbsp;&nbsp;&nbsp;<button type="Button" value="<%166%>" name="no" class="button-rule" onClick="buttonClick(this,'<%166%>');selNo()"><span class="roundleft_button">&nbsp;&nbsp; <%166%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td>
</tr>
</table>
</form>
		<p></p>
	</body>

</html>
