<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%145%>
<script language="javascript" type="text/javascript">
<!-- 



    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function goTestApply()
{
	var winoptions = "width=640,height=480,menubar=yes,toolbar=yes,status=yes,location=yes,resizable=yes";
	if(document.forms[0].runtest.value == "yes")
		window.open('BAS_wtest_l.htm','test_win',winoptions);
}

function loadcheck()
{
	var cf = document.forms[0];
	if(isIE()){
		cf.bpa_username.size="24";
		cf.bpa_passwd.size="24";
	}
	loadhelp('WIZ_bpa');
}











function checkData()
{
	var cf = document.forms[0];
	var msg = "";

	msg+= checkBlank(cf.bpa_username, "<%239%>");
	msg+= checkBlank(cf.bpa_server, "<%1123%>");
	if(cf.bpa_idletime.value.length<=0)
	 msg+= "<%237%>";
	else if(!_isNumeric(cf.bpa_idletime.value))
	 msg+= "<%238%>";
	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}
	return true;
}

function loadSettings()
{
	var cf = document.forms[0];

	//cf.bpa_idletime.value = "<%1124%>";
}

//-->
</script>


</head>

<body  onload="loadSettings();loadcheck();goTestApply();" style="margin:0px;background-color:#e5e5e5">
<%1103%>
<form id="target"  name="formname" method="POST" action="wiz_bpa.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<%1104%>
<%1105%>
<form id="target"  name="formname" method="POST" action="bsw_bpa.cgi">
<%1106%>
<table border="0"   width="99%">

<tr>
	<td colspan="2"><h1><%1125%></h1></td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
	<td><a href="javascript:loadhelp('WIZ_bpa','login')" tabindex="-1"><b><%251%></b></a></td>
	<td align="right"><input type="text" name="bpa_username" size="15" maxlength="60" value="<%1126%>"></td>
</tr>
<tr>
	<td><a href="javascript:loadhelp('WIZ_bpa','password')" tabindex="-1"><b><%253%></b></a></td>
	<td align="right"><input type="password" name="bpa_passwd" size="15" maxlength="50" value="<%1127%>"></td>
</tr>

<tr>
 <td nowrap><a href="javascript:loadhelp('WIZ_bpa','server')" tabindex="-1"><b><%1123%></b></a></td>
 <td align="right"><input type="text" name="bpa_server" size="15" maxlength="128" value="<%1128%>"></td>
</tr>
<tr>
	<td nowrap><a href="javascript:loadhelp('WIZ_bpa','idletime')" tabindex="-1"><%261%></a></td>
	<td align="right"><input type="text" class="num" name="bpa_idletime" size="4" maxlength="3" value="<%1124%>"></td>
</tr>
<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"> &nbsp;</td>
</tr>

<tr>
<td colspan="2" align="center"><div ID="buttons" onmouseover="loadhelp('WIZ_bpa','buttons')">
<%1103%>
&nbsp;&nbsp;&nbsp;<button type="SUBMIT" value="<%195%>" name="apply" class="button-rule" onClick="buttonClick(this,'<%195%>');return checkData()"><span class="roundleft_button">&nbsp;&nbsp; <%195%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button type="BUTTON" value="<%197%>" name="Cancel" class="button-rule" onClick="buttonClick(this,'<%197%>');reset();loadSettings();"><span class="roundleft_button">&nbsp;&nbsp; <%197%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button type="SUBMIT" value="<%199%>" name="Test" class="button-rule" onClick="buttonClick(this,'<%199%>');return checkData()"><span class="roundleft_button">&nbsp;&nbsp; <%199%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
<%1104%>
<%1105%>
&nbsp;&nbsp;&nbsp;<button type="SUBMIT" value="<%1097%>" name="Next" class="button-rule" onClick="buttonClick(this,'<%1097%>');return checkData()"><span class="roundleft_button">&nbsp;&nbsp; <%1097%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
<%1106%>
</div></td></tr>
</table>
<input type="hidden" name="runtest" value="<%219%>">
</form>
<p></p>
</body>

</html>
