<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%145%>
<script language="javascript" type="text/javascript">
<!-- 
var DisableFixedDNS = false;
var DisableFixedMAC = false;
var MacAddress;
var DodDisable = false;



    $(document).ready(function()
    {	
        $("#target").submit(function() {
            buttonFilter();
        });

    });



function goTestApply()
{
	var winoptions = "width=640,height=480,menubar=yes,toolbar=yes,status=yes,location=yes,resizable=yes";
	if(document.forms[0].runtest.value == "yes")
		window.open('BAS_wtest_l.htm','test_win',winoptions);
}

function loadcheck()
{
	var cf = document.forms[0];
	if(isIE()){
		cf.pptp_username.size="24";
		cf.pptp_passwd.size="24";
	}
	loadhelp('WIZ_pptp');
}



function checkData(index)
{
	var cf = document.forms[0];
	var msg = "";
	var region_gui = cf.gui_region.value;
	
	msg+= checkBlank(cf.pptp_username, "<%239%>");
	if(cf.pptp_idletime.value.length<=0)
		msg+= "<%237%>";
	else if(!_isNumeric(cf.pptp_idletime.value))
		msg+= "<%238%>";
	
	if((cf.myip_1.value.length>0)||(cf.myip_2.value.length>0)||(cf.myip_3.value.length>0)||(cf.myip_4.value.length>0))
	{
		if(!((cf.mymask_1.value.length>0)||(cf.mymask_2.value.length>0)||(cf.mymask_3.value.length>0)||(cf.mymask_4.value.length>0)))
		{
			if(!checkIP(cf.myip_1,cf.myip_2,cf.myip_3,cf.myip_4,255))
			{
				if (cf.myip_1.value > 191) //class C
				{
					cf.mymask_1.value = 255;
					cf.mymask_2.value = 255;
					cf.mymask_3.value = 255;
					cf.mymask_4.value = 0;
				}
				else if (cf.myip_1.value > 127) //class B
				{
					cf.mymask_1.value = 255;
					cf.mymask_2.value = 255;
					cf.mymask_3.value = 0;
					cf.mymask_4.value = 0;
				}
				else //class A
				{
					cf.mymask_1.value = 255;
					cf.mymask_2.value = 0;
					cf.mymask_3.value = 0;
					cf.mymask_4.value = 0;
				}
			}
		}
		else if(checkIP(cf.mymask_1,cf.mymask_2,cf.mymask_3,cf.mymask_4,255))
			msg += "<%188%>";
		
		
		if(checkIP(cf.myip_1,cf.myip_2,cf.myip_3,cf.myip_4,255) ||
		   checkIPMatchWithNetmask(cf.mymask_1,cf.mymask_2,cf.mymask_3,cf.mymask_4,cf.myip_1,cf.myip_2,cf.myip_3,cf.myip_4))
			msg+= "<%240%>";
		else
		{
			cf.myip_1.value = parseInt(cf.myip_1.value,10);
			cf.myip_2.value = parseInt(cf.myip_2.value,10);
			cf.myip_3.value = parseInt(cf.myip_3.value,10);
			cf.myip_4.value = parseInt(cf.myip_4.value,10);
		}
		cf.static_pptp_enable.value = 1;
	}
	else
		cf.static_pptp_enable.value = 0;

	if((cf.mygw_1.value.length>0)||(cf.mygw_2.value.length>0)||(cf.mygw_3.value.length>0)||(cf.mygw_4.value.length>0))
	{
		var myIpAddr = (cf.myip_1.value << 24) | (cf.myip_2.value << 16) | (cf.myip_3.value << 8) | (cf.myip_4.value);
		var netMask = (cf.mymask_1.value << 24) | (cf.mymask_2.value << 16) | (cf.mymask_3.value << 8) | (cf.mymask_4.value);
		var myGateway = (cf.mygw_1.value << 24) | (cf.mygw_2.value << 16) | (cf.mygw_3.value << 8) | (cf.mygw_4.value);
		var tmpip = cf.myip_1.value+'.'+cf.myip_2.value+'.'+cf.myip_3.value+'.'+cf.myip_4.value;
		var tmpgateway = cf.mygw_1.value+'.'+cf.mygw_2.value+'.'+cf.mygw_3.value+'.'+cf.mygw_4.value;
	
		if(checkIP(cf.mygw_1,cf.mygw_2,cf.mygw_3,cf.mygw_4,255))
			msg+= "<%189%>";
		else if((myIpAddr&netMask) != (myGateway&netMask))
		{
			msg+= '<%190%>' +tmpip+ '<%191%>'+ tmpgateway+'\n';
		}
		else
		{
			cf.mygw_1.value = parseInt(cf.mygw_1.value,10);
			cf.mygw_2.value = parseInt(cf.mygw_2.value,10);
			cf.mygw_3.value = parseInt(cf.mygw_3.value,10);
			cf.mygw_4.value = parseInt(cf.mygw_4.value,10);
		}
	}

	var data;
	data = cf.pptp_serv_ip.value.match(/^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/);
	if ((data && !isValidIPaddr(cf.pptp_serv_ip.value))
		|| cf.pptp_serv_ip.value == ""
		|| cf.pptp_serv_ip.value.match( /[^\x20-\x7E]/ ))
		msg+= "<%291%>";

	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}

    cf.pptp_user_netmask.value = cf.mymask_1.value+'.'+cf.mymask_2.value+'.'+cf.mymask_3.value+'.'+cf.mymask_4.value;
	cf.pptp_user_ip.value = cf.myip_1.value+'.'+cf.myip_2.value+'.'+cf.myip_3.value+'.'+cf.myip_4.value;
	cf.pptp_gateway.value = cf.mygw_1.value+'.'+cf.mygw_2.value+'.'+cf.mygw_3.value+'.'+cf.mygw_4.value;
    
    if (index == 1)
        cf.action.value = "apply";
    else if (index == 2)
        cf.action.value = "test";
    document.forms[0].submit();
	return true;
}
function loadSettings()
{
	var cf = document.forms[0];
	var pptp_user_ip = cf.pptp_user_ip.value.split(".");
    var pptp_user_netmask = cf.pptp_user_netmask.value.split(".");
	var pptp_gateway = cf.pptp_gateway.value.split(".");
    if(cf.static_pptp_enable.value == 1)
    {
        if (cf.pptp_user_ip.value != "")
        {
            cf.myip_1.value = pptp_user_ip[0];
            cf.myip_2.value = pptp_user_ip[1];
            cf.myip_3.value = pptp_user_ip[2];
            cf.myip_4.value = pptp_user_ip[3];
        }
        if (cf.pptp_user_netmask.value != "")
        {
            cf.mymask_1.value = pptp_user_netmask[0];
            cf.mymask_2.value = pptp_user_netmask[1];
            cf.mymask_3.value = pptp_user_netmask[2];
            cf.mymask_4.value = pptp_user_netmask[3];
        }

        if (cf.pptp_gateway.value != "")
        {
            cf.mygw_1.value = pptp_gateway[0];
            cf.mygw_2.value = pptp_gateway[1];
            cf.mygw_3.value = pptp_gateway[2];
            cf.mygw_4.value = pptp_gateway[3];
        }
    }
    else
    {
        setDisabled(true, cf.mygw_1, cf.mygw_2, cf.mygw_3, cf.mygw_4);
    }
    if ( (cf.pptp_user_ip.value == "...") || (cf.pptp_user_ip.value == "") )
    {
        setDisabled(true, cf.mygw_1, cf.mygw_2, cf.mygw_3, cf.mygw_4);
    }

}

function myip_update()
{
    var cf = document.forms[0];

    if((cf.myip_1.value.length>0)&&(cf.myip_2.value.length>0)&&(cf.myip_3.value.length>0)&&(cf.myip_4.value.length>0))
    {
        setDisabled(false, cf.mygw_1, cf.mygw_2, cf.mygw_3, cf.mygw_4);
    }
    else
    {
        setDisabled(true, cf.mygw_1, cf.mygw_2, cf.mygw_3, cf.mygw_4);
    } 
}
//-->
</script>
</head>

<body  onload="loadSettings();loadcheck();goTestApply();" style="margin:0px;background-color:#e5e5e5">
<%1103%>
<form id="target"  name="formname" method="POST" action="wiz_pptp.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue"> 
<%1104%>
<%1105%>
<form id="target"  name="formname" method="POST" action="bsw_pptp.cgi"> 
<%1106%>
<table border="0"   width="99%">

<tr>
	<td colspan="2"><h1><%245%></h1></td>
</tr>

<tr>
	<td colspan="2" background="liteblue.gif" height="12"></td>
</tr>

<tr>
	<td><a href="javascript:loadhelp('WIZ_pptp','login')" tabindex="-1"><b><%251%></b></a></td>
	<td align="right"><input type="text" name="pptp_username" size="15" maxlength="60" value="<%292%>"></td>
</tr>
<tr>
	<td><a href="javascript:loadhelp('WIZ_pptp','password')" tabindex="-1"><b><%253%></b></a></td>
	<td align="right"><input type="password" name="pptp_passwd" size="15" maxlength="50" value="<%293%>"></td>
</tr>
<tr>
	<td nowrap><a href="javascript:loadhelp('WIZ_pptp','idletime')" tabindex="-1"><%261%></a></td>
	<td align="right"><input type="text" class="num" name="pptp_idletime" size="3" maxlength="3" value="<%294%>"></td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"></td>
</tr>

<tr>
 <TD NOWRAP><a href="javascript:loadhelp('WIZ_pptp','myip')" tabindex="-1"><b><%263%></b></a></td>
 <TD NOWRAP align="right" class="num"><input type="text" name="myip_1" class="num" size="4" maxlength="3" onChange="myip_update()" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="myip_2" class="num" size="4" maxlength="3" onChange="myip_update()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="myip_3" class="num" size="4" maxlength="3" onChange="myip_update()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="myip_4" class="num" size="4" maxlength="3" onChange="myip_update()" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>

<tr>
	<td nowrap><b><%264%></b></td>
	<td align="right" class="num">
	<input type="text" name="mymask_1" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="mymask_2" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="mymask_3" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="mymask_4" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>

<tr>
 <TD NOWRAP><a href="javascript:loadhelp('WIZ_pptp','serverip')" tabindex="-1"><b><%295%></b></a></td>
 <td align="right"><input type="text" name="pptp_serv_ip" size="24" maxlength="63" value="<%301%>"></td>
</tr>

<tr>
 <td><a href="javascript:loadhelp('BAS_pptp','gwip')" tabindex="-1"><b><%296%></b></a></td>
 <td align="right" class="num"><input type="text" name="mygw_1" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.<input type="text" name="mygw_2" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="mygw_3" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.<input type="text" name="mygw_4" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>

<tr> <!-- RULE -->
 <td colspan="2" background="liteblue.gif" height="12"></td>
</tr>
<tr>
	<td colspan="2" align="center" nowrap><div ID="buttons" onmouseover="loadhelp('WIZ_pptp','buttons')">
<%1103%>
	&nbsp;&nbsp;&nbsp;<button type="BUTTON" value="<%195%>" name="apply" class="button-rule" onClick="buttonClick(this,'<%195%>');checkData(1)"><span class="roundleft_button">&nbsp;&nbsp; <%195%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	&nbsp;&nbsp;&nbsp;<button type="BUTTON" value="<%197%>" name="Cancel" class="button-rule" onClick="buttonClick(this,'<%197%>');reset();loadSettings();"><span class="roundleft_button">&nbsp;&nbsp; <%197%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
	&nbsp;&nbsp;&nbsp;<button type="BUTTON" value="<%199%>" name="Test" class="button-rule" onClick="buttonClick(this,'<%199%>');checkData(2)"><span class="roundleft_button">&nbsp;&nbsp; <%199%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
<%1104%>
<%1105%>
	&nbsp;&nbsp;&nbsp;<button type="SUBMIT" value="<%1097%>" name="Next" class="button-rule" onClick="buttonClick(this,'<%1097%>');return checkData()"><span class="roundleft_button">&nbsp;&nbsp; <%1097%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
<%1106%>
</div></td></tr>
</table>
<input type="hidden" name="runtest" value="no">
<INPUT name=pptp_user_ip type=hidden value= "<%300%>">
<INPUT name=pptp_gateway type=hidden value="<%302%>">
<INPUT name=pptp_user_netmask type=hidden value="<%303%>">
<INPUT name=static_pptp_enable type=hidden value= "<%304%>">
<INPUT name=gui_region type=hidden value="<%282%>">
<INPUT name=action type=hidden value="">
</form>
<p></p>
</body>

</html>
