<!DOCTYPE HTML>
<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
    classes.num.all.fontFamily = "Courier";
    classes.num.all.fontSize = "10pt" ;
</style>
<%145%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers

// "--",Africa,Asia,Australia,Europe,Israel,Japan,Korea,Mexico,Middle East,South America,North America
var StartChannel = new Array(0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1);
var FinishChannel = new Array(11,13,13,13,13,13, 13,13,11,13,13,11);
var initRegion;
var changeMsg = "<%1130%>";
var notShown = true; // only shown region change message once
var initialized = false;
var device_id="<%1131%>";
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   
var OpMode_BG_TEXT;
var OpMode_20M_TEXT;
var OpMode_40M_TEXT;
var OpMode_BG_VALUE;
var OpMode_20M_VALUE;
var OpMode_40M_VALUE;

function initScrn()
{
    var defaultKey;
    var fm=document.forms[0];
    var i;

    OpMode_BG_TEXT=fm.opmode.options[0].text; 
    OpMode_20M_TEXT=fm.opmode.options[1].text; 
    OpMode_40M_TEXT=fm.opmode.options[2].text; 
    OpMode_BG_VALUE=fm.opmode.options[0].value;
    OpMode_20M_VALUE=fm.opmode.options[1].value;
    OpMode_40M_VALUE=fm.opmode.options[2].value;


    if(fm.tempSetting.value == 1)
    {
        var temp_region = parseInt(fm.tempRegion.value);
        if (temp_region == 12) //Middle East
            fm.WRegion.selectedIndex = 9;
        else if (temp_region >= 5 && temp_region <= 9)
            fm.WRegion.selectedIndex=temp_region - 1;
        else
            fm.WRegion.selectedIndex=temp_region;
    }
        
    initRegion = fm.WRegion.selectedIndex;
    setOpMode();
    setChannel();
    displayWepWPARadio();
    for (i=0; i<fm.w_channel.options.length; i++)
    {
        if (fm.w_channel.options[i].value == fm.initChannel.value)
        {
            fm.w_channel[i].selected = true;
            break;
        }
    }
    for (i=0; i<fm.authAlgm.length; i++)
    {
        if (fm.authAlgm[i].value == fm.initAuthType.value)
        {
            fm.authAlgm[i].selected = true;
            break;
        }
    }

    defaultKey = parseInt(fm.initDefaultKey.value);
    if ( defaultKey >= 0 && defaultKey <= 3)
        document.forms[0].wep_key_no[defaultKey].checked = true;
    else
        document.forms[0].wep_key_no[0].checked = true;
    initialized = true;
}
function chgCh(from)
{
    var cf = document.forms[0];
    setOpMode();
    setChannel();
    if (from == 2 && device_id != "WGR614")
    {
        if (cf.opmode.selectedIndex != 0)
        {
            if(cf.security_type[2].checked)
            {
                alert("<%1132%>");
                cf.opmode.selectedIndex = 0;
                return true;
            }
            if(cf.security_type[4].checked)
            {
                alert("<%1133%>");
                return true;
            }
        }
        displayWepWPARadio();
    }
}

function displayWepWPARadio()
{
    var cf = document.forms[0];
	var currentMode = cf.opmode.selectedIndex;
    //var currentMode_an = cf.opmode_an.selectedIndex;
    //var sec_type_2G = cf.security_type_2G.value;
    //var sec_type_5G = cf.security_type_5G.value;
    
    if (currentMode == 0)//Up to 54Mbps
    {
        document.getElementById("wep_radio_2G").style.display="block";
        document.getElementById("wpa_radio_2G").style.display="block";
    }
    else
    {
        document.getElementById("wep_radio_2G").style.display="none";
        document.getElementById("wpa_radio_2G").style.display="none";
    }    
}

function setOpMode()
{
    var cf = document.forms[0];
    var index = cf.WRegion.selectedIndex;
    var currentMode = cf.opmode.selectedIndex;
    var sec_type_2G = cf.security_type_2G.value;
    
    if (device_id == "WGR614")
    {
        cf.opmode.options.length = 2;
        cf.opmode.options[0].text = "g only";
        cf.opmode.options[1].text = "b and g";
        cf.opmode.options[0].value = "g only";
        cf.opmode.options[1].value = "g and b";
        cf.opmode.selectedIndex = currentMode;
    }
    else if (device_id == "WNDR2200")
    {
        if ((sec_type_2G == "WEP") || (sec_type_2G == "WPA-PSK"))
        {
            cf.opmode.options.length = 1;
        	cf.opmode.options[0].text = "<%1134%>";
        	cf.opmode.options[0].value = "g and b";
        }
        else
        {
            cf.opmode.options.length = 3;
        	cf.opmode.options[0].text = "<%1134%>";
        	cf.opmode.options[1].text = "<%1135%>";
        	cf.opmode.options[2].text = "<%1136%>";
        	cf.opmode.options[0].value = "g and b";
        	cf.opmode.options[1].value = "130Mbps";
        	cf.opmode.options[2].value = "300Mbps";
        	cf.opmode.selectedIndex = currentMode;
        }
    }
    else if (device_id == "WNR3500")
    {
        if ((sec_type_2G == "WEP") || (sec_type_2G == "WPA-PSK"))
        {
            cf.opmode.options.length = 1;
        	cf.opmode.options[0].text = "<%1134%>";
        	cf.opmode.options[0].value = "g and b";
        }
        else
        {
            cf.opmode.options.length = 3;
        	cf.opmode.options[0].text = "<%1134%>";
        	cf.opmode.options[1].text = "<%1135%>";
        	cf.opmode.options[2].text = "<%1136%>";
        	cf.opmode.options[0].value = "g and b";
        	cf.opmode.options[1].value = "130Mbps";
        	cf.opmode.options[2].value = "300Mbps";
        	cf.opmode.selectedIndex = currentMode;
        }
    }
    else
    {   	
    	if ((sec_type_2G == "WEP") || (sec_type_2G == "WPA-PSK"))
        {
        	cf.opmode.options.length = 1;
        	cf.opmode.options[0].text = "<%1134%>";
        	cf.opmode.options[0].value = "g and b";                     
        	//cf.opmode.selectedIndex = currentMode;                      
        }                          
        else
        {
        	cf.opmode.options.length = 3;
        	cf.opmode.options[0].text = "<%1134%>";
        	cf.opmode.options[1].text = "<%1137%>";
        	cf.opmode.options[2].text = "<%1138%>";
        	cf.opmode.options[0].value = "g and b";
        	cf.opmode.options[1].value = "130Mbps";
        	cf.opmode.options[2].value = "300Mbps";
        	cf.opmode.selectedIndex = currentMode;
        }
    }

    return;
}
function setChannel()
{
	var cf = document.forms[0];
	var index = cf.WRegion.selectedIndex;
	var chIndex = cf.w_channel.selectedIndex;
	var currentMode = cf.opmode.selectedIndex;

	if (FinishChannel[index]==14 && cf.opmode.selectedIndex!=0)
		cf.w_channel.options.length = FinishChannel[index] - StartChannel[index];
	else
		cf.w_channel.options.length = FinishChannel[index] - StartChannel[index] + 2;

	cf.w_channel.options[0].text = "<%1139%>";
	cf.w_channel.options[0].value = 0;

	for (var i = StartChannel[index]; i <= FinishChannel[index]; i++) {
		if (i==14 && cf.opmode.selectedIndex!=0)
			continue;
		cf.w_channel.options[i - StartChannel[index] + 1].value = i;
		cf.w_channel.options[i - StartChannel[index] + 1].text = (i < 10)? "0" + i : i;
	}
	cf.w_channel.selectedIndex = ((chIndex > -1) && (chIndex < cf.w_channel.options.length)) ? chIndex : 0 ;
}
function setKeys()
{
    var cf = document.forms[0];
    cf.passphraseStr.disabled = false;
    cf.KEY1.disabled = cf.KEY2.disabled = cf.KEY3.disabled = cf.KEY4.disabled = false;
    if (cf.wepenc.selectedIndex == 0)
    {
        cf.keygen.disabled = false;
        cf.passphraseStr.disabled = false;        
        keysize = 10;
        cf.KEY1.size = cf.KEY2.size = cf.KEY3.size = cf.KEY4.size = keysize + 2 ; // extra for Mac
        if (cf.KEY1.value.length>10)
            cf.KEY1.value = cf.KEY1.value.substring(0,10);
        if (cf.KEY2.value.length>10)
            cf.KEY2.value = cf.KEY2.value.substring(0,10);
        if (cf.KEY3.value.length>10)
            cf.KEY3.value = cf.KEY3.value.substring(0,10);
        if (cf.KEY4.value.length>10)
            cf.KEY4.value = cf.KEY4.value.substring(0,10);
    }
    else if(cf.wepenc.selectedIndex == 1)
    {
        cf.keygen.disabled = false;
        cf.passphraseStr.disabled = false;        
        keysize = 26;
        cf.KEY1.size = cf.KEY2.size = cf.KEY3.size = cf.KEY4.size = keysize + 2; // extra for Mac
        if (cf.KEY1.value.length>26)
            cf.KEY1.value = cf.KEY1.value.substring(0,26);
        if (cf.KEY2.value.length>26)
            cf.KEY2.value = cf.KEY2.value.substring(0,26);
        if (cf.KEY3.value.length>26)
            cf.KEY3.value = cf.KEY3.value.substring(0,26);
        if (cf.KEY4.value.length>26)
            cf.KEY4.value = cf.KEY4.value.substring(0,26);
    }
    else if(cf.wepenc.selectedIndex == 2)
    {
        cf.keygen.disabled = true;
        cf.passphraseStr.disabled = true;
        keysize = 32;
        cf.KEY1.size = cf.KEY2.size = cf.KEY3.size = cf.KEY4.size = keysize + 2; // extra for Mac
    }
    //auto_disable();
}

function checkRegion()
{
    var cf = document.forms[0];
    if(cf.WRegion.selectedIndex == 0)
    {
        cf.WRegion.focus();
        return alertR("<%1140%>");
    }
    if (notShown)
        notShown = false;
    else if(cf.WRegion.selectedIndex != initRegion && notShown)
    {
        if(!confirm(changeMsg))
            return false;
        else notShown = false;
    }
    return true;
}

function wpapskCheck()
{
    var cf = document.forms[0];
    if (cf.opmode.selectedIndex != 0 && device_id != "WGR614")
    {
        alert("<%1132%>");
        cf.opmode.selectedIndex = 0;
    	buttonFilter();
document.forms[0].submit();
    }
    else
        buttonFilter();
document.forms[0].submit();
}
function autopskCheck()
{
    var cf = document.forms[0];
    if (cf.opmode.selectedIndex != 0 && device_id != "WGR614")
    {
        alert("<%1133%>");
        buttonFilter();
document.forms[0].submit();
    }
    else
        buttonFilter();
document.forms[0].submit();
    return true;
}
function checkData()
{
    var msg_key64_type = "<%1141%>" ;
    var msg_key128_type = "<%1142%>";

    var cf = document.forms[0];
    var msg = ""; var blankFlag = false; var sizeOK = false; var i;
    var len = (cf.wepenc.selectedIndex==0)?10:((cf.wepenc.selectedIndex==1)?26:32);

    if(!checkRegion()) return false;

    if (cf.ssid.value == "")
    {
        alert("<%1143%>");
        return false;
    }

    if (cf.ssid.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<%1144%>");
        cf.ssid.focus();
        return false;
    }

    if (cf.wds_enable.value == "1" && cf.w_channel[0].selected)
    {
        alert("<%1145%>");
        cf.w_channel.focus();
        return false;
    }    

    for (i = 1; i < 5; i++ )
    {
        msg = "";
        blankFlag = ! (eval("(cf.wep_key_no[" + (i-1) + "].checked)")); // default key
        if( (blankFlag) && (eval("(cf.KEY" + i + ".value.length == 0)")) )
            continue; // blank ok
        sizeOK = ((eval("isHex(cf.KEY" + i +".value)")) && (eval("(cf.KEY" + i + ".value.length == len)")));
        if (!sizeOK)
        {
            msg += (len == 10)?msg_key64_type:msg_key128_type;
            alertR(msg);
            if (i==1)
                cf.KEY1.focus();
            else if (i==2)
                cf.KEY2.focus();
            else if (i==3)
                cf.KEY3.focus();
            else if (i==4)
                cf.KEY4.focus();
            return false;
        }
    }
    if (cf.authAlgm.value.toLowerCase() == "sharedkey" && cf.initAuthType.value.toLowerCase() != "sharedkey" )
    {
        if (confirm("<%1146%>"))
		{
			WPS_wizard_grayout();
            return true;
		}
        else
            return false;
    }
    if (cf.security_type[1].checked == true)
    {
            
        if (cf.authAlgm.value.toLowerCase() == "sharedkey")
        {
            WPS_wizard_grayout();
        }
        else
        {
            WPS_wizard_ungrayout();
        }   
    
    }
    
    if (cf.security_type[0].checked == true)
    {
        WPS_wizard_ungrayout();
    }
	else if(cf.security_type[2].checked == true || cf.security_type[3].checked == true || cf.security_type[4].checked == true)
	{
	    WPS_wizard_ungrayout();
	}	     
    return true;
}
// ---------------------------- Start WEP functions
var lastkeypressed;
var keyTooBig = false;
var mustbeHEX = false;
var keysize;
var lastObj;

if (document.layers) document.captureEvents(Event.KEYPRESS);
    document.onkeypress = checkKey;
function checkKey(evt)
{
    evt = (evt) ? evt : ((window.event) ? window.event : null);
    if (evt)
        lastkeypressed = (evt.keyCode) ? evt.keyCode : (evt.which ) ? evt.which : null;
    
    if ((lastkeypressed == 27)) /* ESC */
    {
        if (document.forms[0].elements[0].focus)
            document.forms[0].elements[0].focus();
        
        return false;
    }
    
    if ((lastkeypressed != 13) && (lastkeypressed != 8) && ( keyTooBig ))
    {
        keyTooBig = false;
        alert("<%1147%> " + keysize + " <%1148%>");
        chkSize(lastObj); // for NS 6/7
        return false;
    }
    else if (mustbeHEX) // not used here, don't know which input is being used
    {
        mustbeHEX = false;
        if ( ((lastkeypressed > 47) && (lastkeypressed < 58 ))
            || ((lastkeypressed > 96) && (lastkeypressed < 103))
            || ((lastkeypressed > 64) && (lastkeypressed < 71 ))
            || (lastkeypressed == 8)
            || (lastkeypressed == 13) )
            return true; // OK
        else
            return false;
    }

    return true;
}
function chkSize(fobj)
{
    if(fobj.value.length > keysize)
        fobj.value = fobj.value.substr(0,keysize);
}
function keyCheck(fobj)
{
    lastObj = fobj;
    keyTooBig = (fobj.value.length >= keysize ) ? true : false;
}
function calcPassphrase(F)
{
    if(F.passphraseStr.value.length == 0)
        return;
    switch(F.wepenc.selectedIndex)
    {
        case 0:
            PassPhrase40(F);
            break;
        case 1:
            PassPhrase104(F);
            break;
        default:
            break;
    }
}
function PassPhrase40(F)
{
    var seed = 0;
    var pseed = new Array(0, 0, 0, 0);
    var pkey = new Array(4);
    var asciiObj = new Array(4);
    Length = F.passphraseStr.value.length;
    if(Length != 0)
    {
        for (i=0; i<Length; i++ )
            pseed[i%4] ^= F.passphraseStr.value.charCodeAt(i);
        seed = pseed[0];
        seed += pseed[1] << 8;
        seed += pseed[2] << 16;
        seed += pseed[3] << 24;
    }
    F.KEY1.value = F.KEY2.value = "";
    F.KEY3.value = F.KEY4.value = "";
    pkey[0] = F.KEY1;
    pkey[1] = F.KEY2;
    pkey[2] = F.KEY3;
    pkey[3] = F.KEY4;
    for(j=0; j<4; j++)
    {
        for (i=0; i<5 ;i++ )
        {
            seed = (214013 * seed) & 0xffffffff;
            if(seed & 0x80000000)
                seed = (seed & 0x7fffffff) + 0x80000000 + 0x269ec3;
            else
                seed = (seed & 0x7fffffff) + 0x269ec3;
            temp = ((seed >> 16) & 0xff);
            if(temp < 0x10)
                pkey[j].value += "0" + temp.toString(16).toUpperCase();
            else
                pkey[j].value += temp.toString(16).toUpperCase();
        }
    }
    F.wep_key_no[0].checked = true;
}
function PassPhrase104(F)
{
    var pseed2 = "";
    Length2 = F.passphraseStr.value.length;
    var asciiObj = "";
    for(p=0; p<64; p++)
    {
        tempCount = p % Length2;
        pseed2 += F.passphraseStr.value.substring(tempCount, tempCount+1);
    }
    md5Str = calcMD5(pseed2);
    F.KEY1.value = md5Str.substring(0, 26).toUpperCase();
    F.KEY2.value = F.KEY1.value;
    F.KEY3.value = F.KEY1.value;
    F.KEY4.value = F.KEY1.value;
    F.wep_key_no[0].checked = true;
    //F.KEY2.disabled = F.KEY3.disabled = F.KEY4.disabled = true;
}
function showWpsAlert()
{
    var cf = document.forms[0];
    if(cf.show_wps_alert.value == "1")
        alert("<%1149%>");
}
// -->
</script>
</head>
<body  onload="change_size();initScrn();setKeys();showWpsAlert();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="<%148%>">
<img class="body-image" src="<%149%>">
<div id="full-page-container">

<form id="target"  method="POST" action="wireless.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
  <img class="subtop-image" src="<%150%>">
<div class="subhead2"> <%98%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%195%>"  onclick="buttonClick(this,'<%195%>');return checkData();" type="SUBMIT" name="Apply" class="button-apply" > <span class="roundleft_apply" ><%196%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%197%>" onclick="buttonClick(this,'<%197%>');"  type="SUBMIT" name="Cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%198%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
    
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    <tr>
      <td colspan="2"><a href="javascript:loadhelp('WLG_wireless','network')" tabindex="-1"><b><%1077%></b> </a></td></tr>
    <tr>
      <td colspan="2">
        <input type="checkbox"  <%1150%> name="ssid_bc" value="ssid_bc"> <%1151%> </td></tr>
    <%1152%>
    <tr>
      <td nowrap colspan="2">
        <input type="checkbox"  <%1153%> name="enable_isolation" value="enable_isolation"> <%1154%> </td></tr>
    <%1155%>
    <tr>
      <td width="50%" align="left"><%1156%>:</td>
      <td width="50%">
        <input type="text" name="ssid" value="<%996%>" size="20" maxlength="32"></td></tr>
    <tr>
      <td nowrap><%1157%>:</td>
      <td align="left">
      <%1158%>
	<select name="WRegion" size="1" onchange="chgCh(1)">
		<option <%1159%> value="0">--- <%1160%> ---</option>
		<option <%1161%> value="1"><%1162%></option>
		<option <%1163%> value="2"><%1164%></option>
		<option <%1165%> value="3"><%1166%></option>
		<option <%1167%> value="5"><%1168%></option>
		<option <%1169%> value="6"><%1170%></option>
		<option <%1171%> value="7"><%1172%></option>
		<option <%1173%> value="8"><%1174%></option>
		<option <%1175%> value="9"><%1176%></option>
		<option <%1177%> value="12"><%1178%></option>
		<option <%1179%> value="10"><%1180%></option>
		<option <%1181%> value="11"><%1182%></option>
	</select></td></tr>
      <%1183%>
      <%1184%>
       <tr><td colspan="2" >
	<select name="WRegion" size="1" onchange="chgCh(1)" disabled >
		<option value="0">--- <%1160%> ---</option>
		<option value="1"><%1162%></option>
		<option value="2"><%1164%></option>
		<option value="3">><%1166%></option>
		<option value="5"><%1168%></option>
		<option value="6"><%1170%></option>
		<option value="7"><%1172%></option>
		<option value="8"><%1174%></option>
		<option value="9"><%1176%></option>
		<option value="12"><%1178%></option>
		<option value="10"><%1180%></option>
		<option selected value="11"><%1182%></option>
	</select></td></tr>
      <%1185%>
    <tr>
      <td nowrap><%1186%>:</td>
      <td nowrap>
          <select name="w_channel" size=1><option selected><%1139%></option><option>01</option><option>02</option><option>03</option><option>04</option><option>05</option><option>06</option><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option></select></td></tr>
    <tr>
      <td nowrap><%1187%>:</td>
      <td nowrap><select name="opmode" onchange="chgCh(2);"><%1188%></select></td></tr>
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    <tr>
      <td colspan="2"><a href="javascript:loadhelp('WLG_wireless','security')" tabindex="-1"><b><%1189%></b></a></td></tr>
 

<tr><td colspan="2">
<table cellpadding="0" cellspacing="3" width="100%">
    <tr>
        <td colspan="2"><input type="radio" name="security_type" value="Disable" onClick="buttonFilter();this.form.submit();" ><%534%><td></tr>
    <tr>
    <td colspan="2">
        <div id="wep_radio_2G" style="display: block;">
            <input type="radio" name="security_type" value="WEP" checked ><%1190%>
        </div>
    </td>
    </tr>
    <tr>
    <td colspan="2">
        <div id="wpa_radio_2G" style="display: block;">
        <input type="radio" name="security_type" value="WPA-PSK" <%1191%> onClick="wpapskCheck();" ><%1192%>
        </div>
    </td>
    </tr>
    <tr>
        <td colspan="2"><input type="radio" name="security_type" value="WPA2-PSK" <%1191%> onClick="buttonFilter();this.form.submit();" ><%1193%></td></tr>
    <tr>
        <td colspan="2"><input type="radio" name="security_type" value="AUTO-PSK" <%1191%> onClick="autopskCheck();" ><%1194%></td></tr>
</table>
</td></tr>
      

    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    <tr>
      <td colspan="2"><a href="javascript:loadhelp('WLG_wireless','wep')" tabindex="-1"><b><%1195%></b></a></td></tr>
    <tr>
      <td nowrap><%1196%>:</td>
      <td>
          <select name="authAlgm" size=1><option value="automatic"><%1197%></option><option value="sharedkey"><%1198%></option></select></td></tr>
    <tr>
      <td nowrap><%1199%>:</td>
      <td><select name="wepenc" size=1 onchange="setKeys();"><option <%1200%> value="1"><%1201%></option><option <%1202%> value="2"><%1203%></option></select></td></tr>
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    <tr>
      <td colspan="2"><a href="javascript:loadhelp('WLG_wireless','wepkey')" tabindex="-1"><b><%1204%></b></a></td></tr>
    <tr>
      <td nowrap colspan="2">
        <%1205%>: <input type="text" name="passphraseStr" size="14" maxlength="32" value=""> &nbsp;
        &nbsp;&nbsp;&nbsp;<button type="button" value="<%1206%>" name="keygen" class="button-rule" onClick="buttonClick(this,'<%1206%>');calcPassphrase(this.form)"><span class="roundleft_button">&nbsp;&nbsp; <%1206%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td></tr>
    <tr>
      <td colspan="2">
        <table>
          <tr>
            <td><%1207%> :<input type="radio"  checked name="wep_key_no" value="1"></td>
            <td align=left><input type="text" name="KEY1" maxLength=32 size=34 value="<%1208%>" onkeydown="keyCheck(this)" onfocus="this.form.wep_key_no[0].checked=true;"></td></tr>
          <tr>
            <td><%1209%> :<input type="radio" name="wep_key_no" value="2"></td>
            <td align=left><input type="text" name="KEY2" maxLength=32 size=34 value="<%1210%>" onkeydown="keyCheck(this)" onfocus="this.form.wep_key_no[1].checked=true;"></td></tr>
          <tr>
            <td><%1211%> :<input type="radio" name="wep_key_no" value="3"></td>
            <td align=left><input type="text" name="KEY3" maxLength=32 size=34 value="<%1212%>" onkeydown="keyCheck(this)" onfocus="this.form.wep_key_no[2].checked=true;"></td>
            <td></td></tr>
          <tr>
            <td><%1213%> :<input type="radio" name="wep_key_no" value="4"></td>
            <td align=left><input type="text" name="KEY4" maxLength=32 size=34 value="<%1214%>" onkeydown="keyCheck(this)" onfocus="this.form.wep_key_no[3].checked=true;"></td></tr>
        </table></td></TR>
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    
  </table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="WLG_wireless_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> Help Center </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> Show/Hide Help Center </span>
      </div>



  <input type="hidden" name="initChannel" value="<%1215%>">
  <input type="hidden" name="initAuthType" value="<%1216%>">
  <input type="hidden" name="initDefaultKey" value="<%1217%>">
  <input type="hidden" name="tempSetting" value="<%1218%>">
  <input type="hidden" name="tempRegion" value="<%1219%>">
  <input type="hidden" name="wds_enable" value="<%1220%>">  
  <input type="hidden" name="only_mode" value="0">
  <input type="hidden" name="show_wps_alert" value="<%1221%>">
  <input type="hidden" name="security_type_2G" value="<%1222%>">
<a name="helpframe-anchor"></a>
</form>

</div>
</body>
</html>

