<!DOCTYPE HTML>
<html>
<head>
<%11%>

<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
	classes.num.all.fontFamily = "Courier";
	classes.num.all.fontSize = "10pt" ;
</style>
<%145%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
var DisableFixedIP = false;
var DisableFixedDNS = false;
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });

    function setGray()
	{
		var cf = document.forms[0];
		if(cf.prevent_pin_compromise.checked)
		{
			cf.pin_attack_count.disabled = false;
		}
		else
		{
			cf.pin_attack_count.disabled = true;
		}
	}
	
    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function checkData()
{
	var cf = document.forms[0];
	var msg = "";
	var frag = parseInt(cf.frag.value,10);
	var rts = parseInt(cf.rts.value,10);
	var frag_an = parseInt(cf.frag_an.value,10);
	var rts_an = parseInt(cf.rts_an.value,10);
	var pin_attack_count = parseInt(cf.pin_attack_count.value,10);

	if ((!_isNumeric(cf.frag.value)) || isNaN(frag) || frag > 2346 || frag < 256) {
		alert("<%1235%>");
		return false;
	}
	else
		cf.frag.value = parseInt(cf.frag.value,10);
	if ((!_isNumeric(cf.rts.value)) || isNaN(rts) || rts > 2347 || rts < 1) {
		alert("<%1236%>");
		return false;
	}
	else
		cf.rts.value = parseInt(cf.rts.value,10);
		
    if ((!_isNumeric(cf.frag_an.value)) || isNaN(frag_an) || frag_an > 2346 || frag_an < 256) {
		alert("<%1235%>");
		return false;
	}
	else
		cf.frag_an.value = parseInt(cf.frag_an.value,10);
	if ((!_isNumeric(cf.rts_an.value)) || isNaN(rts_an) || rts_an > 2347 || rts_an < 1) {
		alert("<%1236%>");
		return false;
	}
	else
		cf.rts_an.value = parseInt(cf.rts_an.value,10);
		
	if ((!_isNumeric(cf.pin_attack_count.value)) || isNaN(pin_attack_count) || pin_attack_count > 10 || pin_attack_count < 1) {
		alert("Failed PIN connections value is outside the range 1-10.");
		return false;
	}

	if (cf.wifi_onoff.checked == true)
	    cf.wifi_2g_sche_onoff.value = "1";
	else
	    cf.wifi_2g_sche_onoff.value = "0";
	if (cf.wifi_onoff_an.checked == true)
	    cf.wifi_5g_sche_onoff.value = "1";
	else
	    cf.wifi_5g_sche_onoff.value = "0";
	
	if (msg.length > 1)
	{
		alert(msg);
		return false;
	}
	return true;
}

function chgSel_2g(index)
{
    document.forms[0].select_2g_sche.value = index;
    return true;
}
function chgSel_5g(index)
{
    document.forms[0].select_5g_sche.value = index;
    return true;
}

function loadSettings()
{
	var cf = document.forms[0];
	var i;
    var wifi_2g_num;
    var wifi_5g_num;
    
    wifi_2g_num = parseInt(cf.wifi_2g_sche_num.value, 10);
    wifi_5g_num = parseInt(cf.wifi_5g_sche_num.value, 10);
    
	if (cf.wps_enable.value == "disabled")
	{
		cf.pin_disable.disabled = true;
		cf.wsc_config.disabled = true;
		cf.wsc_config_an.disabled = true;
	}
	
	display_wps_attack_compromise();
	
	setGray();
}
function showWpsAlert()
{
    var cf = document.forms[0];
    if(cf.show_wps_alert.value == "1")
        alert("WPS process is in progress, please apply the changes later.");
}
function set2GState()
{
    var cf = document.forms[0];
    if(cf.wsc_config.checked == true)
    {
        cf.wsc_config.checked = true;
        cf.wsc_config_an.checked = true;
    }
    if(cf.wsc_config.checked == false)
    {
        cf.wsc_config.checked = false;
        cf.wsc_config_an.checked = false;
    }
}
function set5GState()
{
    var cf = document.forms[0];
    if(cf.wsc_config_an.checked == true)
    {
        cf.wsc_config.checked = true;
        cf.wsc_config_an.checked = true;
    }
    if(cf.wsc_config_an.checked == false)
    {
        cf.wsc_config.checked = false;
        cf.wsc_config_an.checked = false;
    }
}
function check_wifi_sche()
{
    var cf = document.forms[0];
    if (cf.ntp_synced_flag.value == 1 && cf.enable_ap.checked == true)
    {
        document.getElementById("wifi_sche_div1").disabled = false;
        for(var i=0 ; i<$(".wifi_sche_div3").length ; i++)
            $(".wifi_sche_div3")[i].disabled = false;
			
        ungrayout_button("add_sche");  
        ungrayout_button("edit_sche");
        ungrayout_button("del_sche");  
    }
    else
    {
        document.getElementById("wifi_sche_div1").disabled = true;
        for(var i=0 ; i<$(".wifi_sche_div3").length ; i++)
            $(".wifi_sche_div3")[i].disabled = true;
      
        grayout_button("add_sche");   
        grayout_button("edit_sche"); 
        grayout_button("del_sche"); 
    }
    if (cf.ntp_synced_flag.value == 1 && cf.enable_ap_an.checked == true)
    {
        document.getElementById("wifi_5g_sche_div1").disabled = false;
        for(var i=0 ; i<$(".wifi_5g_sche_div3").length ; i++)
            $(".wifi_5g_sche_div3")[i].disabled = false;
			
        ungrayout_button("add_sche_an");  
        ungrayout_button("edit_sche_an");
        ungrayout_button("del_sche_an");  

    }
    else
    {
        document.getElementById("wifi_5g_sche_div1").disabled = true;
        for(var i=0 ; i<$(".wifi_5g_sche_div3").length ; i++)
            $(".wifi_5g_sche_div3")[i].disabled = true;
      
        grayout_button("add_sche_an");   
        grayout_button("edit_sche_an"); 
        grayout_button("del_sche_an"); 

    }
}
function display_wps_attack_compromise()
{
    var cf = document.forms[0];
    if (cf.pin_disable.checked == true)
    {
        document.getElementById("wps_display").style.display="block";
    }
    else
    {
        document.getElementById("wps_display").style.display="none";
    }
}

function display_apmode()
{
    var cf = document.forms[0];
    if (cf.enable_ap_mode.checked == true)
    {
        document.getElementById("apmode_display").style.display="block";
    }
    else
    {
        document.getElementById("apmode_display").style.display="none";
    }
}
function setIP()
{
	var cf = document.forms[0];
	var dflag = cf.APIpAssign.checked;
	setDisabled(dflag,cf.WPethr1,cf.WPethr2,cf.WPethr3,cf.WPethr4,cf.WMask1,cf.WMask2,cf.WMask3,cf.WMask4,cf.WGateway1,cf.WGateway2,cf.WGateway3,cf.WGateway4);
	if (!cf.APIpAssign.checked)
	{
	    cf.APDnsAssign.checked = false;
	    setDNS();
	}
	DisableFixedIP = dflag;
}
function setDNS()
{
	var cf = document.forms[0];
	var dflag = cf.APDnsAssign.checked;
	if (!cf.APIpAssign.checked && cf.APDnsAssign.checked)
	{
		cf.APDnsAssign.checked = false;
		dflag = false;
	}
	setDisabled(dflag,cf.DAddr1,cf.DAddr2,cf.DAddr3,cf.DAddr4,cf.PDAddr1,cf.PDAddr2,cf.PDAddr3,cf.PDAddr4);
	DisableFixedDNS = dflag;
}

//-->
</script>
</head>
<body  onload="change_size();loadSettings();highLightMenu('adv_header', 'adv_wireless_set');check_wifi_sche();check_wifi_sche();showWpsAlert();" class="page-body"  onResize="change_size();" >
<img class="cover-image" src="<%148%>">
<img class="body-image" src="<%149%>">
<div id="full-page-container">

<form id="target"  name="formname" method="POST" action="wlg_adv.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<img class="subtop-image" src="<%150%>">
<div class="subhead2"> <%98%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%195%>"  onclick="buttonClick(this,'<%195%>');return checkData();" type="submit" name="Apply" class="button-apply" > <span class="roundleft_apply" ><%196%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%197%>" onclick="buttonClick(this,'<%197%>');reset();loadSettings();" type="button" name="Cancel" class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%198%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">

<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
  <td nowrap colspan="2"><a href="javascript:loadhelp('WLG_adv','settings')" tabindex="-1"><b><%1371%></b></a></td></tr>
<tr>
  <td colspan="2">
    <input type="checkbox"  <%1372%> name="enable_ap" value="enable_ap" onclick="check_wifi_sche()"> <%1241%> </td></tr>
<tr>
<tr>
      <td nowrap colspan="2">
        <input type="checkbox"  <%1373%> name="enable_coexistence" value="enable_coexistence"> <%1374%></td></tr> 
  <td align=left>&nbsp;&nbsp;<%1242%>:&nbsp;&nbsp;</td>
  <td align=left>
    <input TYPE="text" NAME="frag" size=5 maxlength=4 value="<%1375%>"></td></tr>
<tr>
  <td align=left>&nbsp;&nbsp;<%1244%>:&nbsp;&nbsp;</td>
  <td align=left>
    <input TYPE="text" NAME="rts" size=5 maxlength=4 value="<%1376%>"></td></tr>
<tr>
  <td align=left>&nbsp;&nbsp;<%1246%></td>
  <td align=left>
      <select name="enable_shortpreamble"><option value="" <%1247%>><%1248%></option><option value="enable_shortpreamble" <%1377%>><%1250%></option></select></td></tr>
<tr>
  <td colspan="2">
    <div >
    <input id="wifi_sche_div1" type="checkbox"  <%1251%> name="wifi_onoff" value="wifi_onoff"> <%610%> 
    </div>
  </td>
</tr>
<tr>
  <td colspan="2" >
    <div id="wifi_sche_div2">
      <b><%1252%></b>
    </div>
  </td>
</tr>
<tr>
  <td colspan="2">
    <div >
    <table border="1" cellpadding="2" cellspacing="0" width="100%">
	<tr><td width="10%" align="center"><span class="thead"><%1253%></b></td>
		<td width="20%" align="center"><span class="thead"><%1254%></b></td>
		<td width="20%" align="center"><span class="thead"><%1255%></b></td>
		<td width="50%" align="center"><span class="thead"><%1256%></b></td>
	</tr>
	<%1257%>
	</table>
	</div>
  </td>
</tr>
<tr>
  <td colspan="2" align="center">
    &nbsp;&nbsp;&nbsp;<button type="submit" value="<%1237%>" id="add_sche" name="add_sche" class="button-rule" onclick="buttonClick(this,'<%1237%>');" ><span class="roundleft_button"><span class="add-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%1237%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
    &nbsp;&nbsp;&nbsp;<button type="submit" value="<%347%>" id="edit_sche" name="edit_sche" class="button-rule" onclick="buttonClick(this,'<%347%>');" ><span class="roundleft_button"><span class="edit-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%347%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
    &nbsp;&nbsp;&nbsp;<button type="submit" value="<%348%>" id="del_sche" name="del_sche" class="button-rule" onclick="buttonClick(this,'<%348%>');" ><span class="roundleft_button"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;  <%348%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
  </td>
</tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<tr>
  <td nowrap colspan="2"><a href="javascript:loadhelp('WLG_adv','settings')" tabindex="-1"><b><%1378%></b></a></td></tr>
<tr>
  <td colspan="2">
    <input type="checkbox"  <%1379%> name="enable_ap_an" value="w_5g_enable_ap" onclick="check_wifi_sche()"> <%1241%> </td></tr>
<!--<tr>
      <td nowrap colspan="2">
        <input type="checkbox"  <%1380%> name="enable_coexistence_an" value="enable_coexistence_an"> <%1374%></td></tr>-->



<tr>
 
  <td align=left>&nbsp;&nbsp;<%1242%>:&nbsp;&nbsp;</td>
  <td align=left>
    <input TYPE="text" NAME="frag_an" size=5 maxlength=4 value="<%1381%>"></td></tr>
<tr>
  <td align=left>&nbsp;&nbsp;<%1244%>:&nbsp;&nbsp;</td>
  <td align=left>
    <input TYPE="text" NAME="rts_an" size=5 maxlength=4 value="<%1382%>"></td></tr>
<tr>
  <td align=left>&nbsp;&nbsp;<%1246%></td>
  <td align=left>
      <select name="enable_shortpreamble_an"><option value="" <%1383%>><%1248%></option><option value="w_5g_enable_shortpreamble" <%1384%>><%1250%></option></select></td></tr>
<tr>
  <td colspan="2">
    <div >
    <input id="wifi_5g_sche_div1" type="checkbox"  <%1385%> name="wifi_onoff_an" value="wifi_onoff_an"> <%610%> 
    </div>
  </td>
</tr>
<tr>
  <td colspan="2" >
    <div id="wifi_5g_sche_div2">
    <b><%1252%></b>
    </div>
  </td>
</tr>
<tr>
  <td colspan="2">
    <div >
    <table border="1" cellpadding="2" cellspacing="0" width="100%">
	<tr><td width="10%" align="center"><span class="thead"><%1253%></b></td>
		<td width="20%" align="center"><span class="thead"><%1254%></b></td>
		<td width="20%" align="center"><span class="thead"><%1255%></b></td>
		<td width="50%" align="center"><span class="thead"><%1256%></b></td>
	</tr>
	<%1386%>
	</table>
	</div>
  </td>
</tr>
<tr>
  <td colspan="2" align="center">
    &nbsp;&nbsp;&nbsp;<button type="submit" value="<%1237%>" id="add_sche_an" name="add_sche_an" class="button-rule" onclick="buttonClick(this,'<%1237%>');" ><span class="roundleft_button"><span class="add-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%1237%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
    &nbsp;&nbsp;&nbsp;<button type="submit" value="<%347%>" id="edit_sche_an" name="edit_sche_an" class="button-rule" onclick="buttonClick(this,'<%347%>');" ><span class="roundleft_button"><span class="edit-icon">&nbsp;&nbsp;&nbsp;&nbsp; <%347%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
    &nbsp;&nbsp;&nbsp;<button type="submit" value="<%348%>" id="del_sche_an" name="del_sche_an" class="button-rule" onclick="buttonClick(this,'<%348%>');" ><span class="roundleft_button"><span class="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;  <%348%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
  </td>
</tr>
  <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>


 <tr>
  <td width="60%" colspan="2" ><b><%1258%></b></td>
 </tr>

 <tr>

  <%1259%>
  <td width="60%">&nbsp;&nbsp;<%1260%>:</td>
  <td width="40%"><b><font size=4><%1261%></font></b></td>
  <%1262%>
  <%1263%>
  <td width="60%"><font color=gray>&nbsp;&nbsp;<%1260%>:</font></td>
  <td width="40%"><b><font size=4 color=gray><%1261%></font></b></td>
  <%1264%>
  
 </tr>

 <tr>
  <td colspan=2>
  <INPUT TYPE="checkbox" NAME="pin_disable" VALUE="1" <%1265%> onclick="display_wps_attack_compromise();">
  <%1387%> <%1388%> <%1268%><%1389%>
  </td>
 </tr>
 
 <tr>
  <td colspan=2>
    <div id="wps_display" style="display: none;">
    	<DD>
    	<INPUT TYPE="checkbox" NAME="prevent_pin_compromise" VALUE="1" onclick = "javascript:setGray();" <%1390%> >
        	<%1391%>
        	<input TYPE="text" class="num" NAME="pin_attack_count" size=2 maxlength=2 value="<%1392%>" style="width:20px" ;">
         	<%1393%> 
         	<DD>
         	<%1394%>
    </div>
  </td>
 </tr>

 <tr>
  <td colspan=2>
  <INPUT TYPE="checkbox" NAME="wsc_config" <%1269%> onclick="set2GState();">
  <%1387%>  <%1395%><%1389%>
  </td>
 </tr>
 <tr>
  <td colspan=2>
  <INPUT TYPE="checkbox" NAME="wsc_config_an" <%1396%> onclick="set5GState();">
  <%1387%><%1397%> <%1389%>
</td>
</tr>


<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<%1398%>
<tr>
  <td nowrap><a href="javascript:loadhelp('WLG_adv','access')" tabindex="-1"><b><%1278%></b></a></td>
  <td align="left">
      &nbsp;&nbsp;&nbsp;<button type="button" value="access" name="access" class="button-rule" onClick="buttonClick(this,'access');self.location.href='WLG_acl.htm'"><span class="roundleft_button">&nbsp;&nbsp; <%1279%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td></tr>
<tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
<%1399%>	

</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="WLG_adv_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%158%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%159%> </span>
      </div>



<input type="hidden" name="wps_enable" value="<%1280%>">
<input type="hidden" name="show_wps_alert" value="<%1221%>">
<input type="hidden" name="wifi_2g_state" value="<%1055%>">
<input type="hidden" name="wifi_5g_state" value="<%1056%>">
<input type="hidden" name="wifi_2g_sche" value="<%1281%>">
<input type="hidden" name="wifi_2g_sche_onoff" value="">
<input type="hidden" name="wifi_5g_sche" value="<%1400%>">
<input type="hidden" name="wifi_5g_sche_onoff" value="">
<input type="hidden" name="wifi_2g_sche_num" value="<%1282%>">
<input type="hidden" name="wifi_5g_sche_num" value="<%1401%>">
<input type="hidden" name="ntp_synced_flag" value="<%1283%>">
<input type="hidden" name="select_2g_sche" value="-1">
<input type="hidden" name="select_5g_sche" value="-1">
<a name="helpframe-anchor"></a>
</form>
</div>
</body>
 <head>
  <%11%>
</head>

</html>
