<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
    classes.num.all.fontFamily = "Courier";
    classes.num.all.fontSize = "10pt" ;
</style>
<%145%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
var initialized = false;

function initScrn()
{
    var defaultKey;
    var fm=document.forms[0];
    var i;

    if (fm.bssid_enable.value == "1")
        fm.enable_bssid_an.checked = true;
    else
        fm.enable_bssid_an.checked = false;

    if (fm.ssid_bc_enable.value == "1")
        fm.enable_ssid_bc_an.checked = true;
    else
        fm.enable_ssid_bc_an.checked = false;

    if (fm.enable_allow_access.value == "1" || fm.enable_apmode.value == "1")
        fm.allow_access_an.checked = true;
    else
        fm.allow_access_an.checked = false;

    if(fm.enable_apmode.value == "1")
        fm.allow_access_an.disabled = true;
         
    if (fm.enable_isolation.value == "1")
        fm.enable_isolate_an.checked = true;
    else if (fm.enable_isolation.value != "111")
        fm.enable_isolate_an.checked = false;

    for (i=0; i<fm.authAlgm_an.length; i++)
    {
        if (fm.authAlgm_an[i].value == fm.initAuthType.value)
        {
            fm.authAlgm_an[i].selected = true;
            break;
        }
    }

    defaultKey = parseInt(fm.initDefaultKey.value);
    if ( defaultKey >= 0 && defaultKey <= 3)
        document.forms[0].wep_key_no_an[defaultKey].checked = true;
    else
		document.forms[0].wep_key_no_an[0].checked = true;

    initialized = true;
}

function setKeys()
{
    var cf = document.forms[0];
    cf.passphraseStr_an.disabled = false;
    cf.KEY1_an.disabled = cf.KEY2_an.disabled = cf.KEY3_an.disabled = cf.KEY4_an.disabled = false;
    if (cf.wepenc_an.selectedIndex == 0)
    {
        cf.Generate_an.disabled = false;
        cf.passphraseStr_an.disabled = false;        
        keysize = 10;
        cf.KEY1_an.size = cf.KEY2_an.size = cf.KEY3_an.size = cf.KEY4_an.size = keysize + 2 ; // extra for Mac
        if (cf.KEY1_an.value.length>10)
            cf.KEY1_an.value = cf.KEY1_an.value.substring(0,10);
        if (cf.KEY2_an.value.length>10)
            cf.KEY2_an.value = cf.KEY2_an.value.substring(0,10);
        if (cf.KEY3_an.value.length>10)
            cf.KEY3_an.value = cf.KEY3_an.value.substring(0,10);
        if (cf.KEY4_an.value.length>10)
            cf.KEY4_an.value = cf.KEY4_an.value.substring(0,10);
    }
    else if(cf.wepenc_an.selectedIndex == 1)
    {
        cf.Generate_an.disabled = false;
        cf.passphraseStr_an.disabled = false;        
        keysize = 26;
        cf.KEY1_an.size = cf.KEY2_an.size = cf.KEY3_an.size = cf.KEY4_an.size = keysize + 2; // extra for Mac
        if (cf.KEY1_an.value.length>26)
            cf.KEY1_an.value = cf.KEY1_an.value.substring(0,26);
        if (cf.KEY2_an.value.length>26)
            cf.KEY2_an.value = cf.KEY2_an.value.substring(0,26);
        if (cf.KEY3_an.value.length>26)
            cf.KEY3_an.value = cf.KEY3_an.value.substring(0,26);
        if (cf.KEY4_an.value.length>26)
            cf.KEY4_an.value = cf.KEY4_an.value.substring(0,26);
    }
    else if(cf.wepenc_an.selectedIndex == 2)
    {
        cf.Generate_an.disabled = true;
        cf.passphraseStr_an.disabled = true;
        keysize = 32;
        cf.KEY1_an.size = cf.KEY2_an.size = cf.KEY3_an.size = cf.KEY4_an.size = keysize + 2; // extra for Mac
    }
}

function wpapskCheck()
{
    var cf = document.forms[0];
    var wlan_mode = "<%1428%>";
    if (wlan_mode != "g&#32;and&#32;b")
    {
        alert("<%1132%>");
    	document.forms[0].submit();
    }
    else
        document.forms[0].submit();
}
function autopskCheck()
{
    var cf = document.forms[0];
    var wlan_mode = "<%1428%>";
    if (wlan_mode != "g&#32;and&#32;b")
    {
        alert("<%1133%>");
        document.forms[0].submit();
    }
    else
        document.forms[0].submit();
    return true;
}

function checkData()
{
    var msg_key64_type = "<%1141%> ";
    var msg_key128_type = "<%1142%> ";

    var cf = document.forms[0];
    var msg = ""; var blankFlag = false; var sizeOK = false; var i;
    var len = (cf.wepenc_an.selectedIndex==0)?10:((cf.wepenc_an.selectedIndex==1)?26:32);
    
    if (cf.ssid_an.value == "")
    {
        alert("<%1143%>");
        return false;
    }

    if (cf.ssid_an.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<%1144%>");
        cf.ssid.focus();
        return false;
    }

    for (i = 1; i < 5; i++ )
    {
        msg = "";
        blankFlag = ! (eval("(cf.wep_key_no_an[" + (i-1) + "].checked)")); // default key
        if( (blankFlag) && (eval("(cf.KEY" + i + "_an" + ".value.length == 0)")) )
            continue; // blank ok
        sizeOK = ((eval("isHex(cf.KEY" + i + "_an" +".value)")) && (eval("(cf.KEY" + i + "_an" + ".value.length == len)")));
        if (!sizeOK)
        {
            msg += (len == 10)?msg_key64_type:msg_key128_type;
            alertR(msg);
            if (i==1)
                cf.KEY1_an.focus();
            else if (i==2)
                cf.KEY2_an.focus();
            else if (i==3)
                cf.KEY3_an.focus();
            else if (i==4)
                cf.KEY4_an.focus();
            return false;
        }
    }
    
    if(cf.enable_ssid_bc_an.checked)
    {
        parent.document.forms[0].enable_ssid_bc_an.value = "ssid_5G_bc";    
    }
    else
    {
        parent.document.forms[0].enable_ssid_bc_an.value = "";
    }
    if(cf.enable_bssid_an.checked)
    {
        parent.document.forms[0].enable_bssid_an.value = 1;
    }
    else
    {
        parent.document.forms[0].enable_bssid_an.value = "";
    }
    if(cf.allow_access_an.checked)
    {
        parent.document.forms[0].allow_access_an.value = 1;
    }
    else
    {
        parent.document.forms[0].allow_access_an.value = "";
    }
    if(cf.enable_isolate_an.checked)
    {
        parent.document.forms[0].enable_isolate_an.value = 1;
    }
    else
    {
        parent.document.forms[0].enable_isolate_an.value = "";
    }
    if(cf.wep_key_no_an[0].checked == true)
    {
        parent.document.forms[0].wep_key_no_an.value = "1";
    }
    else if(cf.wep_key_no_an[1].checked == true)
    {
        parent.document.forms[0].wep_key_no_an.value = "2";
    }
    else if(cf.wep_key_no_an[2].checked == true)
    {
        parent.document.forms[0].wep_key_no_an.value = "3";
    }
    else if(cf.wep_key_no_an[3].checked == true)
    {
        parent.document.forms[0].wep_key_no_an.value = "4";
    }
    parent.document.forms[0].ssid_an.value = cf.ssid_an.value;
    parent.document.forms[0].security_type_an.value = "WEP";
    parent.document.forms[0].authAlgm_an.value = cf.authAlgm_an.value;
    parent.document.forms[0].wepenc_an.value = cf.wepenc_an.value;
    parent.document.forms[0].KEY1_an.value = cf.KEY1_an.value;
    parent.document.forms[0].KEY2_an.value = cf.KEY2_an.value;
    parent.document.forms[0].KEY3_an.value = cf.KEY3_an.value;
    parent.document.forms[0].KEY4_an.value = cf.KEY4_an.value;
    parent.document.forms[0].load_5g_frame.value = "1";
    return true;
}
// ---------------------------- Start WEP functions
var lastkeypressed;
var keyTooBig = false;
var mustbeHEX = false;
var keysize;
var lastObj;

if (document.layers) document.captureEvents(Event.KEYPRESS);
    document.onkeypress = checkKey;
function checkKey(evt)
{
    evt = (evt) ? evt : ((window.event) ? window.event : null);
    if (evt)
        lastkeypressed = (evt.keyCode) ? evt.keyCode : (evt.which ) ? evt.which : null;
    if ((lastkeypressed != 13) && (lastkeypressed != 8) && ( keyTooBig ))
    {
        keyTooBig = false;
        alert("<%1147%> " + keysize + " <%1148%>");
        chkSize(lastObj); // for NS 6/7
        return false;
    }
    else if (mustbeHEX) // not used here, don't know which input is being used
    {
        mustbeHEX = false;
        if ( ((lastkeypressed > 47) && (lastkeypressed < 58 ))
            || ((lastkeypressed > 96) && (lastkeypressed < 103))
            || ((lastkeypressed > 64) && (lastkeypressed < 71 ))
            || (lastkeypressed == 8)
            || (lastkeypressed == 13) )
            return true; // OK
        else
            return false;
    }
    return true;
}
function chkSize(fobj)
{
    if(fobj.value.length > keysize)
        fobj.value = fobj.value.substr(0,keysize);
}
function keyCheck(fobj)
{
    lastObj = fobj;
    keyTooBig = (fobj.value.length >= keysize ) ? true : false;
}
function calcPassphrase(F)
{
    if(F.passphraseStr_an.value.length == 0)
        return;
    switch(F.wepenc_an.selectedIndex)
    {
        case 0:
            PassPhrase40(F);
            break;
        case 1:
            PassPhrase104(F);
            break;
        default:
            break;
    }
}
function PassPhrase40(F)
{
    var seed = 0;
    var pseed = new Array(0, 0, 0, 0);
    var pkey = new Array(4);
    var asciiObj = new Array(4);
    Length = F.passphraseStr_an.value.length;
    if(Length != 0)
    {
        for (i=0; i<Length; i++ )
            pseed[i%4] ^= F.passphraseStr_an.value.charCodeAt(i);
        seed = pseed[0];
        seed += pseed[1] << 8;
        seed += pseed[2] << 16;
        seed += pseed[3] << 24;
    }
    F.KEY1_an.value = F.KEY2_an.value = "";
    F.KEY3_an.value = F.KEY4_an.value = "";
    pkey[0] = F.KEY1_an;
    pkey[1] = F.KEY2_an;
    pkey[2] = F.KEY3_an;
    pkey[3] = F.KEY4_an;
    for(j=0; j<4; j++)
    {
        for (i=0; i<5 ;i++ )
        {
            seed = (214013 * seed) & 0xffffffff;
            if(seed & 0x80000000)
                seed = (seed & 0x7fffffff) + 0x80000000 + 0x269ec3;
            else
                seed = (seed & 0x7fffffff) + 0x269ec3;
            temp = ((seed >> 16) & 0xff);
            if(temp < 0x10)
                pkey[j].value += "0" + temp.toString(16).toUpperCase();
            else
                pkey[j].value += temp.toString(16).toUpperCase();
        }
    }
    F.wep_key_no_an[0].checked = true;
}
function PassPhrase104(F)
{
    var pseed2 = "";
    Length2 = F.passphraseStr_an.value.length;
    var asciiObj = "";
    for(p=0; p<64; p++)
    {
        tempCount = p % Length2;
        pseed2 += F.passphraseStr_an.value.substring(tempCount, tempCount+1);
    }
    md5Str = calcMD5(pseed2);
    F.KEY1_an.value = md5Str.substring(0, 26).toUpperCase();
    F.KEY2_an.value = F.KEY1_an.value;
    F.KEY3_an.value = F.KEY1_an.value;
    F.KEY4_an.value = F.KEY1_an.value;
    F.wep_key_no_an[0].checked = true;
}
// -->
</script>
</head>
<body  onload="initScrn();setKeys();" style="background-color:transparent">
<form method="POST" action="wlg_sec_profile_main.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
<td colspan="2" background="liteblue.gif" height="12">&nbsp; </td></tr>
<tr>
<td colspan="2"><a href="javascript:parent.loadhelp('WLG_wireless_2','wireless')" tabindex="-1"><b><%1342%> - <%1406%></b></a></td>
</tr>
<tr>
<td align="left"><input type="checkbox" name="enable_bssid_an" value="1"><%1407%></td>
</tr>

<%1152%>
<tr>
<td align="left"><input type="checkbox" name="enable_isolate_an" value="1"><%1154%></td>
</tr>
<%1155%>

<tr>
<td align="left"><input type="checkbox" name="enable_ssid_bc_an" value="1"><%1151%></td>
</tr>

<tr>
<td align="left"><input type="checkbox" name="allow_access_an" value="1"><%1408%></td>
</tr>

<tr>
<td width="50%" align="left"><%1409%>:</td>
<td width="50%">
<input type="text" name="ssid_an" value="<%1429%>" size="20" maxlength="32"></td>
</tr>

<tr>
    <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td></tr>
<tr>
    <td colspan="2"><a href="javascript:parent.loadhelp('WLG_wireless_2','security')" tabindex="-1"><b><%1189%> - <%1406%></b></a></td></tr>

<tr><td colspan="2">
<table cellpadding="0" cellspacing="3" width="100%">
<tr>
        <td colspan="2"><input type="radio" name="security_type_an" value="Disable" onClick="buttonFilter();this.form.submit();" ><%534%><td></tr>
<tr>
        <td colspan="2"><input type="radio" name="security_type_an" value="WEP" checked ><%1190%></td></tr>
<tr>
    <td colspan="2"><input type="radio" name="security_type_an" value="WPA-PSK" <%1349%> onClick="wpapskCheck();" ><%1192%></td></tr>
<tr>
        <td colspan="2"><input type="radio" name="security_type_an" value="WPA2-PSK" <%1349%> onClick="buttonFilter();this.form.submit();" ><%1193%></td></tr>
<tr>
        <td colspan="2"><input type="radio" name="security_type_an" value="AUTO-PSK" <%1349%> onClick="autopskCheck();" ><%1194%></td></tr>
</table>
</td></tr>

    <tr>
      <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td></tr>
    <tr>
      <td colspan="2"><a href="javascript:parent.loadhelp('WLG_wireless_2','wep')" tabindex="-1"><b><%1195%></b></a></td></tr>
    <tr>
      <td nowrap><%1196%>:</td>
      <td>
          <select name="authAlgm_an" size=1><option value="automatic"><%1197%></option><!--<option selected value="opensystem">Open System</option>--><option value="sharedkey"><%1198%></option></select></td></tr>
    <tr>
      <td nowrap><%1199%>:</td>
	  <td><select name="wepenc_an" size=1 onchange="setKeys();"><option <%1430%> value="1"><%1201%></option><option <%1431%> value="2"><%1203%></option></select></td></tr>
    <tr>
      <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td></tr>
    <tr>
      <td colspan="2"><a href="javascript:parent.loadhelp('WLG_wireless_2','wepkey')" tabindex="-1"><b><%1204%></b></a></td></tr>
    <tr>
      <td nowrap colspan="2">
        <%1205%>: <input type="text" name="passphraseStr_an" size="14" maxlength="32" value=""> &nbsp;
        &nbsp;&nbsp;&nbsp;<button type="button" value="<%1206%>" name="Generate_an" class="button-rule" onClick="calcPassphrase(this.form)"><span class="roundleft_button">&nbsp;&nbsp; <%1206%></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button></td></tr>
    <tr>
      <td colspan="2">
        <table>
          <tr>
            <td><%1207%>:<input type="radio"  checked name="wep_key_no_an" value="1"></td>
            <td align=left><input type="text" name="KEY1_an" maxLength=32 size=34 value="<%1432%>" onkeydown="keyCheck(this)" onfocus="this.form.wep_key_no_an[0].checked=true;"></td></tr>
          <tr>
            <td><%1209%>:<input type="radio" name="wep_key_no_an" value="2"></td>
            <td align=left><input type="text" name="KEY2_an" maxLength=32 size=34 value="<%1433%>" onkeydown="keyCheck(this)" onfocus="this.form.wep_key_no_an[1].checked=true;"></td></tr>
          <tr>
            <td><%1211%>:<input type="radio" name="wep_key_no_an" value="3"></td>
            <td align=left><input type="text" name="KEY3_an" maxLength=32 size=34 value="<%1434%>" onkeydown="keyCheck(this)" onfocus="this.form.wep_key_no_an[2].checked=true;"></td>
            <td></td></tr>
          <tr>
            <td><%1213%>:<input type="radio" name="wep_key_no_an" value="4"></td>
            <td align=left><input type="text" name="KEY4_an" maxLength=32 size=34 value="<%1435%>" onkeydown="keyCheck(this)" onfocus="this.form.wep_key_no_an[3].checked=true;"></td></tr>
        </table></td></TR>
  </table>
  <input type="hidden" name="initAuthType" value="<%1436%>">
  <input type="hidden" name="initDefaultKey" value="<%1437%>">
  <input type="hidden" name="only_mode" value="0">
  <input type="hidden" name="bssid_enable" value="<%1438%>">
  <input type="hidden" name="ssid_bc_enable" value="<%1439%>">
  <input type="hidden" name="enable_allow_access" value="<%1440%>">
  <input type="hidden" name="enable_isolation" value="<%1441%>">
  <input type="hidden" name="enable_apmode" value="<%142%>">
</form>
</body>
</html>

