<html>
<head>
<%11%>
<title>NETGEAR Router <%12%></title>
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
    classes.num.all.fontFamily = "Courier";
    classes.num.all.fontSize = "10pt" ;
</style>
<%145%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
var initialized = false;

function displayWepRadio()
{
    var cf = document.forms[0];
    var wlan_mode = "<%1405%>";
    
    if (wlan_mode == "g&#32;and&#32;b")//Up to 54Mbps
    {
        document.getElementById("wep_radio_2G").style.display="block";
        
    }
    else
    {
        document.getElementById("wep_radio_2G").style.display="none";
    }
}

function initScrn()
{
    var defaultKey;
    var fm=document.forms[0];
    var i;

    if (fm.bssid_enable.value == "1")
        fm.enable_bssid.checked = true;
    else
        fm.enable_bssid.checked = false;

    if (fm.ssid_bc_enable.value == "1")
        fm.enable_ssid_bc.checked = true;
    else
        fm.enable_ssid_bc.checked = false;

    if (fm.enable_allow_access.value == "1" || fm.enable_apmode.value == "1")
        fm.allow_access.checked = true;
    else
        fm.allow_access.checked = false;
 
    if(fm.enable_apmode.value == "1")
        fm.allow_access.disabled = true;
     
    if (fm.enable_isolation.value == "1")
        fm.enable_isolate.checked = true;
    else if (fm.enable_isolation.value != "111")
        fm.enable_isolate.checked = false;

    displayWepRadio();
    initialized=true;
}

function wpapskCheck()
{
    var cf = document.forms[0];
    var wlan_mode = "<%1405%>";
    if (wlan_mode != "g&#32;and&#32;b")
    {
        alert("<%1132%>");
    	document.forms[0].submit();
    }
    else
        document.forms[0].submit();
}
function autopskCheck()
{
    var cf = document.forms[0];
    var wlan_mode = "<%1405%>";
    if (wlan_mode != "g&#32;and&#32;b")
    {
        alert("<%1133%>");
        document.forms[0].submit();
    }
    else
        document.forms[0].submit();
    return true;
}

function checkData()
{
    var cf = document.forms[0];

    
    if (cf.ssid.value == "")
    {
        alert("<%1143%>");
        return false;
    }

    if (cf.ssid.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<%1144%>");
        cf.ssid.focus();
        return false;
    }

    if(cf.passphrase.value.length < 8)
    {
        alert("<%1322%>");
        return false;    
    }
    if(cf.passphrase.value.length > 63)
    {
        if ( isHex(cf.passphrase.value) == false && cf.pfChanged.value==1)
        {
            alert("<%1224%>");
            cf.passphrase.value = "";
            return false;
        }    
    }
    
    if (cf.passphrase.value.match( /[^\x20-\x7E]/ ))
    {
        alert("<%1225%>");
        cf.passphrase.focus();
        return false;
    }
    
    if(cf.enable_ssid_bc.checked)
    {
        parent.document.forms[0].enable_ssid_bc.value = "ssid_24G_bc";    
    }
    else
    {
        parent.document.forms[0].enable_ssid_bc.value = "";
    }
    if(cf.enable_bssid.checked)
    {
        parent.document.forms[0].enable_bssid.value = 1;
    }
    else
    {
        parent.document.forms[0].enable_bssid.value = "";
    }
    if(cf.allow_access.checked)
    {
        parent.document.forms[0].allow_access.value = 1;
    }
    else
    {
        parent.document.forms[0].allow_access.value = "";
    }
    if(cf.enable_isolate.checked)
    {
        parent.document.forms[0].enable_isolate.value = 1;
    }
    else
    {
        parent.document.forms[0].enable_isolate.value = "";
    }
    parent.document.forms[0].ssid.value = cf.ssid.value; 
    if("<%1423%>" == "checked")
    {
        parent.document.forms[0].security_type.value = "WPA-PSK";
    }
    else if("<%1424%>" == "checked")
    {
        parent.document.forms[0].security_type.value = "WPA2-PSK";
    }
    else if("<%1425%>" == "checked")
    {
        parent.document.forms[0].security_type.value = "AUTO-PSK";
    }
    parent.document.forms[0].passphrase.value = cf.passphrase.value;
    parent.document.forms[0].load_2g_frame.value = "1";
    return true;
}
// -->
</script>
</head>
<body  onload="initScrn();" style="background-color:transparent">
<form method="POST" action="wlg_sec_profile_main.cgi">
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
<table border="0" cellpadding="0" cellspacing="3" width="100%">
<tr>
<td colspan="2" background="liteblue.gif" height="12">&nbsp; </td></tr>
<tr>
<td colspan="2"><a href="javascript:parent.loadhelp('WLG_wireless_2','wireless')" tabindex="-1"><b><%1335%> - <%1406%></b></a></td>
</tr>
<tr>
<td align="left"><input type="checkbox" name="enable_bssid" value="1"><%1407%></td>
</tr>

<%1152%>
<tr>
<td align="left"><input type="checkbox" name="enable_isolate" value="1"><%1154%></td>
</tr>
<%1155%>

<tr>
<td align="left"><input type="checkbox" name="enable_ssid_bc" value="1"><%1151%></td>
</tr>

<tr>
<td align="left"><input type="checkbox" name="allow_access" value="1"><%1408%></td>
</tr>

<tr>
<td width="50%" align="left"><%1409%>:</td>
<td width="50%">
<input type="text" name="ssid" value="<%1410%>" size="20" maxlength="32"></td>
</tr>

<tr>
    <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td></tr>
<tr>
    <td colspan="2"><a href="javascript:parent.loadhelp('WLG_wireless_2','security')" tabindex="-1"><b><%1189%> - <%1406%></b></a></td></tr>

<tr><td colspan="2">
<table cellpadding="0" cellspacing="3" width="100%">
<tr>
        <td colspan="2"><input type="radio" name="security_type" value="Disable" onClick="buttonFilter();this.form.submit();" ><%534%><td></tr>
<tr>
	<td colspan="2">
	    <div id="wep_radio_2G" style="display: block;">
	        <input type="radio" name="security_type" value="WEP" onClick="buttonFilter();this.form.submit();" ><%1190%>
	    </div>
	</td></tr>
<tr>
	<td colspan="2"><input type="radio" name="security_type" value="WPA-PSK" <%1191%> <%1423%> onClick="wpapskCheck();" ><%1192%></td></tr>
<tr>
	<td colspan="2"><input type="radio" name="security_type" value="WPA2-PSK" <%1191%> <%1424%> onClick="buttonFilter();this.form.submit();" ><%1193%></td></tr>
<tr>
	<td colspan="2"><input type="radio" name="security_type" value="AUTO-PSK" <%1191%> <%1425%> onClick="autopskCheck();" ><%1194%></td></tr>
</table>
</td></tr>

    <tr>
      <td colspan="2" background="liteblue.gif" height="12">&nbsp; </td></tr>   
    <%1426%>
    <tr>
      <td colspan="2">&nbsp;&nbsp;<%1205%>: <input type="text" name="passphrase" size=20 maxLength=64 value="<%1427%>" onFocus="if (this.form.pfChanged.value=='0') this.form.passphrase.value=''; this.form.pfChanged.value='1';">&nbsp;&nbsp;<%1231%></td></tr>
    <tr>
	  <td><img src="spacer.gif" width="20" height="2" border="0"></td></tr>
  </table>
  <input type="hidden" name="pfChanged" value="0">
  <input type="hidden" name="only_mode" value="0">
  <input type="hidden" name="bssid_enable" value="<%1419%>">
  <input type="hidden" name="ssid_bc_enable" value="<%1420%>">
  <input type="hidden" name="enable_allow_access" value="<%1421%>">
  <input type="hidden" name="enable_isolation" value="<%1422%>">
  <input type="hidden" name="enable_apmode" value="<%142%>">
</form>
</body>
</html>

