<!DOCTYPE HTML>
<html>
<head>
<%1478%>
<title>NETGEAR Router <%12%></title> 
<link rel="stylesheet" href="<%144%>">
<link rel="stylesheet" href="css/scrollbar.css">
<link rel="stylesheet" href="css/button.css">

<script src="jquery.js"></script>
<script src="script/jquery.mousewheel.js"></script>
<script type="text/javascript" src="script/jquery.jscrollpane.min.js"></script>

<script src="script/script.js"></script>
<link rel="stylesheet" href="form.css">
<STYLE TYPE="text/javascript">
classes.num.all.fontFamily = "Courier";
classes.num.all.fontSize = "10pt" ;
</style>
<%145%>
<script language="javascript" type="text/javascript">
<!-- hide script from old browsers
  
    $(document).ready(function()
    {	
//        $('.scroll-pane').jScrollPane('scrollbarMargin:5px');
        $("#target").submit(function() {
            buttonFilter();
        });

    });


    function setHelpIframeVisible(){
        $('.help-frame-div').css("visibility","visible");
    }


    function showHelpIframe() {


        var imgSrc=document.getElementById('help-button');

        if(imgSrc.src.search("up")>=0)
        {
            $(".help-frame-div").show();
            imgSrc.src="img/helparrowdown-icon.gif";
        }
        else
        {
            $(".help-frame-div").hide();
            imgSrc.src="img/helparrowup-icon.gif";
            setTimeout(setHelpIframeVisible,500);
        }
             change_size();

    }
    function moveToHTMLend()
    {
        window.location.href='#helpframe-anchor';
        setHelpIframeVisible();
    }


    function loadhelp(fname,anchname)
    {
                var pane = window.frames["helpframe"].$('#content');
                var imgSrc=document.getElementById('help-button');
                if(imgSrc.src.search("up")<0)
                {

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});


                        if ((loadhelp.arguments.length == 1 ) || (anchname == "" ))
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm";
                                $(".help-frame-div").show();
                        }
                        else
                        {
                                window.frames["helpframe"].location.href=fname+"_h.htm#" + anchname;
                                $(".help-frame-div").show();
                        }

                        $(".help-frame-div").show();
                        pane.jScrollPane({showArrows:true});

                }
    }

   

function wdsWaring()
{
	var cf = document.forms[0];
	if (cf.wds_enable.checked) {
		if (cf.wla_secu_type.value == "WPA2-PSK" || cf.wla_secu_type.value == "WPA-AUTO-PSK" || cf.wla_secu_type.value == "WPA-PSK") {
			alert("<%1479%>"); 
            cf.wds_enable.checked = false;
            update_wds_sel();
			location.href="WLG_wireless.htm";
		}
		if (cf.wla_channel.value == "0") {
			alert("<%1145%>"); 
			cf.wds_enable.checked = false;
			update_wds_sel();
			location.href="WLG_wireless.htm";
		}
	}
}
var cOFF="gray"
var cON=document.fgColor;

function be_gray(v) {

  if(typeof v.disabled != 'undefined') {
    // NS6 and IE
    v.style.color = cOFF;
    v.disabled = 1;
  }
  else {
    // NS4
    v.oldonfocus = v.onfocus;
    v.onfocus = function () { this.blur(); };
  }
}
function be_normal(v) {
  if(typeof v.disabled != 'undefined') {
    // NS6 and IE
    v.style.color = cON;
    v.disabled = 0;
  }
  else {
    // NS4
    v.onfocus = v.oldonfocus;
  }
}

function update_wds_sel()
{
	var i;
	var cf = document.forms[0];
   
	if (cf.wds_enable.checked) {
		for(i=0; i < cf.wds_mode.length; i++)
			cf.wds_mode[i].disabled = false;
	} else {
		for(i=0; i < cf.wds_mode.length; i++)
			cf.wds_mode[i].disabled = true;
	}

	cf.sysLANIPAddr1.disabled = !(cf.wds_enable.checked && cf.wds_mode[0].checked) | <%142%>=="1";
	cf.sysLANIPAddr2.disabled = !(cf.wds_enable.checked && cf.wds_mode[0].checked) | <%142%>=="1";
	cf.sysLANIPAddr3.disabled = !(cf.wds_enable.checked && cf.wds_mode[0].checked) | <%142%>=="1";
	cf.sysLANIPAddr4.disabled = !(cf.wds_enable.checked && cf.wds_mode[0].checked) | <%142%>=="1";
	cf.ptp_sta.disabled   = !(cf.wds_enable.checked && cf.wds_mode[0].checked);
	cf.ptp_mac_1.disabled = !(cf.wds_enable.checked && cf.wds_mode[0].checked);
	cf.ptp_mac_2.disabled = !(cf.wds_enable.checked && cf.wds_mode[0].checked);
	cf.ptp_mac_3.disabled = !(cf.wds_enable.checked && cf.wds_mode[0].checked);
	cf.ptp_mac_4.disabled = !(cf.wds_enable.checked && cf.wds_mode[0].checked);
	cf.ptp_mac_5.disabled = !(cf.wds_enable.checked && cf.wds_mode[0].checked);
	cf.ptp_mac_6.disabled = !(cf.wds_enable.checked && cf.wds_mode[0].checked);

	cf.pmp_sta.disabled    = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac1_1.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac1_2.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac1_3.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac1_4.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac1_5.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac1_6.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac2_1.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac2_2.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac2_3.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac2_4.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac2_5.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac2_6.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac3_1.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac3_2.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac3_3.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac3_4.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac3_5.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac3_6.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac4_1.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac4_2.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac4_3.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac4_4.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac4_5.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
	cf.pmp_mac4_6.disabled = !(cf.wds_enable.checked && cf.wds_mode[1].checked);
}

function loadSettings()
{
	var i;
	var cf = document.forms[0];
	var lan_ipaddr;

	if (cf.wds_ena.value == "1")
		cf.wds_enable.checked = true;

	if (cf.wla_repeater_ip.value != "")
		lan_ipaddr = cf.wla_repeater_ip.value.split(".");
	else {
		lan_ipaddr = cf.lan_ipaddr.value.split(".");
		lan_ipaddr[3] = "";
	}
	cf.sysLANIPAddr1.value = lan_ipaddr[0];
	cf.sysLANIPAddr2.value = lan_ipaddr[1];
	cf.sysLANIPAddr3.value = lan_ipaddr[2];
	cf.sysLANIPAddr4.value = lan_ipaddr[3];

	if (cf.wds_type.value >= 1 || 
		cf.wds_type.value <= 3)
		cf.wds_mode[cf.wds_type.value - 1].checked = true;

	if (cf.ptp_sta_assoc.value == 1)
		cf.ptp_sta.checked = false;
	else
		cf.ptp_sta.checked = true;
	if (cf.ptp_mac.value != "") {
		var ptp_mac = cf.ptp_mac.value.split(":");
		cf.ptp_mac_1.value = ptp_mac[0];
		cf.ptp_mac_2.value = ptp_mac[1];
		cf.ptp_mac_3.value = ptp_mac[2];
		cf.ptp_mac_4.value = ptp_mac[3];
		cf.ptp_mac_5.value = ptp_mac[4];
		cf.ptp_mac_6.value = ptp_mac[5];
	}

	if (cf.pmp_sta_assoc.value == 1)
		cf.pmp_sta.checked = false;
	else
		cf.pmp_sta.checked = true;
	if (cf.pmp_mac1.value != "") {
		var pmp_mac1 = cf.pmp_mac1.value.split(":");
		cf.pmp_mac1_1.value = pmp_mac1[0];
		cf.pmp_mac1_2.value = pmp_mac1[1];
		cf.pmp_mac1_3.value = pmp_mac1[2];
		cf.pmp_mac1_4.value = pmp_mac1[3];
		cf.pmp_mac1_5.value = pmp_mac1[4];
		cf.pmp_mac1_6.value = pmp_mac1[5];
	}

	if (cf.pmp_mac2.value != "") {
		var pmp_mac2 = cf.pmp_mac2.value.split(":");
		cf.pmp_mac2_1.value = pmp_mac2[0];
		cf.pmp_mac2_2.value = pmp_mac2[1];
		cf.pmp_mac2_3.value = pmp_mac2[2];
		cf.pmp_mac2_4.value = pmp_mac2[3];
		cf.pmp_mac2_5.value = pmp_mac2[4];
		cf.pmp_mac2_6.value = pmp_mac2[5];
	}

	if (cf.pmp_mac3.value != "") {
		var pmp_mac3 = cf.pmp_mac3.value.split(":");
		cf.pmp_mac3_1.value = pmp_mac3[0];
		cf.pmp_mac3_2.value = pmp_mac3[1];
		cf.pmp_mac3_3.value = pmp_mac3[2];
		cf.pmp_mac3_4.value = pmp_mac3[3];
		cf.pmp_mac3_5.value = pmp_mac3[4];
		cf.pmp_mac3_6.value = pmp_mac3[5];
	}

	if (cf.pmp_mac4.value != "") {
		var pmp_mac4 = cf.pmp_mac4.value.split(":");
		cf.pmp_mac4_1.value = pmp_mac4[0];
		cf.pmp_mac4_2.value = pmp_mac4[1];
		cf.pmp_mac4_3.value = pmp_mac4[2];
		cf.pmp_mac4_4.value = pmp_mac4[3];
		cf.pmp_mac4_5.value = pmp_mac4[4];
		cf.pmp_mac4_6.value = pmp_mac4[5];
	}

	update_wds_sel();
}

function check_mac(mac1, mac2, mac3, mac4, mac5, mac6)
{
	var msg = "";
	var m1;

	if(checkMacAddress(mac1, mac2, mac3, mac4, mac5, mac6))
		msg += "<%0%>\n";

	if (mac1.value == "00" && mac2.value == "00" && mac3.value == "00" && 
		mac4.value == "00" && mac5.value == "00" && mac6.value == "00")
		msg += "<%0%>\n";
	if (mac1.value == "FF" && mac2.value == "FF" && mac3.value == "FF" && 
		mac4.value == "FF" && mac5.value == "FF" && mac6.value == "FF")
		msg += "<%0%>\n";

	m1 = parseInt(mac1.value, 16);
	if (m1 & 1)
		msg += "<%0%>\n";

	if (msg.length > 1) {
		alert("<%0%>\n");
		return false;
	}

	return true;
}

function checkData(){
	var ptp_mac;
	var pmp_mac1,pmp_mac2,pmp_mac3,pmp_mac4;
	var cf = document.forms[0];

	cf.lan_ipaddr.value = cf.sysLANIPAddr1.value+'.'+cf.sysLANIPAddr2.value+'.'+cf.sysLANIPAddr3.value+'.'+cf.sysLANIPAddr4.value;
	ptp_mac=cf.ptp_mac_1.value+cf.ptp_mac_2.value+cf.ptp_mac_3.value+cf.ptp_mac_4.value+cf.ptp_mac_5.value+cf.ptp_mac_6.value;
	pmp_mac1=cf.pmp_mac1_1.value+cf.pmp_mac1_2.value+cf.pmp_mac1_3.value+cf.pmp_mac1_4.value+cf.pmp_mac1_5.value+cf.pmp_mac1_6.value;
	pmp_mac2=cf.pmp_mac2_1.value+cf.pmp_mac2_2.value+cf.pmp_mac2_3.value+cf.pmp_mac2_4.value+cf.pmp_mac2_5.value+cf.pmp_mac2_6.value;
	pmp_mac3=cf.pmp_mac3_1.value+cf.pmp_mac3_2.value+cf.pmp_mac3_3.value+cf.pmp_mac3_4.value+cf.pmp_mac3_5.value+cf.pmp_mac3_6.value;
	pmp_mac4=cf.pmp_mac4_1.value+cf.pmp_mac4_2.value+cf.pmp_mac4_3.value+cf.pmp_mac4_4.value+cf.pmp_mac4_5.value+cf.pmp_mac4_6.value;

	if (cf.wds_enable.checked)
	{
		if (getwds_mode()==1) {
			if(checkIP(cf.sysLANIPAddr1,cf.sysLANIPAddr2,cf.sysLANIPAddr3,cf.sysLANIPAddr4,254)||(parseInt(cf.sysLANIPAddr4.value)==0)||parseInt(cf.sysLANIPAddr1.value)>224) {
				alert("<%1480%>");
				return false;   
			}			
			if (ptp_mac.length==0) {
				alert("<%1481%>");
				return false;   
			}
			if (!check_mac(cf.ptp_mac_1, cf.ptp_mac_2, cf.ptp_mac_3, cf.ptp_mac_4, cf.ptp_mac_5, cf.ptp_mac_6))
				return false;

		} else if(getwds_mode()==2) {
			if ((pmp_mac1.length==0) && (pmp_mac2.length==0)&&
				(pmp_mac3.length==0) && (pmp_mac4.length==0)) {
				alert("<%1482%>");
				return false;   
			}

			if (pmp_mac1.length != 0)
				if (!check_mac(cf.pmp_mac1_1, cf.pmp_mac1_2, cf.pmp_mac1_3, cf.pmp_mac1_4, cf.pmp_mac1_5, cf.pmp_mac1_6))
					return false;
			if (pmp_mac2.length != 0)
				if (!check_mac(cf.pmp_mac2_1, cf.pmp_mac2_2, cf.pmp_mac2_3, cf.pmp_mac2_4, cf.pmp_mac2_5, cf.pmp_mac2_6))
					return false;
			if (pmp_mac3.length != 0)
				if (!check_mac(cf.pmp_mac3_1, cf.pmp_mac3_2, cf.pmp_mac3_3, cf.pmp_mac3_4, cf.pmp_mac3_5, cf.pmp_mac3_6))
					return false;
			if (pmp_mac4.length != 0)
				if (!check_mac(cf.pmp_mac4_1, cf.pmp_mac4_2, cf.pmp_mac4_3, cf.pmp_mac4_4, cf.pmp_mac4_5, cf.pmp_mac4_6))
					return false;

		} else {                        
			return false; 
		}
        if (getwds_mode()==1) {      
            WDS_wizard_grayout();
        }    
        else
            WDS_wizard_ungrayout();        
                /*
                if(parent.$('#int_set').hasClass('SubMenu')){
                    parent.$('#int_set').addClass('SubMenuDisable');
                    parent.$('#int_set').removeClass('SubMenu');
                } 

                if(parent.$('#wan_set').hasClass('SubMenu')){
                    parent.$('#wan_set').addClass('SubMenuDisable');
                    parent.$('#wan_set').removeClass('SubMenu');
                }  


                if(parent.$('#blk_site').hasClass('SubMenu')){
                    parent.$('#blk_site').addClass('SubMenuDisable');
                    parent.$('#blk_site').removeClass('SubMenu');
                } 

                if(parent.$('#blk_serv').hasClass('SubMenu')){
                    parent.$('#blk_serv').addClass('SubMenuDisable');
                    parent.$('#blk_serv').removeClass('SubMenu');
                }

                if(parent.$('#email').hasClass('SubMenu')){
                    parent.$('#email').addClass('SubMenuDisable');
                    parent.$('#email').removeClass('SubMenu');
                }
 
                if(parent.$('#sche').hasClass('SubMenu')){
                    parent.$('#sche').addClass('SubMenuDisable');
                    parent.$('#sche').removeClass('SubMenu');
                }


                if(parent.$('#logs').hasClass('SubMenu')){
                    parent.$('#logs').addClass('SubMenuDisable');
                    parent.$('#logs').removeClass('SubMenu');
                } 

                if(parent.$('#wds_head').hasClass('SubMenu')){
                    parent.$('#wds_head').addClass('SubMenuDisable');
                    parent.$('#wds_head').removeClass('SubMenu');
                }
       
                if(parent.$('#pf_head').hasClass('SubMenuLarge')){
                    parent.$('#pf_head').addClass('SubMenuLargeDisable');
                    parent.$('#pf_head').removeClass('SubMenuLarge');
                    parent.$('#pf_head').removeClass('SubMenu');
                    parent.$('#pf_head').removeClass('Large');
                } 

                if(parent.$('#ddns').hasClass('SubMenu')){
                    parent.$('#ddns').addClass('SubMenuDisable');
                    parent.$('#ddns').removeClass('SubMenu');
                }

                if(parent.$('#sta_rout').hasClass('SubMenu')){
                    parent.$('#sta_rout').addClass('SubMenuDisable');
                    parent.$('#sta_rout').removeClass('SubMenu');
                }

                if(parent.$('#remote').hasClass('SubMenu')){
                    parent.$('#remote').addClass('SubMenuDisable');
                    parent.$('#remote').removeClass('SubMenu');
                }

                if(parent.$('#upnp').hasClass('SubMenu')){
                    parent.$('#upnp').addClass('SubMenuDisable');
                    parent.$('#upnp').removeClass('SubMenu');
                } 
                */
 
	}

	cf.ptp_mac.value = cf.ptp_mac_1.value+":"+cf.ptp_mac_2.value+":"+cf.ptp_mac_3.value+":"+cf.ptp_mac_4.value+":"+cf.ptp_mac_5.value+":"+cf.ptp_mac_6.value;
	cf.pmp_mac1.value = cf.pmp_mac1_1.value+":"+cf.pmp_mac1_2.value+":"+cf.pmp_mac1_3.value+":"+cf.pmp_mac1_4.value+":"+cf.pmp_mac1_5.value+":"+cf.pmp_mac1_6.value;
	cf.pmp_mac2.value=cf.pmp_mac2_1.value+":"+cf.pmp_mac2_2.value+":"+cf.pmp_mac2_3.value+":"+cf.pmp_mac2_4.value+":"+cf.pmp_mac2_5.value+":"+cf.pmp_mac2_6.value;
	cf.pmp_mac3.value=cf.pmp_mac3_1.value+":"+cf.pmp_mac3_2.value+":"+cf.pmp_mac3_3.value+":"+cf.pmp_mac3_4.value+":"+cf.pmp_mac3_5.value+":"+cf.pmp_mac3_6.value;
	cf.pmp_mac4.value=cf.pmp_mac4_1.value+":"+cf.pmp_mac4_2.value+":"+cf.pmp_mac4_3.value+":"+cf.pmp_mac4_4.value+":"+cf.pmp_mac4_5.value+":"+cf.pmp_mac4_6.value;
        if (!cf.wds_enable.checked){
                   WDS_wizard_ungrayout();
                /*
                if(parent.$('#int_set').hasClass('SubMenuDisable')){
                    parent.$('#int_set').addClass('SubMenu');
                    parent.$('#int_set').removeClass('SubMenuDisable');
                } 

                if(parent.$('#wan_set').hasClass('SubMenuDisable')){
                    parent.$('#wan_set').addClass('SubMenu');
                    parent.$('#wan_set').removeClass('SubMenuDisable');
                }  


                if(parent.$('#blk_site').hasClass('SubMenuDisable')){
                    parent.$('#blk_site').addClass('SubMenu');
                    parent.$('#blk_site').removeClass('SubMenuDisable');
                } 

                if(parent.$('#blk_serv').hasClass('SubMenuDisable')){
                    parent.$('#blk_serv').addClass('SubMenu');
                    parent.$('#blk_serv').removeClass('SubMenuDisable');
                }

                if(parent.$('#email').hasClass('SubMenuDisable')){
                    parent.$('#email').addClass('SubMenu');
                    parent.$('#email').removeClass('SubMenuDisable');
                }
 
                if(parent.$('#sche').hasClass('SubMenuDisable')){
                    parent.$('#sche').addClass('SubMenu');
                    parent.$('#sche').removeClass('SubMenuDisable');
                }


                if(parent.$('#logs').hasClass('SubMenuDisable')){
                    parent.$('#logs').addClass('SubMenu');
                    parent.$('#logs').removeClass('SubMenuDisable');
                } 

                if(parent.$('#wds_head').hasClass('SubMenuDisable')){
                    parent.$('#wds_head').addClass('SubMenu');
                    parent.$('#wds_head').removeClass('SubMenuDisable');
                }
       
                if(parent.$('#pf_head').hasClass('SubMenuLargeDisable')){
                    parent.$('#pf_head').addClass('SubMenuLarge');
                    parent.$('#pf_head').addClass('SubMenu');
                    parent.$('#pf_head').addClass('Large');
                    parent.$('#pf_head').removeClass('SubMenuLargeDisable');
                } 

                if(parent.$('#ddns').hasClass('SubMenuDisable')){
                    parent.$('#ddns').addClass('SubMenu');
                    parent.$('#ddns').removeClass('SubMenuDisable');
                }

                if(parent.$('#sta_rout').hasClass('SubMenuDisable')){
                    parent.$('#sta_rout').addClass('SubMenu');
                    parent.$('#sta_rout').removeClass('SubMenuDisable');
                }

                if(parent.$('#remote').hasClass('SubMenuDisable')){
                    parent.$('#remote').addClass('SubMenu');
                    parent.$('#remote').removeClass('SubMenuDisable');
                }

                if(parent.$('#upnp').hasClass('SubMenuDisable')){
                    parent.$('#upnp').addClass('SubMenu');
                    parent.$('#upnp').removeClass('SubMenuDisable');
                }
                */ 

        }     

  return true;
}



function getwds_mode(){
	var i;
	var cf = document.forms[0];
	for(i=0; i < cf.wds_mode.length; i++){ 
		if(eval("cf.wds_mode[i].checked")==true) 
		break 
	} 
	if(i >= cf.wds_mode.length) return (-1)
		return(Number(cf.wds_mode[i].value))
}


function showWpsAlert()
{
    var cf = document.forms[0];
    if(cf.show_wps_alert.value == "1")
        alert("<%1149%>");
}
//-->
</script>
</head>
<body  onLoad="loadSettings();showWpsAlert();" class="page-body"  onload="change_size();"  onResize="change_size();" >
<img class="cover-image" src="<%148%>">
<img class="body-image" src="<%149%>">
<div id="full-page-container">

<form id="target"  method="POST" action="wds.cgi" NAME=general>
<input type="hidden" name="buttonHit"><input type="hidden" name="buttonValue">
  <img class="subtop-image" src="<%150%>">
<div class="subhead2"> <%789%></div>
<table border="0"    style="height:370px"  class="subhead2-table">

<tr align="left" valign="middle">
<td  style="padding-top:10px;padding-bottom:10px" align="center" colspan="2" class="table-seperate-border">
&nbsp;&nbsp;&nbsp;<button value="<%195%>"  onclick="buttonClick(this,'<%195%>');return checkData();"  type="SUBMIT"  class="button-apply" > <span class="roundleft_apply" ><%196%>&nbsp;<span class="apply-icon">&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span class="roundright_apply">&nbsp;&nbsp;&nbsp;</span></button>
&nbsp;&nbsp;&nbsp;<button value="<%197%>" onClick="buttonClick(this,'<%197%>');location.href='WLG_wds.htm';" type="button"  class="button-rule" ><span class="roundleft_button"><span class ="cancel-icon">&nbsp;&nbsp;&nbsp;&nbsp;<%198%></span></span><span class="roundright_button">&nbsp;&nbsp;&nbsp;&nbsp;</span></button>
</td>
</tr>

<tr><td class="scrollpane-table-seperate-border" colspan="2"><div class="scroll-pane" style="height:365px;width:620px;overflow:auto;scrolling:auto"><table style="border-collapse:collapse;width:97%">
    
    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    <TR>
       <TD colspan="2" nowrap valign=top><input type=checkbox NAME=wds_enable value="1" onclick='update_wds_sel();wdsWaring();'><a href="javascript:loadhelp('WLG_wds','wds')" tabindex="-1"> <b><%1483%></b></a></td>
    </tr>
    <TR>
       <TD colspan=2>&nbsp;</td>
    </tr>
 
    <TR>
        <TD colspan="2" nowrap valign=top><img src="spacer.gif" width="20" height="2" border="0"><%1484%> <b><%1485%></b></a></td>
	</tr>
     <TR>
       <TD colspan=2>&nbsp;</td>
    </tr>
   
    <TR>
        <TD colspan="2" nowrap valign=top><img src="spacer.gif" width="20" height="2" border="0"><input type=radio NAME=wds_mode value="1"  onclick='update_wds_sel()'><a href="javascript:loadhelp('WLG_wds','ptp')" tabindex="-1"> <b><%1486%></b></a></td>
	</tr>

	<tr>
    <TD nowrap align="right" valign="middle" width="50%"><div style="padding-right:16px"><%1487%></div></td>
    <TD>
    <input type="text" name="sysLANIPAddr1" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,1)" onkeyup="jumpcheck(this,0)">.
    <input type="text" name="sysLANIPAddr2" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
    <input type="text" name="sysLANIPAddr3" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,0)">.
    <input type="text" name="sysLANIPAddr4" class="num" size="4" maxlength="3" onkeydown="bscheck(event,this,0)" onkeyup="jumpcheck(this,1)"></td>
</tr>
	
    <TR>
        <td colspan="2"><img src="spacer.gif" width="40" height="2" border="0"><input type="checkbox" NAME="ptp_sta" value="1"><%1488%></td>
    </tr>
    <TR>
       <TD nowrap align="right" valign="middle" width="50%"><div style="padding-right:16px"><%1489%></div></td>
       <TD>
         <input type=text class="num" name=ptp_mac_1 value="" size="2" maxlength="2">:
         <input type=text class="num" name=ptp_mac_2 value="" size="2" maxlength="2">:
         <input type=text class="num" name=ptp_mac_3 value="" size="2" maxlength="2">:
         <input type=text class="num" name=ptp_mac_4 value="" size="2" maxlength="2">:
         <input type=text class="num" name=ptp_mac_5 value="" size="2" maxlength="2">:
         <input type=text class="num" name=ptp_mac_6 value="" size="2" maxlength="2">
       </td>
    </tr>
    <TR>
       <TD colspan="2" nowrap valign=top><img src="spacer.gif" width="20" height="2" border="0"><input type=radio NAME=wds_mode value="2"  onclick='update_wds_sel()'><a href="javascript:loadhelp('WLG_wds','ptmp')" tabindex="-1"> <b><%1490%></b></a></td>
    </tr>
    <TR>
       <td colspan="2"><img src="spacer.gif" width="40" height="2" border="0"><input type=checkbox NAME="pmp_sta" value="1"> <%1488%></td>
    </tr>
    <TR>
       <TD nowrap align="right" valign="middle"><%1491%> &nbsp;</td>
       <TD>
         <input type=text class="num" name=pmp_mac1_1 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac1_2 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac1_3 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac1_4 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac1_5 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac1_6 value="" size="2" maxlength="2">
       </td>
    </tr>
    <TR>
       <TD nowrap align="right" valign="middle"><%1492%> &nbsp;</td>
       <TD>
         <input type=text class="num" name=pmp_mac2_1 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac2_2 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac2_3 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac2_4 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac2_5 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac2_6 value="" size="2" maxlength="2">
         &nbsp;
       </td>
    </tr>
    <TR>
       <TD nowrap align="right" valign="middle"><%1493%> &nbsp;</td>
       <TD>
         <input type=text class="num" name=pmp_mac3_1 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac3_2 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac3_3 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac3_4 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac3_5 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac3_6 value="" size="2" maxlength="2">
       </td>
    </tr>
    <TR>
       <TD nowrap align="right" valign="middle"><%1494%> &nbsp;</td>
       <TD>
         <input type=text class="num" name=pmp_mac4_1 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac4_2 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac4_3 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac4_4 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac4_5 value="" size="2" maxlength="2">:
         <input type=text class="num" name=pmp_mac4_6 value="" size="2" maxlength="2">
       </td>
    </tr>

    <tr><td colspan="2" height="12" ><div style="background-image:url('liteblue.gif');width:100%">&nbsp;</div></td></tr>
    
  
</table></div></td></tr>
<tr valign="middle" align="center"><td class="table-seperate-border" colspan="2" style="padding-left:0px"><div class="help-frame-div" > <iframe id="helpframe"  src="WLG_wds_h.htm" class="help-iframe" scrolling="no" name="helpframe" frameborder="0" onload="showHelpIframe();"></iframe> </div> </td> </tr>
</table>
   <img class="subfooter-image" src="img/subhead2-bottom.gif">
<div class="subhead2-bottom" >
    <span style="float:left;padding-left:10px;padding-top:5px"><img src="img/help-icon.gif" onmouseover="changeCursorPointer();" onclick="showHelpIframe();" onmouseout="changeCursorDefault();"></span>
    <span class="subhead2-text" style="float:left;padding-left:3px;" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%158%> </span>
    <span class="button-help-arrow">
      <img src="img/helparrowdown-icon.gif" id="help-button" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();" ></span>
    <span class="subhead2-text" style="text-decoration:underline;float:right;padding-right:10px" onclick="showHelpIframe();" onmouseover="changeCursorPointer();" onmouseout="changeCursorDefault();"> <%159%> </span>
      </div>



<INPUT name=wds_ena type=hidden value= "<%1220%>">
<INPUT name=wds_type type=hidden value= "<%1495%>">
<INPUT name=ptp_mac type=hidden value= "<%1496%>">
<INPUT name=ptp_sta_assoc type=hidden value= "<%1497%>">
<INPUT name=pmp_mac1 type=hidden value= "<%1498%>">
<INPUT name=pmp_mac2 type=hidden value= "<%1499%>">
<INPUT name=pmp_mac3 type=hidden value= "<%1500%>">
<INPUT name=pmp_mac4 type=hidden value= "<%1501%>">
<INPUT name=pmp_sta_assoc type=hidden value= "<%1502%>">
<INPUT name=wla_secu_type type=hidden value= "<%1359%>">
<INPUT name=wla_channel type=hidden value= "<%1503%>">
<INPUT name=lan_ipaddr type=hidden value= "<%17%>">
<INPUT name=wla_repeater_ip type=hidden value= "<%1504%>">
<input type="hidden" name="show_wps_alert" value="<%1221%>">
<a name="helpframe-anchor"></a>
</form>

</div>
</body>
</html>
